- if related_services&.count&.positive?
  %h2.mb-4.mt-5
    = _("Recently added services")

  .card-columns.two.recently
    = render partial: "providers/service_box",
             collection: related_services,
             as: :service
