- if related_services&.count&.positive?
  .related-container
    .row
      .col-12
        %h2.mb-4.mt-5.font-weight-bolder
          = _("Recently added services")
        .row
          = render partial: "providers/service_box",
                 collection: related_services,
                 as: :service
