- from = params[:from]
- about_active = ["providers"].include?(controller_name)
.row
  .col-12.col-xl-9.pr-5
    %ul#my-tab.nav.nav-tabs.row.pl-3{ role: "tablist" }
      %li.nav-item
        = link_to _("About"), provider_path(provider),
          class: "nav-link text-uppercase #{"active" if about_active }", role: "tab",
          "data-e2e": "provider-about-btn"
      %li.nav-item
        = link_to _("Details"), provider_details_path(provider, from.present? ? { from: from } : nil),
          class: "nav-link text-uppercase #{"active" if controller.controller_name == "details" }", role: "tab",
          "data-e2e": "provider-details-btn"
