- content_for :title, _("Providers")
- breadcrumb(:providers)
%main.pages
  .container
    .row
      %h2.home-title.mb-4{ "data-e2e": "provider-list" }
        = _("Providers")
      .media.border-0
        .media-body
          .row
            .col-12.col-lg-6.communities-wrapper
            %ul.row
              - @providers.each do |provider|
                %li.col-lg-6
                  = link_to provider.name, provider_path(provider)
