- content_for :title, @provider.name
- breadcrumb :provider, @provider
.container
  .pt-4.pl-3.pr-3.shadow-sm.rounded.service-box.service-detail
    = render "providers/header", provider: @provider, question: @question
    = render "providers/tabs", provider: @provider

.tab-content
  = render "providers/about", provider: @provider, related_services: @related_services
