.learn-more
  = link_to url, class: "body" do
    .title Sample title
    .description
      %p
        ontribute to develop EOSC into a rich environment with a wide range of services and resources for researchers.
    .icon
      = image_tag(icon)
