%a{ id: "modal-show", "data-toggle": "modal", "data-target": "#question-modal", remote: true }
  Want to ask a question about this service?
= render "services/question", service: service, question: question
