- if policy(service).order?
  = link_to t("service.#{service.service_type}.order.title"),
            service_offers_path(service),
            class: "btn btn-primary d-block mb-4"
- if service.open_access? || service.catalog?
  = link_to "Go to the service", service.connected_url, class: "btn btn-primary d-block mb-4", target: "_blank"

= render "services/ask_question", service: service, question: question
