.row.p-2.notebooks-explore-info
  .col-12.col-sm-5.col-md-4.vertical-middle
    %a{ href: eosc_explore_url(tags), target: "_blank" }
      = image_tag "eosc-explore-logo.png", class: "full-width pb-sm-1"
  .col-12.col-sm-7.col-md-8.vertical-middle
    %p.mb-0
      %a{ href: eosc_explore_url(tags), target: "_blank" }
        Explore Research Products
      = _("compatible with the #{name} service (opens in a new window)")
