.col-md-6.d-flex.align-items-stretch.mb-5{ "data-controller" => "service-offer" }
  .card.offers
    = render "services/offers/description", offer: offer
    = render "services/offers/parameters", parameters: offer.attributes
    .card-button.text-center
      %label
        = link_to service_offers_path(offer.service, project_item: { offer_id: offer.iid }), method: :put do
          %span.btn.btn-primary.font-weight-bold
            = t("service.offer_select")
