#opinions.tab-pane.pt-2.container{ "aria-labelledby" => "opinions-tab", role: "tabpanel" }
  .row.pt-3
    .col-12
      %dl
        = render(partial: "service_opinions/service_opinion",
           collection: service_opinions) || "There are no opinions available."
