%table.offer-params.table.table-hover
  %tbody
    - filter_technical_parameters(parameters.map(&:to_json)).each do |parameter|
      %tr
        %td= parameter["label"]
        %td.text-right.text-nowrap.font-weight-bold= parse_offer_parameter_value(parameter)
