#question-modal.modal.question-modal{ tabindex: "-1", role: "dialog",
                            "aria-hidden": true }
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header
        .modal-title
          %h3
            Ask provider
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label": "Close" }
          %span{ "aria-hidden": true }
            &times;
      #question-modal-body.modal-body
        .modal-info.mb-4
          %p
            We will send your question to the Service provider.
            %br
            You will receive an answer to your email adress.
        = render "services/questions/form", service: service, question: question
