#rating.tab-pane.pt-2.container{"aria-labelledby" => "rating-tab", role: "tabpanel"}
  .row.pt-3
    .col-12
      %h3 Rate this service
      %h4 You are using the service for more than two months. Share your opinion with others.
      = render 'services/rating_form'
