-#= simple_form_for @service_opinion do |f|
-#  = f.error_notification
-#  = f.hidden_field :service_id, value: @service.id
-#  = f.input :rating
-#  = f.input :opinion
-#
-#  .btn-group
-#    = f.button :submit, class: 'btn btn-success'