.col-md-12
  %hr.category-separator.mb-2
  .mb-4
    %span.based-on-your-search
      .recommend-box
        %i.fas.fa-cloud
        = _("RECOMMENDED")
.container
  .row.mb-4.ml-0.mr-0
    = render partial: "services/recommendation_v1", collection: get_naive_recommendation,
             locals: { highlights: highlights, category: category }
