- if related_services.count.positive?
  %h2.mb-4.mt-3.font-weight-light Suggested compatible services

  .card-columns
    = render partial: "services/service_box",
            collection: related_services,
            as: :service
