- if related_services.count.positive?
  %h2.mb-3 Services you can use with this service

  .card-columns
    = render partial: "services/service_box",
            collection: related_services,
            as: :service
