.search-box
  = form_tag "#{services_path}", method: :get, role: "search",
             "data-target": "search.form",
             "data-controller": "search",
             "data-search-services-path": services_path,
             "data-search-categories-path": "/services/c" do

    .input-group
      %label.sr-only{ for: "search" } Search
      = text_field_tag :q, params[:q], class: "form-control w-50", placeholder: "Find service..."
      %select#category-select.custom-select.rounded-0{ "data-action": "change->search#refresh",
                                                       "data-target": "search.categorySelect" }
        %option{ value: "", selected: "selected" }
          All services
        = options_for_select categories.map { |category| [category.name, category.slug] }, params[:category]
      .input-group-append
        %button#query-submit.input-group-text.bg-white
          %i.fas.fa-search

