.container.p-2.bg-light
  .row
    .col-2
    .col-8
      %p
        = form_tag "#{search_submit_path}", method: :get, role: "search", class: "", "data-target": "search.form",
          "data-controller": "search", "data-sync-query-form": "data-sync-query-form" do

          .input-group
            %label.sr-only{ for: "search" } Search
            = text_field_tag :q, params[:q], class: "form-control w-50", placeholder: "What are you looking for?"
            %select#category-select.custom-select.rounded-0{ "data-action": "change->search#refresh",
                                                             "data-target": "search.categorySelect" }
              %option{ value: "", selected: "selected" }
                All
              = options_for_select categories.map { |category| [category.name, category.id] }, params[:category]
            .input-group-append
              %button#query-submit.input-group-text.bg-white
                %i.fas.fa-search

