.container.p-2.bg-light
  .row
    .col-2
    .col-8
      %p
        = form_tag "", method: :get, role: "search", class: "",
          "data-sync-query-form": "data-sync-query-form" do

          .input-group
            %label.sr-only{ for: "search" } Search
            = text_field_tag :q, params[:q], class: "form-control", placeholder: "What are you looking for?"

            .input-group-append
              %button#query-submit.input-group-text.bg-white
                %i.fas.fa-search

