//Static element from Andrzej's draft
%ul.list-unstyled
  %li.media.pb-4.mb-4
    .media-body
      %h2.font-weight-bold= link_to service.title, service
      .mb-3= service.tagline
      %p.small.float-left.mr-4
        Provided by
        %a{href: ""}
          SHAPE
      %p.small
        Available for SME only within 1 day
      .row
        .col
          =print_rating_stars(service.rating)
          %span.small.ml-1.font-weight-bold
            (#{service.rating} /5)
          %a{href: "", class: "small ml-3"}
            5 opinions

    .ml-5
      %form.d-flex.justify-content-end
        .form-group.form-check
          %input{type: "checkbox", class: "form-check-input", id: ""}
          %label{class: "form-check-label", for: ""}
            to compare

