- breadcrumb :services
= render "services/index", services: @services,
                           category: nil,
                           categories: @root_categories,
                           subcategories: nil,
                           provider_options: @provider_options,
                           research_areas: @research_areas,
                           target_groups_options: @target_groups_options,
                           rating_options: @rating_options,
                           tag_options: @tag_options,
                           active_filters: @active_filters,
                           related_platform_options: @related_platform_options do
  %h1 Services
