- breadcrumb :services

.container-float
  .row
    .col-md-3
      = render "categories/subcategories", subcategories: @subcategories
    .col-md-9
      %h1 Services
      %p
        Service description. When category is selected than title and this
        description shoud reflect it.

      = render "services", services: @services
