
- breadcrumb :services

.container
  .row
    .col-md-3.pr-5
      = render "categories/subcategories", subcategories: @subcategories
    .col-md-9
      .row
        .col-md-8
          %h1.mb-0.font-weight-bold Services
          %p.text-muted.mb-4
            Service description. When category is selected than title and this
            description should reflect it.
        .col-md-3.offset-md-1.my-auto
          = form_tag services_path, method: :get, role: "search", class: "" do
            .row
              .col-md-2
                %label.small.mt-2
                  Sort
              .col-md-10
                %select#sort.query-sort.form-control.form-control-sm{ "data-submit-on-change": "data-submit-on-change" }
                  = options_for_select([["by name A-Z", "title"],
                                        ["by name Z-A", "-title"],
                                        ["by rate 1-5", "rating"],
                                        ["by rate 5-1", "-rating"]], params[:sort])

      %ul.list-unstyled
        %li.media.pb-4.mb-4.list-group-item-primary.position-relative
          %span.badge.badge-primary.text-uppercase.p-2.rounded-0.clearfix.position-absolute
            We recommended
          .media-body.pl-3.pt-5
            %h2.font-weight-bold
              Nazwa
            .mb-3
              opis
            %p.small.float-left.mr-4
              Provided by
              %a{ href: "" }
                SHAPE
            %p.small
              Available for SME only within 1 day
            .row
              .col
                %span.small.ml-1.font-weight-bold
                  gwiazdki
                %a{ href: "", class: "small ml-3" }
                  5 opinions

          .ml-5.pr-3.pt-5
            %form.d-flex.justify-content-end
              .form-group.form-check
                %input.form-check-input{ type: "checkbox" }
                %label.form-check-label.small{ for: "" }
                  to compare

      = render "services", services: @services
