.container-float
  .row
    .col-md-1
      = render 'left_menu'
    .col-md-11
      %h2 Services
      %p
        Service description. When category is selected than title and this
        description shoud reflect it.
      %hr/
      %dl
        = render @services
