
- breadcrumb :services

.container
  .row
    .col-md-3
      = render "categories/subcategories", subcategories: @subcategories
    .col-md-9
      %h1.mb-0.font-weight-bold Services
      %p.text-muted.mb-4
        Service description. When category is selected than title and this
        description shoud reflect it.

      = render "services", services: @services
