- @category ? breadcrumb(:category, @category) : breadcrumb(:services)

= render "services/index", services: @services,
                           category: @category,
                           services_count: @services_total,
                           categories: @siblings_with_counters,
                           subcategories: @subcategories_with_counters,
                           sort_options: @sort_options,
                           highlights: @highlights,
                           filters: @filters,
                           active_filters: @active_filters
