- if ratingable?
  %h2.mb-3
    Your review
  .blue-row.form-inline.mb-3
    .d-inline.mr-4
      %i.fas.fa-star.fa-pull-left
      You have been using this service for #{distance_of_time_in_words(project_item.created_at, DateTime.now)}.
      Please share your opinion with others EOSC Marketplace users.
  = link_to "Review service",
      new_project_service_opinion_path(project, project_item),
      class: "btn btn-primary btn-sm"
