- link_fields.filter_map do |group|
  = render "components/presentable/header_links_component/#{group[:template]}",
           object: @object,
           fields: group[:fields],
           nested: group[:nested],
           preview: @preview
