- sidebar_fields.each do |group|
  - if display_detail?(group, @object)
    .description-box-column
      %h5= t("components.presentable.sidebar_component.title.#{group[:name]}")
      = render "components/presentable/sidebar_component/#{group[:template]}",
                    object: @object,
                    name: group[:name],
                    fields: group[:fields],
                    type: group[:type] || "",
                    clazz: group[:clazz] || "",
                    filter_query: group[:filter_query] || [],
                    nested: group[:nested] || []
