- fields.each do |field|
  - service.send(field).each do |element|
    %li.list-group-item
      - if nested.present?
        %span
          = element.send(nested)
      - else
        %span
          = element




