- fields.each do |field|
  - if !!service.send(field)
    %li.list-group-item
      %span
        - if field.end_with? "_url"
          = link_to(t("service.sidebar.fields.#{field}"), service.send(field))
        - elsif field.end_with? "_email"
          = mail_to(service.send(field), t("service.sidebar.fields.#{field}"))
