- fields.each do |field|
  - field_value = service.send(field)
  - map_data = data_for_map(field_value)
  - if map_data.present?
    .places-map{ "data-controller": "map", "data-places": map_data,
                 "data-region": field_value.map(&:alpha2) }
