- fields.each do |field|
  - field_value = service.send(field)
  - map_data = data_for_map(field_value) if field_value.any?
  - if map_data.present?
    .geographical-availabilities-map{ "data-controller": "map", "data-geographical_availabilities": map_data,
                 "data-region": field_value.map(&:alpha2) }
