%ul.list-group
- fields.each do |field|
  - if service.send(field).present?
    %li.list-group-item
      %span
        -# TODO: refactor dynamic translation
        = t(".fields.#{field}.#{service.send(field)}")
