#scrollbar.progress-box.mt-4
  %ul.step-progress.pl-5.pb-4
    - if messages.count.positive?
      - messages.each do |current|
        = render "messages/message", current: current
    - else
      %p Conversation not started yet.

:javascript
  window.onload = function () {
    scrollbar = document.getElementById('scrollbar')
    scrollbar.scrollTo(0, scrollbar.scrollHeight)
  }
