.col-12.col-md-9.mx-auto
  #scrollbar.progress-box.mt-4{ "data-controller": "scroller" }
    %ul.step-progress
      - if messages.count.positive?
        - messages.each do |message|
          = render "messages/message", message: message
      - else
        .contact-row.form-inline
          Conversation not started yet.
