.progress-box.mt-4
  %ul.step-progress.pl-5.pb-4
    - if messages.count.positive?
      = (messages + [nil]).each_cons(2) do |current, previous|
        = render "messages/message", previous: previous, current: current
    - else
      %p Conversation not started yet.

