.progress-box.mt-4{ "data-controller": "messages", "data-target": "messages.scrollbar" }
  %ul.step-progress.pl-5.pb-4
    - if messages.count.positive?
      - messages.each do |current|
        = render "messages/message", current: current
    - else
      %p Conversation not started yet.

