.container
  %h1 Features
  .row.mt-4
    .col-12
      %h3
        = _("Welcome modal for all users:")
    .col-sm-12.btn-group.flex-wrap.mt-2
      .button-wrapper.mr-5
        = button_to _("Enable welcome modal"), admin_features_enable_modal_path,
        class: "btn btn-primary mb-3"
      .button-wrapper.mr-5
        = button_to _("Disable welcome modal"), admin_features_disable_modal_path,
        class: "btn btn-primary btn-warning mb-3"
