.container
  - breadcrumb crumb[:key], crumb[:value]

  %h1 Profile

  %nav.nav
    = link_to "Profile", profile_path,
              active_for_current(controller: :profiles, class: 'nav-link')
    = link_to "Affiliations", profile_affiliations_path,
              active_for_current(controller: :affiliations, class: 'nav-link')
  = yield
