#newsletter.tab-pane.container.pt-2.container{ "aria-labelledby" => "newsletter-tab", role: "tabpanel" }
  %h3 Keep regularly informed on all our updates.
  %p You have signed up to receive EOSC Portal emails. You can always turn it off.
