%i.fas.fa-user-circle.fa-10x.text-color-solid-10
.ml-5.my-auto
  %p.display-1.mb-1
    = current_user.first_name
    = current_user.last_name
  %p.display-2.font-weight-light
    = current_user.email

