- href_explore = object.suspended? ? { class: "suspended" } : { href: eosc_explore_url(object.tag_list) }
- href_datasource = object.suspended? ? href_explore : { href: eosc_explore_datasource_url(object) }
- if object.is_a?(Datasource)
  %a.right-panel-button.explore{ href_datasource }
    Explore Stored and Published<br>
    Research Data
- if show_banner?(object.tag_list)
  %a.right-panel-button.explore{ href_explore }
    Explore Compatible<br>
    Research Products
- if object.respond_to?(:guidelines) && object.guidelines.present?
  - href_guidelines = object.suspended? ? href_explore : { href: services_array_filter_link(object.guidelines, :title) }
  %a.right-panel-button.interoperability{ href_guidelines }
    Interoperability guidelines
