%h2
  Affiliations
  .float-right
    = link_to "New affiliation",
              new_profile_affiliation_path,
              class: "btn btn-success"
.clearfix

%ul
  = render partial: "profiles/affiliations/affiliation",
                    collection: affiliations
= will_paginate affiliations
