%h2
  Affiliations
  .float-right
    = link_to "Add new affiliation",
              new_profile_affiliation_path,
              class: "btn btn-secondary"
.clearfix

#accordion.accordion.mt-5{ "aria-multiselectable" => "true", :role => "tablist" }
  = render partial: "profiles/affiliations/affiliation",
                    collection: affiliations
= will_paginate affiliations
