%h2
  Affiliations
  .float-right
    = link_to "New affiliation",
              new_profile_affiliation_path,
              class: "btn btn-primary"
.clearfix

%ul.mt-5
  = render partial: "profiles/affiliations/affiliation",
                    collection: affiliations
= will_paginate affiliations
