.container
  %h1 New affiliation - last step
  %p
    We've sent you a confirmation link to #{@affiliation.email}.
    Please click on the link given in the email in order to activate
    your affiliation and be able to use it when requesting access to EOSC services.

  = link_to profile_path, class: "btn btn-primary" do
    I understand. Take me to My profile
  = link_to services_path, class: "btn btn-primary" do
    Go to services list
