%h4{ "data-target" => "project-item.usage" }
%dl.mb-4
  %dd{ "data-target" => "project-item.reason" }
  %dd{ "data-target" => "project-item.researchAreas" }
%h4{ "data-target" => "project-item.customerDetails" }
%dl.mb-4
  %dd{ "data-target" => "project-item.customer" }
  %dd{ "data-target" => "project-item.originCountry" }
  %dd{ "data-target" => "project-item.email" }
  %dd{ "data-target" => "project-item.partnershipCountries" }
  %dd{ "data-target" => "project-item.userGroupName" }
  %dd{ "data-target" => "project-item.projectName" }
  %dd{ "data-target" => "project-item.projectWebsiteUrl" }
  %dd{ "data-target" => "project-item.companyName" }
  %dd{ "data-target" => "project-item.companyWebsiteUrl" }
  %dd{ "data-target" => "project-item.organization" }
  %dd{ "data-target" => "project-item.department" }
  %dd{ "data-target" => "project-item.webpage" }
  %dd{ "data-target" => "project-item.additionalInformation" }
