- if project_item.offer.voucherable
  %h2.mb-3.font-weight-normal= "Voucher"
  .btn-group.voucher-radio.btn-group-toggle.mb-4.col-12.col-lg-8.p-0
    %label#have.btn.btn-secondary.p-2.pl-5.pr-5{ "data-target" => "project-item.iHaveVoucher",
                                            class: ("active" unless project_item.request_voucher) }
      %input{ "type": "radio", "name": "project_item[request_voucher]",
                   value: "false", "data-action" => "change->project-item#voucherChanged" }
        %i.fas.fa-check
        I have a voucher, I want to use it
    %label#ask.btn.btn-secondary.p-2.pl-5.pr-5{ "data-target" => "project-item.iDontHaveVoucher",
                                            class: ("active" if project_item.request_voucher) }
      %input{ "type": "radio", "name": "project_item[request_voucher]",
                  value: "true", "data-action" => "change->project-item#voucherChanged" }
        %i.fas.fa-check
        I want to ask for vouchers

  .form-group.voucher_id.col-12.col-lg-7.pl-0.mb-5{ "data-target" => "project-item.hasVoucher",
                                                    class: ("hidden-fields" if project_item.request_voucher) }
    = f.input :voucher_id, label: "Voucher ID", input_html: { autocomplete: "new-password" }
