- content_for :title, _("Edit #{@service.name} Bundle")
- breadcrumb :backoffice_bundle_edit, @bundle
.container
  .mb-4.pb-4.border-header
    %h1= _("Edit bundle")

    = render "form",
      service: @service,
      bundle: @bundle,
      show_delete_button: false,
      bundle_form_source_module: [:backoffice, @service, @bundle],
      back_link: backoffice_service_offers_path(@service)
