.col-lg-5.right-tips
  .right-tip
    %p
      Looking for more information?
      %br
      Visit the
      %strong
        %a{ href: "#" }Knowledge hub
      for detailed guides and useful resources.
