.row
  .col-12.col-xl-12
    %ul#my-tab.nav.nav-tabs.row.pl-3{ role: "tablist" }
      - extended_steps.each_with_index do |tab, i|
        %li.nav-item
          = link_to _(tab.capitalize), { tab: tab },
            class: "nav-link #{"active" if current_tab == tab || (current_tab.blank? && i.zero?) }",
            role: "tab",
            data: { e2e: "provider-#{tab}-btn", turbo_stream: true }
