- content_for :title, _("Edit Provider")
- breadcrumb :backoffice_provider_edit, @provider

.container
  %h1= _("Edit Provider")
  .container
    .row.service-box.shadow-sm.p-4.mt-3.backoffice-form
      = render "form", provider: @provider
