- content_for :title, _("Edit Provider")
- breadcrumb :backoffice_provider_edit, @provider

.container.p-0.backoffice
  %h1= _("Edit Provider")
  .edit-provider
    = render "form", provider: @provider, catalogues: @catalogues
