- content_for :title, _("New Provider")
- breadcrumb :backoffice_provider_new, @provider

.container.p-0.backoffice
  %h1= _("New Provider")
  = render "form", provider: @provider, catalogues: @catalogues
