- content_for :title, _("Edit Offer")
- breadcrumb :ordering_configuration_offer_edit, @offer
.container
  .mb-4.pb-4.border-header
    %h1= _("Edit offer")

  - from = params[:from] || from
  - if @service.offers.size == 1
    = render "backoffice/services/offers/one_offer_edit_form",
      offer: @offer,
      service: @service,
      offer_form_source_module: [@service, :ordering_configuration, @offer],
      back_link: service_ordering_configuration_path(@service, from: from),
      from: from
  - else
    = render "backoffice/services/offers/form",
      offer: @offer,
      service: @service,
      offer_form_source_module: [@service, :ordering_configuration, @offer],
      offer_delete_link: service_ordering_configuration_offer_path(@service, @offer, from: from),
      back_link: service_ordering_configuration_path(@service, from: from),
      from: from
