%div{ data: { controller: "stars" } }
  %ul.list-inline{ data: { action: "click->stars#fill", "stars-target": "ratingStars",
    "rating-stars": field || "service_opinion_rating" } }
    - (1..5).each do |a|
      %li.list-inline-item
        %i.fa-star{ value: a, class: a <= current_value ? "fas" : "far" }
