### ARGO Messaging System (AMS)
# -----------------------------------------------------------------------------
AMS_BASE_URL=https://<YOUR_AMS_HOST>
AMS_SUBSCRIBE_ALL_CRON="*/5 * * * *"
AMS_SUBSCRIPTION_PREFIX=<YOUR_PREFIX>
AMS_SUBSCRIPTIONS_PATH=/v1/projects/<YOUR_PROJECT>/subscriptions
AMS_TOPICS_PATH=/v1/projects/<YOUR_PROJECT>/topics
AMS_TOKEN=<YOUR_TOKEN>