### ARGO Messaging System (AMS)
# -----------------------------------------------------------------------------
AMS_BASE_URL=https://<YOUR_AMS_HOST>
AMS_SUBSCRIBE_ALL_CRON="*/5 * * * *"
AMS_SUBSCRIBE_ALL_ENABLED=true
AMS_SUBSCRIPTION_PREFIX=<YOUR_PREFIX>
AMS_SUBSCRIPTIONS_PATH=/v1/projects/<YOUR_PROJECT>/subscriptions
AMS_TOPICS_PATH=/v1/projects/<YOUR_PROJECT>/topics
AMS_TOKEN=<YOUR_TOKEN>

### Checkin (Keycloak) envs - MANDATORY
### ---------------------------------------------------------------------------
CHECKIN_HOST=<YOUR_KEYCLOAK_HOST>
CHECKIN_ISSUER_URI=<YOUR_KEYCLOAK_ISSUER_URI>
CHECKIN_SCOPE=openid,basic,profile,email,offline_access,aarc,entitlements
CHECKIN_DISCOVERY=true
CHECKIN_PKCE=true
CHECKIN_IDENTIFIER=<YOUR_IDENTIFIER>
CHECKIN_SECRET=<YOUR_SECRET>
REDIRECT_URI=https://<YOUR_DOMAIN_NAME>/users/auth/checkin/callback

BECOME_VO_MEMBER_URL=<YOUR_BECOME_VO_MEMBER_URL>
VO_GROUP_NAME=<YOUR_VO_GROUP_NAME>

### Checkin (Keycloak) envs - MANDATORY if CHECKIN_DISCOVERY is false
### ---------------------------------------------------------------------------
# CHECKIN_AUTHORIZATION_ENDPOINT=<YOUR_KEYCLOAK_ISSUER_URI>/authorize
# CHECKIN_INTROSPECTION_ENDPOINT=<YOUR_KEYCLOAK_ISSUER_URI>/token/introspect
# CHECKIN_TOKEN_ENDPOINT=<YOUR_KEYCLOAK_ISSUER_URI>/token
# CHECKIN_USERINFO_ENDPOINT=<YOUR_KEYCLOAK_ISSUER_URI>/userinfo
# CHECKIN_JWKS_URI=<YOUR_KEYCLOAK_ISSUER_URI>/jwk
# CHECKIN_END_SESSION_ENDPOINT=<YOUR_KEYCLOAK_ISSUER_URI>/logout