%p
  In order to perform actions on the REST resources available through EOSC Marketplace API
  a valid authentication token is needed.
  To provide integration support for other software systems the token is long living.
  See above to revoke your access token or generate a new one.
  In order to authenticate your HTTP requests set the X-User-Token request header. Example:
  %p
    %code
      curl -H "X-User-Token": [YOUR TOKEN HERE]"
