%p
  This is the API of the EOSC Marketplace. Please visit
  = link_to "EOSC Marketplace OpenAPI Specification", rswag_api_path, data: { turbolinks: false }
  to check the detailed specification of the available REST endpoints and messages.
  The documentation was generated using OpenAPI Specification 3.0 compliant software.
