.results-media.mb-3
  .row
    .col-lg-6
      Found what you were looking for?
      <br>
      Need more results?
      %span Try Federated Catalogues.
      %a.btn.btn-primary.mt-4{ href: "#" } Discover Federated Catalogues
