%ul{ class: html_classes }
  - options.each do |option|
    - muted = option[:count].to_i.zero?
    - target = root ? "multicheckbox.element multicheckbox.item" : "multicheckbox.item"
    %li{ data: { target: target } }
      %label{ class: ("text-muted" if muted) }
        %input.form-check-input{ type: "checkbox", name: "#{name}[]",
          multiple: true, checked: values.include?(option[:id].to_s), value: option[:id],
          "data-action" => "change->filters#reload" }
        %span= option[:name]
      %span.float-right.small{ class: ("text-muted" if muted) }= option[:count]
      - if option[:children]
        = render "services/filters/multiselect_level",
          options: option[:children], html_classes: "pl-3 pr-0",
          name: name, values: values, root: false

