= render "services/filters/wrapper", filter: filter do
  .form-group
    %select.panel-body.form-control.custom-select.form-control-sm{ name: filter.field_name,
      "data-action": "change->filter#reload", "data-probe" => "", "data-e2e": "filter-select" }
      = options_for_select(filter.options.map { |x| [x[:name], x[:id]] },
                           params[filter.field_name])
