.row
  .col-10
    %h6= filter.title
  .col-2
    %a.collapse-icon{ "href": "##{filter.field_name}", "data-toggle": "collapse", "aria-expanded": "false",
    "aria-controls": "collapseExample", "role": "button" }
      %i.fas.fa-chevron-down
.row
  .col-md-12
    .form-group.collapse{ "id": "#{filter.field_name}" }
      %select.form-control.form-control-sm{ name: filter.field_name }
        = options_for_select(filter.options, params[filter.field_name])
