.bundle-links.card-body.pt-0
  = mail_to contact_email, _("Contact bundle support"), class: "contact-link" if local_assigns[:contact_email].present?
  = link_to _("Access training"), related_training, class: "training-link" if local_assigns[:related_training].present?
  = link_to _("Helpdesk"), helpdesk_url, class: "helpdesk-link" if local_assigns[:helpdesk_url].present?
