%ul.list-group
  - fields.each do |field|
    - if provider.send(field).present?
      %li.list-group-item
        %span
          -# TODO: refactor dynamic translation
          = t(".fields.#{field}.#{provider.send(field)}")
