- unless ["edit", "new"].include?(action_name)
  .container
    %h1.mb-3
      = _("Ordering configuration")
    .container
      .row.info-row
        %p
          = image_pack_tag "icon-pencil.png", class: "icon-pencil"
          -# haml-lint:disable MultilinePipe
          = _("This is the place where you can manage your service offers. " + |
            "Please, scroll down to navigate to \"Parameters and offers\" section, " + |
            "to specify your service offers along with their ordering parameters. " + |
            "Please note, this site also reflects how your service and its " + |
            "offers will be presented to the users in the EOSC Catalogue & Marketplace.") |
          -# haml-lint:enable MultilinePipe
