.list-inline.border.bg-light
  .row
    .container
      .row
        .col-lg-9.col-12.row.services-list{ "data-comparison-target": "box" }
          = render partial: "comparisons/service", collection: services if services.present? && !current_page?(backoffice_services_path)
        .col-lg-3.col-12.text-right.action-box
          .col-12.pl-0.pr-0
            = link_to _("Clear all"), comparisons_path, data: { action: "click->comparison#clearAll",
              class: "text-uppercase", e2e: "comparison-clearAll-btn",
              probe: "", "turbo-method": :delete }
            = link_to _("Compare"), comparisons_path(category.present? ? { fromc: category.slug } : nil),
            class: "btn btn-primary ml-3", "data-e2e": "compare-btn", "data-probe": ""
