.col-lg-4.col-12
  .service.border
    .logo.float-left
      %span.helper
      = image_tag service.logo.variant(resize_to_limit: [40, 40]) if service.logo.attached? && service.logo.variable?
    .float-left.service-title
      %span.middle
        = service.name.truncate(25, separator: " ")
    .comparison-link.float-right
      %a{ value: "#{service.slug}", "data-probe": "", "data-service-id": service.id, "data-e2e": "delete-service-btn",
      "data-action": "click->comparison#update" }
        %i.far.fa-trash-alt
