.col-lg-4.col-12
  .service.border
    .logo.float-left
      %span.helper
      - if service.logo.attached?
        = image_tag service.logo.variant(resize: "40x40")
    .float-left.service-title
      %span.middle
        = service.title.truncate(29, separator: " ")
    .comparison-link.float-right
      %a{ "value": "#{service.slug}", data: { "action": "click->comparison#update" } }
        %i.fas.fa-trash
