= simple_form_for raid_project, remote: local_assigns[:show_as_modal],
      html: { role: "form", id: "modal-form", "data-controller" => "raid-project",
            "data-raid-project-target": "form", "data-raid-project-url-value": ror_autocomplete_url } do |f|
  .new-form-style{ data: {"raid-form-target": "section", section: "access" } }

    %h4 Summary

  
  %hr.bottom-hr.mt-5.mb-4
    .row
      .col-12
        %button.btn.btn-primary.pl-5.pr-5{ type: "submit",
                               form: "modal-form", "data-e2e": "create-project-btn" }
          = _("Create new RAID project")
        = back_link_to _("Cancel"), @raid_project,
          class: "btn btn-link text-uppercase"