%h4 Project LIFETIME
.offer-section-wrapper.bottom-margin
  .row
    .col-6
      = f.input :start_date, as: :date, html5: true, label: "Enter Project Start Date"
    .col-6
      = f.input :end_date, as: :date, html5: true, label: "Predicted End Date"
%h4 Project TITLES
.offer-section-wrapper.bottom-margin
  = render "raid_projects/form/title_fields", f: f, obj: raid_project
%h4 Description
.offer-section-wrapper.bottom-margin
  = render "raid_projects/form/description_fields", f: f, obj: raid_project
