- type = object.respond_to?(:type) ? object.type : object.class.name
.resource-row.row.mb-3
  %span.pin-value.resource-type= ( type == "Provider" ? "Organisation" : type.upcase_first)
  - if object.respond_to?(:scientific_domains)
    %span.pin-value.resource-type= object.scientific_domains&.first&.name_with_parent(separator: " - ")
  - if object.respond_to?(:categories) && object.categories.present?
    %span.pin-value.resource-type= object.categories&.first&.name_with_parent(separator: " - ")
