- type = object.respond_to?(:type) ? object.type : object.class.name
.resource-row.row.mb-3
  %span.pin-value.resource-type= type.upcase_first
  %span.pin-value.resource-type= object.scientific_domains&.first&.name_with_parent(separator: " - ")
  - if object.respond_to?(:categories) && object.categories.present?
    %span.pin-value.resource-type= object.categories&.first&.name_with_parent(separator: " - ")
  - if object.respond_to?(:horizontal) && object.horizontal
    %span.pin-value.resource-type Horizontal service
