- if user_signed_in? && show_manage_button?(datasource)
  = render "components/presentable/header_component/datasource_drop_down_menu", datasource: datasource
  = render "layouts/common_parts/services/order_type_label", object: datasource
