= link_to _("Browse resources"),
                  services_path(providers: provider.id),
                  class: "btn btn-primary d-block mb-3", "data-e2e": "btn-browse-resource"
- if user_signed_in? && show_manage_button?(provider)
  = render "components/presentable/header_component/provider_drop_down_menu", provider: provider
