- unless provider.suspended?
  - if external_search_enabled
    = link_to _("Show all resources"),
              ess_providers_resources_link(provider),
              class: "btn btn-primary d-block mb-3"
  - else
    = link_to _("Browse services"),
              services_path(providers: provider.id),
              class: "btn btn-primary d-block mb-3 py-3", "data-e2e": "btn-browse-service"

  - show_menu = user_signed_in? && show_manage_button?(provider)
  = render "components/presentable/header_component/provider_drop_down_menu", provider: provider if show_menu
