- content_for :title, _("Edit Offer")
.container
  %h2= _("Edit Offer")
  - if @service.offers.size == 1
    = render "backoffice/services/offers/one_offer_edit_form",
      offer: @offer,
      service: @service,
      offer_edit_source_module: [@service, :data_administrator, @offer],
      back_link: service_data_administrator_path(@service)
  - else
    = render "backoffice/services/offers/form",
      offer: @offer,
      service: @service,
      offer_edit_source_module: [@service, :data_administrator, @offer],
      back_link: service_data_administrator_path(@service)
