- content_for :title, _("Create new offer")
- breadcrumb :backoffice_service_new
.container
  .mb-4.pb-4.border-header
    %h1= _("Create new offer")

  = render "backoffice/services/offers/form",
    service: @service,
    offer: @offer,
    offer_form_source_module: [@service, :data_administrator, @offer],
    back_link: service_data_administrator_path(@service)
