- content_for :title, _("Create new offer")
- breadcrumb :backoffice_service_new
.container
  .mb-4.pb-4.border-header
    %h1= _("Create new offer")

  = render "form",
    service: @service,
    offer: @offer,
    source_module: :data_administrator,
    back_link: service_data_administrator_path(@service)
