#scrollbar.progress-box.mt-4
  %ul.step-progress.pl-5.pb-4
    - if statuses.count.positive?
      - statuses.each do |status|
        = render "statuses/status", status: status
    - else
      %p Conversation not started yet.

:javascript
  window.onload = function () {
    scrollbar = document.getElementById('scrollbar')
    scrollbar.scrollTo(0, scrollbar.scrollHeight)
  }
