- content_for :title, _("Edit Category")
- breadcrumb :backoffice_category_edit, @category

.container
  %h1= _("Edit Category")
  .container
    .row.service-box.shadow-sm.p-4.mt-3.backoffice-form
      = render "form", category: @category
