- breadcrumb :backoffice_categories
.container
  %h1
    Categories
    - if policy([:backoffice, Category]).new?
      .float-right
        = link_to t("backoffice.category.new"),
                  new_backoffice_category_path,
                  class: "btn btn-primary"
      .clearfix
  %ul.list-group.backoffice-list.mt-5.mb-
    - ancestry_tree(@categories).each do |record|
      %li.list-group-item
        = link_to record.first, backoffice_category_path(record.last)
        - if policy([:backoffice, record[1]]).destroy?
          = link_to backoffice_category_path(record[1]),
              method: :delete,
              data: { confirm: "Are you sure you want to remove this category" },
              class: "delete-icon float-right" do
            %i.far.fa-trash-alt
        - if policy([:backoffice, record[1]]).edit?
          = link_to "Edit",
              edit_backoffice_category_path(record[1]),
              class: "btn-sm btn-warning float-right mr-4"

