= turbo_frame_tag "modal" do
  #form-modal.modal.d-block{ data: { controller: "turbo-modal",
  "turbo-modal-target": "modal",
  action: "turbo:submit-end->turbo-modal#submitEnd keyup@window->turbo-modal#closeWithKeyboard click@window->turbo-modal#closeBackground"
    } }
    .modal-dialog{ role: "document", class: @custom_style }
      .modal-content
        .modal-header
          %h3#form-modal-title.modal-title= @title
          %button.close{ data: { action: "turbo-modal#hideModal" },
          type: "button", aria: { label: _("Close") } }
            %span{ aria: { hidden: "true" } } &times;

        #form-modal-body.modal-body
          = content

        .modal-footer
          = yield_content!(:buttons) if content_for?(:buttons)
