%ul.list-group{ class: "#{"suspended" if inactive}" }
  - fields.each do |field|
    - next unless object.send(field).present?
    %li.list-group-item
      %span= l object.send(field), format: :short
