%ul.list-group{ class: "#{"suspended" if inactive}" }
  - fields.each do |field|
    - next unless object.send(field).present?
    - object.send(field).each_with_index do |link, idx|
      %li.list-group-item
        = link_to(link.name? ? link.name : t("components.presentable.sidebar_component.fields.#{field}",
                                             idx: idx + 1), link.url)
        -# TODO: refactor dynamic translation - here remove after releasing Resource Profile 4.0
