%ul.list-group
  - fields.each do |field|
    - if object.send(field).present?
      %li.list-group-item
        %span
          - if field.end_with? "_url"
            = link_to(t("services.about.sidebar.fields.#{field}"), object.send(field))
          - elsif field.end_with? "_email"
            = mail_to(object.send(field), t("services.about.sidebar.fields.#{field}"))
          -# TODO: refactor dynamic translation (above)
