.home-list-wrapper
  .home-list
    .title List title header
    %ul
      %li
        %a{ href: "#" } Lorem ipsum dolor sit amet enim.
      %li
        %a{ href: "#" } Etiam ullamcorper.
      %li
        %a{ href: "#" } Suspendisse a pellentesque dui
      %li
        %a{ href: "#" } Maecenas malesuada elit lectus felis
      %li
        %a{ href: "#" } Curabitur et ligula.
