.home-intro
  .right-column
    .home-image
  .left-column
    %p.title
      Welcome to the EOSC Portal Catalogue and Marketplace

    %p.home-lead
      Integrated platform that allows easy access to lots of services and resources for various
      research domains along with integrated data analytics tools. Browse by scientific domain,
      service category or provider and, if you need help, we are here for you!
