.learn-more
  %a.body{ "href": "#" }
    .title Sample title
    .description
      %p
        ontribute to develop EOSC into a rich environment with a wide range of services and resources for researchers.
    .icon
      = image_tag "refactoring_learn-more-box-default.png"
