.service-info-box
  %header
    .title
      %a{ "href": "#" } Sample service name
    .description
      %p
        = image_tag "refactoring_service-info-box-default.png"
        The WS-PGRADE Portal (Web Services Parallel Grid Runtime and Developer Environment Portal) is the Liferay-based
        web p...
  %footer
    .column-left
      %p
        %small Provided by:
        %br
        EGI Federation
    .column-right
      %p.text-right
        %small Dedicated for:
        %br
        Researchers, Research.
