.simple-intro
  .icon
    = image_tag "refactoring_learn-more-box-default.png"
  %a.title{ "href": "#" } From language data to insight: the CLARIN demonstrator
  .description
    How the integration of the CLARIN infrastructure into the EOSC Portal can facilitate the study of language data.
