.standard-list-wrapper
  .standard-list
    .title List title header
    %ul
      %li
        %a{ href: "#" } Lorem ipsum dolor sit amet.
      %li
        %a{ href: "#" } Etiam ullamcorper.
      %li
        %a{ href: "#" } Suspendisse a pellentesque dui
      %li
        %a{ href: "#" } Maecenas malesuada elit lectus
      %li
        %a{ href: "#" } Curabitur et ligula.
      %li
        %a{ href: "#" } Etiam ullamcorper.
      %li
        %a{ href: "#" } Suspendisse a pellentesque dui
      %li
        %a{ href: "#" } Maecenas malesuada elit lectus
    %a.more-link.d-block{ href: "#" }
      %i.fas.fa-arrow-right
      And for
      %strong more other target groups
