.top-row
  .container
    %ul
      %li
        %a{ href: "#" } Info
      %li
        %a.active{ href: "#" } Catalogue & Marketplace
      %li
        %a{ href: "#" } Providers Dashboard
      %li
        %a{ href: "#" } Backoffice
      %li
        %i.fas.fa-user.mr-1
        Jan Nowak
      %li
        %strong Logout
