- content_for :title, "#{@project_item.service.name} - #{@project.name}"
= render "projects/services/layout",
  project: @project, projects: @projects, project_item: @project_item do

  = render "statuses/statuses", statuses: @statuses
