.lead-manager
  %h1
    = _("Lead Manager")
    = link_to _("Add new lead section"),
        new_admin_lead_section_path,
        class: "btn btn-sm btn-primary float-right"

  %ul.list-group
    = render partial: "section", collection: @sections
