- fields.map do |field|
  - next unless object.send(field).present?
  - Array(object.send(field)).map do |entry|
    - if nested.present? && nested[field.to_sym].present?
      %span.status
        = t(".#{field}") + " : " + "#{entry.send(nested[field.to_sym])}"
    - else
      %span= entry
