- fields.map do |field|
  - if with_desc
    %li
      = t(".#{field}")
      %br
      - Array(service.send(field)).map do |element|
        - if nested.present? && nested[field.to_sym].present?
          %span
            = element.send(nested[field.to_sym])
        - else
          %span
            = element
