- Array(service.send(clazz)).map do |object|
  %li
    - fields.map do |field|
      - if object.send(field).present?
        - if nested[field.to_sym].present? && nested[field.to_sym] == "email"

          %span
            - if local_assigns[:preview]
              = link_to object.send(field), "javascript:;"
            - else
              = mail_to object.send(field), object.send(field)
          %br
        - else
          %span= object.send(field)
          %br
