- content_for :title, @service.name
- breadcrumb :resource_details, @service
= render "services/errors", service: @service
= render "services/wrapper", service: @service, category: @category,
  comparison_enabled: @comparison_enabled, compare_services: @compare_services,
  favourite_services: @favourite_services, question: @question, tab_id: "opinions", preview: false do
  = render Presentable::DetailsComponent.new(@service, similar_services: @similar_services, question: @question,
  related_services: @related_services)
