#compute.tab-pane.container.pt-2.active{ "aria-labelledby" => "home-tab", role: "tabpanel" }
  .row.pt-3
    .col-md-3.text-center.home-cat.home-cat-cloud
      %h3.text-secondary.mb-0
        %a
          Cloud compute
      %p
        Aenean euismod bibendum.
    .col-md-3.text-center.home-cat.home-cat-lightning
      %h3.text-secondary.mb-0
        %a
          High-throughput compute
      %p
        Aenean euismod bibendum.
    .col-md-3.text-center.home-cat.home-cat-cloud2
      %h3.text-secondary.mb-0
        %a
          Cloud container compute BETA
      %p
        Aenean euismod bibendum.
    .col-md-3.text-center.home-cat.home-cat-arrows
      %h3.text-secondary.mb-0
        %a
          Cloud compute
      %p
        Aenean euismod bibendum.
  .row.pt-3
    .col-md-3.text-center

    .col-md-3.text-center.home-cat.home-cat-data.mt-3
      %h3.text-secondary.mb-0
        %a
          Cloud compute
      %p
        Aenean euismod bibendum.
    .col-md-3.text-center.home-cat.home-cat-network.mt-3
      %h3.text-secondary.mb-0
        %a
          High-throughput compute
      %p
        Aenean euismod bibendum.
    .col-md-3.text-center
