.container.mt-4.mb-4
  Breadcrumb
.container
  %h1.mb-4 Request: additional informations
  .d-flex.checker-background.p-4.position-relative.h-100
    %img.mr-4{ src: "http://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" }
    .my-auto
      %h2
        Service with long name
      %p.text-muted.mb-0
        Lorem ipsum dolor sit amet one-line short description


  .row.pt-3
    .col-md-7
      %table.table.mb-5
        %thead
          %tr
            %th.pl-0{ scope: "col", colspan: "2" } Parameters
        %tbody
          %tr
            %td.pl-0 Number of CPU cores
            %td
              %span.font-weight-bold 1
          %tr
            %td.pl-0 Amount of RAM per CPU core
            %td
              %span.font-weight-bold 2 GB
          %tr
            %td.pl-0 Local Disk
            %td
              %span.font-weight-bold 10 GB
          %tr
            %td.pl-0 Number of VM instances
            %td
              %span.font-weight-bold 1
          %tr
            %td.pl-0 Access type
            %td
              %span.font-weight-bold Reserved
          %tr
            %td.pl-0 Number of public IP
            %td
              %span.font-weight-bold 1
          %tr
            %td.pl-0 Start of service
            %td
              %span.font-weight-bold 10.06.2018
          %tr
            %td.pl-0 Number of days
            %td
              %span.font-weight-bold 24
      %h4 ADDITIONAL INFORMATIONS
      %form.mt-4
        .row
          .col-md-8
            %label
              I requesting service for
            %select.form-control
              %option
                Myself
        .row
          .col
            %label.mt-4
              Additional message for provider
            %textarea.form-control{ rows: "10" }
    .col-md-1
    .col-md-4
      .card.mt-2
        .card-header.text-center.pt-3.pb-3
          %form
            .form-group.form-check.mb-2
              %input#checkbox-terms.form-check-input{ type: "checkbox" }
              %label.small{ for: "checkbox-terms" }
                I accept
                %a.body-color{ href: "" }
                  %u
                    terms and conditions
          %button.btn.btn-secondary
            %i.fas.fa-paper-plane
            order
        .card-body.pt-4.pb-4.pl-5.pr-5
          .steps-form-2.ml-5.mr-5
            .steps-row-2.setup-panel-2.d-flex.justify-content-between
              .bg-white.position-relative
                %a.ml-0{ href: "#step-1" }
                  %i.fas.fa-circle.fa-lg
              .bg-white.position-relative
                %a.ml-0{ href: "#step-2" }
                  %i.fas.fa-circle.fa-lg
              .bg-white.position-relative
                %a.ml-0{ href: "#step-3" }
                  %i.far.fa-dot-circle.fa-lg
              .bg-white.position-relative
                %a.ml-0{ href: "#step-4" }
                  %i.far.fa-circle.fa-lg
          .small.text-center.font-italic.ml-2.mr-2
            %span.d-block.font-weight-bold.mt-3
              NEXT STEP
            We send your request to provider

