%h1 You can order this bundle via EOSC Marketplace.

%p
  Bundle is a service consisting of two or more service offers to serve you as a separate,
  integrated product giving a full spectrum of resource capabilities.
%p
  To access the bundle:
  Specify parameters of your bundle and place your order to request access.
  Once you submit the order, your request will be sent to a service provider.
  You will receive the summary of your order via email.
  The order status and its updates will be visible at your Project space.
  You will be contacted by the support team once your bundle is ready for you to use.
  To find out more about Projects in EOSC Marketplace, please refer to our FAQ
