.col-md-5.access-information
  %h2.mb-4.mt-3.font-bold Access Instruction · Service Bundle

  %p
    In the next step choose parameters of your bundle, place an order and we will
    process your request with a resource providers.
  %p
    We will inform you when your bundle will be ready to use via e-mail,
    you can also track updates on your project space.
  %p
    To find out more about Projects in EOSC Marketplace, please refer to our FAQ.

  .small-links
    = render "services/offers/bundle_links",
           contact_email: offer.main_bundles.first.contact_email || "",
           related_training: offer.main_bundles.first.related_training_url || "",
           helpdesk_url: offer.main_bundles.first.helpdesk_url || ""
.col-md-7
  .bundle.bundle-special
    .card
      .card-body
        = render "services/bundle", bundled_offers:  offer.main_bundles.first.all_offers, parent: offer
