= simple_form_for [:backoffice, platform] do |f|
  = f.input :name

  .btn-group
    = f.button :submit, class: "btn btn-success"
    = back_link_to "Cancel", platform, prefix: :backoffice, class: "btn btn-secondary"
