- breadcrumb :backoffice_platforms
.container
  %h1
    Platforms
    - if policy([:backoffice, Category]).new?
      .float-right
        = link_to "New Platform",
                  new_backoffice_platform_path,
                  class: "btn btn-success"
      .clearfix
  %hr/
  %ul
    - @platforms.each do |platform|
      %li= link_to platform.name, backoffice_platform_path(platform)
  = will_paginate @services
