- content_for :title, t(".title") # TODO: missing translation (no entry in original i18 locales)
- breadcrumb :backoffice_platform, @platform

%h1= @platform.name

%hr.bottom-hr.mt-5.mb-4

.btn-group
  - if policy([:backoffice, @platform]).edit?
    = link_to _("Edit"), edit_backoffice_platform_path(@platform),
              class: "btn btn-primary"
  - if policy([:backoffice, @platform]).destroy?
    = link_to _("Delete"), backoffice_platform_path(@platform.id),
              data: { "turbo-confirm": _("Are you sure you want to remove this platform?"), "turbo-method": :delete },
              class: "btn btn-danger"
