.faq-section-row
  = link_to section.title, admin_help_path(anchor: section.slug)
  .faq-section-actions
    = link_to edit_admin_help_section_path(section), "data-turbo-method": :get,
      class: "" do
      %i.fa.fa-wrench
    = link_to admin_help_section_path(section),
          data: { "turbo-confirm": _("Are you sure?"), "turbo-method": :delete },
          class: "delete-icon" do
      %i.far.fa-trash-alt
