.container
  %h1
    = _("Frequently Asked Questions Builder")
    = link_to _("Add new help section"),
              new_admin_help_section_path,
              class: "btn btn-primary btn-sm float-right"

  %ul.list-group
    = render partial: "toc", collection: @sections, as: :section

  = render partial: "section", collection: @sections
