= render "services/service_details", service: service,
          highlights: highlights[service.id],
          service_offers: offers[service.id] do
  = service_status(service)
  = link_to backoffice_service_offers_path(service) do
    = highlighted_for(:name, service, highlights[service.id])
