- content_for :title, _("Edit Service")
- breadcrumb :backoffice_service_edit, @service

.container.p-0.backoffice
  %h1= _("Edit Service")
  .edit-service
    = render "form", service: @service, providers: @providers, catalogues: @catalogues
