- content_for :title, _("New Service")
- breadcrumb :backoffice_service_new
.container
  %h1#title.mb-3= _("New Service")
  .new-service
    = render "form", service: @service, providers: @providers, catalogues: @catalogues
