- content_for :title, _("Edit Catalogue")
- breadcrumb :backoffice_catalogue_edit, @catalogue

.container
  %h1#title.mb-5= _("Edit Catalogue")
  .edit-provider
    = render "form", catalogue: @catalogue
