- content_for :title, _("Edit Catalogue")
- breadcrumb :backoffice_catalogue_edit, @catalogue

.container.p-0.backoffice
  %h1= _("Edit Catalogue")
  .edit-provider
    = render "form", catalogue: @catalogue
