.steps-row
  -# haml-lint:disable InlineClasses
  #offer-type-button.offer-step.active-button{ "section" => "step1", "data-raid-project-target": "sectionButton" }
    Project Details
  -# haml-lint:enable InlineClasses
  #order-parameters-button.offer-step{ "section" => "step2", "data-raid-project-target": "sectionButton" } 
    Contributors
  #offer-parameters-button.offer-step{ "section" => "step3", "data-raid-project-target": "sectionButton" } 
    Organisations
  #offer-description-button.offer-step{ "section" => "step4", "data-raid-project-target": "sectionButton" } 
    Access
  #summary-button.offer-step{ "section" => "step5", "data-raid-project-target": "sectionButton" } 
    Summary