%h4 Project LIFETIME
.offer-section-wrapper.bottom-margin
  .row
    .col-6
      Project Start - End Date
    .col-6
      = raid_project.start_date - raid_project.end_date
%h4 Project TITLES
  .offer-section-wrapper.bottom-margin
    .row
      .col-6
        Project Main Title 
      .col-6 
        = raid_project.main_title.text
