%h3
  Dear #{@user.full_name},

%p
  You just created new affiliation. To use it during service ordering process. It need
  to be confirmed by clicking on #{link_to "this link", affiliation_confirmations_url(at: @affiliation.token)}.
