Dear #{@user.full_name},
\
You just created new affiliation. To use it during service ordering process. It need
to be confirmed by clicking on this #{affiliation_confirmations_url(at: @affiliation.token)} link.

