.bordered-box
  %p.text-center.mb-5
    = image_tag "box-outline.svg", class: "img-responsive"
  %p.text-center
    You have no favourite services yet.
    %br
    = link_to "Go to the services list", services_path, "data-e2e": "go-to-resources-button"
    and add your first one!
