.card.shadow-sm.rounded
  %button.btn.btn-link{ type: "button", class: ("collapsed" if collapsed?(provider, [:scientific_domains, :tag_list])),
              data: { toggle: "collapse", target: "#classification" },
              aria: { expanded: true, controls: "classification" } }
    .card-header.text-left{ id: "classification-header" }
      .row
        .col-10
          = _("Classification")
        .col-2.text-right
          .collapse-icon
            %i.fas.fa-chevron-down
            %i.fas.fa-chevron-up
- sd = ScientificDomain.child_names.select { |_, sd| !sd.parent.blank? }.map { |name, sd| [name, sd.id] }
.collapse{ id: "classification", "aria-labelledby": "classification-header",
          "data-parent": "#accordion-form",
          class: ("show" unless collapsed?(provider, [:scientific_domains, :tag_list])) }
  .card-body
    = f.association :scientific_domains, disabled: cant_edit([scientific_domain_ids: []]),
              input_html: { data: { choice: true } },
              collection: sd,
              label_method: :first, value_method: :second
    = f.input :tag_list, multiple: true, input_html: { class: "form-control" },
              wrapper_html: { "data-target" => "form.tag_list" },
              as: :array, disabled: cant_edit([tag_list: []])
    = link_to_add_array_field("provider", "tag_list")
