.tab-pane{ id: "contacts", class: "#{"active" if active}", "aria-labelledby": "contact-header", role: "tabpanel",
        "data-form-target": "tab" }
  .card-body
    .row
      .col-lg-7.pl-0
        .row.service-contact-emails{ "data-service-target": "publicContacts" }
          .col-12
            %h3
              = _("Public contacts")
            = f.input :public_contact_emails, as: :text, label: _("Public contact emails (one per line)"),
                      input_html: { rows: 4, value: Array(provider.public_contact_emails).join("\n") },
                      disabled: provider.upstream_id.present?
      = render "backoffice/providers/more_information"
