.card.shadow-sm.rounded
  %button.btn.btn-link{ type: "button", class: ("collapsed" if collapsed?(provider,
              [:provider_life_cycle_status, :certifications])),
                data: { toggle: "collapse", target: "#maturity" },
                aria: { expanded: true, controls: "maturity" } }
    .card-header.text-left{ id: "maturity-header" }
      .row
        .col-10
          = _("Maturity")
        .col-2.text-right
          .collapse-icon
            %i.fas.fa-chevron-down
            %i.fas.fa-chevron-up
.collapse{ id: "maturity", "aria-labelledby": "maturity-header",
          "data-parent": "#accordion-form",
          class: ("show" unless collapsed?(provider, [:provider_life_cycle_status, :certifications])) }
  .card-body
    = f.input :provider_life_cycle_status,
              collection: Vocabulary.where(type: "Vocabulary::ProviderLifeCycleStatus"),
              disabled: cant_edit([provider_life_cycle_status_ids: []]),
              label_method: :name, value_method: :id,
              input_html: { multiple: false, data: { choice: true } }
    = f.input :certifications,
              disabled: cant_edit([certifications: []]), multiple: true,
              input_html: { class: "form-control text optional" },
              wrapper_html: { "data-form-target" => "certifications" }, as: :array
    = link_to_add_array_field("provider", "certifications")
