- unless ["edit", "new"].include?(action_name)
  .row
    .col-12
      %h1.mb-4.font-weight-bolder
        = _("Ordering configuration")
      .info-row-redesign
        .image-wrapper
          = image_tag "icon-pencil.png", class: "icon-pencil"
        .text-wrapper
          -# haml-lint:disable MultilinePipe
          = _("This is the place where you can manage your service offers. " + |
              "Please, scroll down to navigate to \"Parameters and offers\" section, " + |
              "to specify your service offers along with their ordering parameters. " + |
              "Please note, this site also reflects how your service and its " + |
              "offers will be presented to the users in the EOSC Catalogue & Marketplace.") |
          -# haml-lint:enable MultilinePipe
