.container.lead-error
  .row.alert.alert-danger
    %h2
      = _("Cannot find lead_section with slug \"%{slug}\"") % { slug: slug }
    .col-12
      .card-title
        = _("Please add such section using")
        = link_to _("link"), new_admin_lead_section_path(slug: slug)
      .card-description
        = _("This message are displayed only for admin user.")
