%section
  .container
    .row
      .col-sm
        .card
          .card-body
            %h5.cart-title Getting started for customers
            %p.card-text Some description for getting started for customers
      .col-sm
        .card
          .card-body
            %h5.cart-title Getting started for providers
            %p.card-text Some description for getting started for providers
