.container.home-intro
  .row
    .col-12.col-lg-3.pl-0.left-column
      .left-menu.pl-4.pr-4.pt-2.pb-2
        %ul
          %li.all-link
            = link_to "All Services", services_path
          %li
            %a{ href: "#" } Compute
          %li
            %a{ href: "#" } Data management
          %li
            %a{ href: "#" } Networking
          %li
            %a{ href: "#" } Processing & Analysis
          %li
            %a{ href: "#" } Security & Operations
          %li
            %a{ href: "#" } Sharing & Discover
          %li
            %a{ href: "#" } Storage
          %li
            %a{ href: "#" } Training & Support
      %h5.mt-5.text-uppercase Recently added
      %ul.added-list
        %li
          %a{ href: "#" } EIDA Data Archive
          %span 3 min ago
        %li
          %a{ href: "#" } EGI Object Storage
          %span 55 min ago
        %li
          %a{ href: "#" } EIDA Data Archive
          %span 55 min ago
        %li
          %a{ href: "#" } Chronos
          %span 55 min ago

    .col-12.col-lg-9.right-column.pl-5
      %p.subtitle.mt-4 In EOSC Marketplace you can
      %p.title supply your research
      %p.title.text-right with the services it needs
      %ul.feature-list.mt-5
        %li
          %i.fas.fa-arrow-right
          %strong Free of charge
          service offers for researchers
        %li
          %i.fas.fa-arrow-right
          Unified order management with
          %strong dozen of providers
        %li
          %i.fas.fa-arrow-right
          Compatible services linking into ready-to-use environments

      .numbers.mt-5.row
        .col-4.text-center.pt-4
          .box
            .icon
              %i.far.fa-building
            .num 24
            .sub-num providers
        .col-4.text-center.pt-4
          .box
            .icon
              %i.fas.fa-cogs
            .num 178
            .sub-num services
        .col-4.text-center.pt-4
          .box
            .icon
              %i.fas.fa-globe
            .num 32
            .sub-num countries
