.container.home-intro
  .row
    .col-12.col-lg-3.left-column
      .left-menu.pl-4.pr-4.pt-2.pb-2
        %ul
          %li.all-link
            = link_to "All Services", services_path
          - @root_categories.each do |root_category|
            %li
              = link_to root_category.name, root_category
      %h5.mt-5.text-uppercase Recently added
      %ul.added-list
        %li
          EIDA Data Archive
          %span 3 min ago
        %li
          EGI Object Storage
          %span 55 min ago
        %li
          EIDA Data Archive
          %span 55 min ago
        %li
          Chronos
          %span 55 min ago

    .col-12.col-lg-9.right-column.pl-5
      %p.subtitle.mt-4 In EOSC Marketplace you can
      %p.title supply your research
      %p.title.text-right with the services it needs
      %ul.feature-list.mt-5
        %li
          %i.fas.fa-arrow-right
          %strong Free of charge
          service offers for researchers
        %li
          %i.fas.fa-arrow-right
          Unified order management with
          %strong dozens of providers
        %li
          %i.fas.fa-arrow-right
          Compatible services linking into ready-to-use environments

      .numbers.mt-5.row
        .col-3.text-center.pt-4
          .box
            .icon
              %i.far.fa-building
            .num 35
            .sub-num providers
        .col-6.text-center.pt-4
          .box
            .icon
              %i.fas.fa-cogs
            .num 73
            .sub-num services
        .col-3.text-center.pt-4
          .box
            .icon
              %i.fas.fa-globe
            .num 32
            .sub-num countries
