%h2.home-title Popular services

#home-carousel.carousel.slide.home-carousel{ "data-ride" => "carousel" }
  - slices = services.each_slice(3)
  .carousel-inner
    - slices.with_index do |(*slice), i|
      .carousel-item{ class: i&.zero? ? "active" : nil }
        .card-deck
          - slice.each do |service|
            = render "carousel-card", service: service

  %ol.carousel-indicators
    - slices.with_index do |(*_), i|
      %li{ "data-target" => "#home-carousel", "data-slide-to" => i,
             class: i&.zero? ? "active" : nil }
