- portal_base = Mp::Application.config.portal_base_url

%h2.home-title Use Cases
.row
  .col-12.col-lg-6
    = render "home/use_case/card",
      url: "#{portal_base}/language-data-insight-clarin-demonstrator",
      title: "From language data to insight: the CLARIN demonstrator" do
      How the integration of the CLARIN infrastructure into the EOSC
      Portal can facilitate the study of language data.

  .col-12.col-lg-6
    = render "home/use_case/card",
      url: "#{portal_base}/eosc-scalable-computing-infrastructure-earth-observation",
      title: "The EOSC as a scalable computing infrastructure for Earth Observation" do
      How EOSC could open the way for Earth Observation innovation.
