= render "home/products", categories: @categories, sample_services: @sample_services,
                          other_services: @other_services
.container
  %h2.mb-3.mt-4 Popular services
  #home-carousel.carousel.slide.home-carousel
    .carousel-inner
      .carousel-item.active
        .card-deck
          .card
            %img.card-img-top{ src: "assets/service-pic.png" }
            .card-body
              %a.card-title EGI Colud Compute1
            .card-footer
              %p
                %small Provided by:
                %a EGI Federated Cloud
              %p
                %small Dedicated for:
                %a Researchers
          .card
            %img.card-img-top{ src: "assets/service-pic.png" }
            .card-body
              %a.card-title EGI Colud Compute1
            .card-footer
              %p
                %small Provided by:
                %a EGI Federated Cloud
              %p
                %small Dedicated for:
                %a Researchers
          .card
            %img.card-img-top{ src: "assets/service-pic.png" }
            .card-body
              %a.card-title EGI Colud Compute1
            .card-footer
              %p
                %small Provided by:
                %a EGI Federated Cloud
              %p
                %small Dedicated for:
                %a Researchers
          .card
            %img.card-img-top{ src: "assets/service-pic.png" }
            .card-body
              %a.card-title EGI Colud Compute1
            .card-footer
              %p
                %small Provided by:
                %a EGI Federated Cloud
              %p
                %small Dedicated for:
                %a Researchers
      .carousel-item
        .card-deck
          .card
            %img.card-img-top{ src: "assets/service-pic.png" }
            .card-body
              %a.card-title EGI Colud Compute1
            .card-footer
              %p
                %small Provided by:
                %a EGI Federated Cloud
              %p
                %small Dedicated for:
                %a Researchers
          .card
            %img.card-img-top{ src: "assets/service-pic.png" }
            .card-body
              %a.card-title EGI Colud Compute1
            .card-footer
              %p
                %small Provided by:
                %a EGI Federated Cloud
              %p
                %small Dedicated for:
                %a Researchers
          .card
            %img.card-img-top{ src: "assets/service-pic.png" }
            .card-body
              %a.card-title EGI Colud Compute1
            .card-footer
              %p
                %small Provided by:
                %a EGI Federated Cloud
              %p
                %small Dedicated for:
                %a Researchers
          .card
            %img.card-img-top{ src: "assets/service-pic.png" }
            .card-body
              %a.card-title EGI Colud Compute1
            .card-footer
              %p
                %small Provided by:
                %a EGI Federated Cloud
              %p
                %small Dedicated for:
                %a Researchers

    %ol.carousel-indicators
      %li.active{ "data-target" => "#home-carousel", "data-slide-to" => "0" }
      %li{ "data-target" => "#home-carousel", "data-slide-to" => "1" }


  .row.d-flex.justify-content-center.mt-5
    %a.btn.btn-primary.mt-4 Browse all services


