.container
  = render "products",
    scientific_domains: @main_scientific_domains,
    categories: @root_categories_with_logos

  = render "info"

  = render_sections("learn-more")

  = render "services", services: @services
