.col-12.col-sm-6
  .card.testimonial
    - if content_for(:item_bar)
      = yield :item_bar
    .card-body
      .card-author.font-weight-bold.mb-3= link_to card.header.truncate(60), card.url, "data-toggle": "tooltip",
        title: (card.header.size > 60 ? card.header : nil)
      .card-description{ "data-toggle": "tooltip", title: (card.body.size > 140 ? card.body : nil) }
        = card.body.truncate(140)
