%p
  This service can be ordered via EOSC Marketplace. Once the information provided in the details
  of the underpinned Project is verified, the service will be delivered to you by the service provider.
%p
  To access the service:
  %ul.simple-list
    %li Place an order to request access
    %li You will receive the summary of your order via email
    %li You will be contacted by the support team once the service is ready for you to use
%p
  Your service request status changes can be tracked in the project's dashboard.
  To find out more about Projects in EOSC Marketplace, please refer to our
  = link_to "FAQ", help_path, "data-probe": ""
