%p
  This is an offer of the #{service_title} service.
  Press
  %strong Go to the service
  button to reach the service website.
  You may also add the service to a
  %strong Project
  in order to:
  %ul.simple-list
    %li Gain EOSC experts support
    %li Easily access the selected service
    %li Organise your services and orders into logical blocks
%p
  To find out more about Projects in EOSC Marketplace, please refer to our
  = link_to "FAQ", help_path, "data-probe": ""
