%p
  This is an offer of the #{service_title} resource.
  Press
  %strong Go to the resource
  button to reach the resource website.
  You may also add the resource to a
  %strong Project
  in order to:
  %ul.simple-list
    %li Gain EOSC experts support
    %li Easily access the selected resource
    %li Organise your resources and orders into logical blocks
%p
  To find out more about Projects in EOSC Marketplace, please refer to our
  = link_to "FAQ", help_path, "data-probe": ""
