#report-modal.modal.report-modal{ tabindex: "-1", role: "dialog",
                            "aria-hidden": true }
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header
        %h3#modal-title
          Report technical issue
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label": "Close" }
          %span{ "aria-hidden": true }
            &times;
      #report-modal-body.modal-body
        .modal-info.mb-4
          %p
            We will send your question to our customer service.
            %br
            You will receive an answer to your email address.
        = render "layouts/report/form", report: report
