- content_for :title, _("Edit Category")
- breadcrumb :backoffice_category_edit, @category
= render "layouts/backoffice/other_settings_wrapper" do
  .container.p-0.backoffice
    %h1= _("Edit Category")
    .container
      .row.mt-3.backoffice-form
        = render "form", category: @category
