.card.shadow-sm.rounded
  %button.btn.btn-link{ type: "button", class: ("collapsed" if collapsed?(service,
              [:terms_of_use_url, :privacy_policy_url, :access_policies_url])),
              data: { toggle: "collapse", target: "#management" },
              aria: { expanded: true, controls: "management" } }
    .card-header.text-left{ id: "management-header" }
      .row
        .col-10
          = _("Management")
        .col-2.text-right
          .collapse-icon
            %i.fas.fa-chevron-down
            %i.fas.fa-chevron-up
  .collapse{ id: "management", "aria-labelledby": "management-header",
            "data-parent": "#accordion-form",
            class: ("show" unless collapsed?(service, [:terms_of_use_url, :privacy_policy_url,
                                                      :access_policies_url])) }
    .card-body
      = f.input :terms_of_use_url, disabled: cant_edit?(:terms_of_use_url)
      = f.input :privacy_policy_url, disabled: cant_edit?(:privacy_policy_url)
      = f.input :access_policies_url, disabled: cant_edit?(:access_policies_url)
