.card.rounded
  %button.btn.btn-link{ type: "button", class: ("collapsed" if collapsed?(service,
              [:description, :logo, :public_contact_emails])),
              data: { toggle: "collapse", target: "#marketing" },
              aria: { expanded: true, controls: "marketing" } }
    .card-header.text-left{ id: "marketing-header" }
      .row
        .col-10
          = _("Marketing")
        .col-2.text-right
          .collapse-icon
            %i.fas.fa-chevron-down
            %i.fas.fa-chevron-up
  .collapse{ id: "marketing", "aria-labelledby": "marketing-header",
            "data-parent": "#accordion-form",
            class: ("show" unless collapsed?(service, [:description, :logo, :public_contact_emails])) }
    .card-body
      .service-description
        = f.input :description, disabled: cant_edit?(:description)
      = f.input :logo, disabled: cant_edit?(:logo)
      = f.input :public_contact_emails, as: :text, label: _("Public contact emails (one per line)"),
                input_html: { rows: 4, value: Array(service.public_contact_emails).join("\n") },
                disabled: cant_edit?([public_contact_emails: []])
