- if current.question?
  .card.text-white.bg-info
    .card-header= status_change(previous, current)
    .card-body= current.message
- else
  .card
    .card-header= status_change(previous, current)
    .card-body= current.message

