%h3 Order changes

- if order_changes.count.positive?
  %dl
    = ([nil] + order_changes).each_cons(2) do |previous, current|
      = render "order_change", previous: previous, current: current
- else
  %p No order changes yet
