%li.list-group-item
  .row
    .col-md-7
      = link_to order.service.title, order
    .col-md-2
      %span.small.text-uppercase
        = order.status
    .col-md-3.text-left
      %span.small
        last change: #{time_ago_in_words(order.updated_at)}
      %span.d-none
        = order.user.full_name



