- breadcrumb :orders

.container
  .row
    .col-md-8
      %h1.mb-0.font-weight-bold My Services
    .col-md-3.offset-md-1.my-auto
      %form
        .row
          .col-md-12
            %select.form-control.form-control-sm
              %option
                All
              %option
                option 1
              %option
                option 2
  %ul.list-group.mt-5
    = render @orders
