- content_for :title, _("Communities and infrastructures")
- breadcrumb :communities
%main.pages
  .container
    %h1{ "data-e2e": "communities-list" }
      = _("Communities and infrastructures")
    .media.border-0
      .media-body
        %ul.special-list
          - @platforms.each do |platform|
            %li.special-list-item
              = link_to platform.name, community_link(platform)
