<main>
  <section class="text-center heading">
    <div class="container">
      <div class="row py-lg-3">
        <div class="col-md-8 col-sm-12 mx-auto">
          <div class="logo-box">
            <img
              src="assets/logo-eosc-white.png"
              alt="EOSC Portal Catalogue and Marketplace"
              />
          </div>

          <h1>EOSC Portal Marketplace</h1>
          <p>
            Search. Browse. Access. Hundreds of research and innovation tools
            and services, thousands of datasets from a wide scale of research
            domains from renowned European service providers.
          </p>

          <ess-search-input><p>search-input</p>
          </ess-search-input>

          <p class="lead">Browse solutions</p>

          <div class="solutions-box">
            <a>Discover research outputs</a>
            <a>Publish research outputs</a>
            <a>Process and analyse</a>
            <a>Access computing resources</a>
            <a href="#">Find bundles</a>
            <a>Find instruments & equipment</a>
            <a>Access training materials</a>
            <a>Access research infrastructures
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="who-are-you py-5 text-center bg-light">
    <div class="container">
      <h2>Who are you?</h2>

      <div class="col-md-6 col-sm-12 mx-auto intro-box">
        <p style="text-align: center">
          Are you a researcher, citizen scientist or an educator looking for
          research data, tools or services? Are you a service provider keen on
          sharing its brand new tool or service to advance European research and
          innovation? Access the EOSC Portal services you need.
        </p>
      </div>

      <div class="col-md-6 col-sm-12 mx-auto">
        <div class="row">
          <a
            href="javascript:void(0)"
            class="col-lg-5 col-sm-12 bg-light mx-auto py-4 px-4">
            <div class="icon-box">
              <img
                src="assets/research.png"
                alt="Researcher Citizen science Educator"
                class="img-responsive vertical-center"
                />
            </div>

            <div class="card-title">Researcher Citizen science Educator</div>
          </a>

          <a
            href="javascript:void(0)"
            class="col-lg-5 col-sm-12 bg-light mx-auto py-4 px-4"
            (click)="scroll(provider)"
          >
            <div class="icon-box">
              <img
                src="assets/provider.png"
                alt="Provider"
                class="img-responsive vertical-center"
                />
            </div>
            <div class="card-title">Provider</div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <section class="looking py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <img src="assets/looking.png" alt="Loking for services" />
        </div>

        <div class="col-md-5 col-sm-12">
          <h3>Looking for services?</h3>
          <p>
            Access the EOSC Portal Marketplace to find hundreds of research and
            innovation tools and services and thousands of datasets from
            renowned European service providers.
          </p>
          <a
            href="https://marketplace.eosc-portal.eu"
            class="btn btn-primary mt-3"
          >Go to Marketplace</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="help bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 cards-container">
          <div class="row">
            <div class="col-6 gx-1 gy-1 py-0">
              <a
                class="card"
                title="fqBy('scientific_domains_ss', 'Medical & Health Sciences')"
              >
                <div class="icon-box">
                  <img
                    src="assets/ico-09.png"
                    alt="Medical & Health Sciences"
                    class="img-responsive"
                    />
                </div>
                <div class="card-title">Medical & Health Sciences</div>
              </a>
            </div>

            <div class="col-6 gx-1 gy-1 py-0">
              <a
                class="card"
                title="
                  fqBy('scientific_domains_ss', 'Engineering & Technology')
                "
              >
                <div class="icon-box">
                  <img
                    src="assets/ico-10.png"
                    alt="Engineering & technology"
                    class="img-responsive"
                    />
                </div>
                <div class="card-title">Engineering & technology</div>
              </a>
            </div>

            <div class="col-6 gx-1 gy-1 py-0">
              <a
                title="
                  fqBy('scientific_domains_ss', 'Natural Sciences')
                "
                class="card"
              >
                <div class="icon-box">
                  <img
                    src="assets/ico-11.png"
                    alt="Natural Sciences"
                    class="img-responsive"
                    />
                </div>
                <div class="card-title">Natural Sciences</div>
              </a>
            </div>

            <div class="col-6 gx-1 gy-1 py-0">
              <a
                title="fqBy('scientific_domains_ss', 'Generic')"
                class="card"
              >
                <div class="icon-box">
                  <img
                    src="assets/ico-12.png"
                    alt="Generic"
                    class="img-responsive"
                    />
                </div>
                <div class="card-title">Generic</div>
              </a>
            </div>

            <div class="col-6 gx-1 gy-1 py-0">
              <a
                title="fqBy('scientific_domains_ss', 'Humanities')"
                class="card"
              >
                <div class="icon-box">
                  <img
                    src="assets/ico-13.png"
                    alt="Humanities"
                    class="img-responsive"
                    />
                </div>
                <div class="card-title">Humanities</div>
              </a>
            </div>

            <div class="col-6 gx-1 gy-1 py-0">
              <a
                title="
                  fqBy('scientific_domains_ss', 'Agricultural Sciences')
                "
                class="card"
              >
                <div class="icon-box">
                  <img
                    src="assets/ico-14.png"
                    alt="Agricultural sciences"
                    class="img-responsive"
                    />
                </div>
                <div class="card-title">Agricultural sciences</div>
              </a>
            </div>

            <div class="col-6 gx-1 gy-1 py-0">
              <a
                title="fqBy('scientific_domains_ss', 'Social Sciences')"
                class="card"
              >
                <div class="icon-box">
                  <img
                    src="assets/ico-15.png"
                    alt="Social Sciences"
                    class="img-responsive"
                    />
                </div>
                <div class="card-title">Social sciences</div>
              </a>
            </div>

            <div class="col-6 gx-1 gy-1 py-0">
              <a
                title="fqBy('scientific_domains_ss', 'Other')"
                class="card"
              >
                <div class="icon-box">
                  <img
                    src="assets/ico-16.png"
                    alt="Other"
                    class="img-responsive"
                    />
                </div>
                <div class="card-title">Other</div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-12"></div>
        <div class="col-md-4 col-sm-12">
          <h3>Hundreds of solutions grouped by research domain.</h3>
          <p><strong>Your research. Your domain. Your category.</strong></p>
          <p>
            Find the service, tool or data you need to research and innovate via
            the domains listed.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="provider py-5 text-center bg-light">
    <div class="container">
      <h2>How can we help you provide your service?</h2>
      <div class="col-md-6 col-sm-12 mx-auto intro-box">
        <p>
          Contribute to advancing European Research and Innovation, provide your
          service. Pick the support you need.
        </p>
      </div>

      <div class="row help-row">
        <div class="col-lg-3 gx-4">
          <a
            href="https://providers.eosc-portal.eu/becomeAProvider"
            class="card bg-light py-4 px-4"
          >
            <div class="icon-box">
              <img
                src="assets/provider-01.png"
                alt="Onboard resources"
                class="img-responsive vertical-center"
                />
            </div>

            <div class="card-title">Onboard resources</div>
          </a>
        </div>

        <div class="col-lg-3 gx-4">
          <a
            href="https://providers.eosc-portal.eu/home"
            class="card bg-light py-4 px-4"
          >
            <div class="icon-box">
              <img
                src="assets/provider-02.png"
                alt="Provider dashboard"
                class="img-responsive vertical-center"
                />
            </div>

            <div class="card-title">Provider dashboard</div>
          </a>
        </div>

        <div class="col-lg-3 gx-4">
          <a
            href="https://providers.eosc-portal.eu/developers"
            class="card bg-light py-4 px-4"
          >
            <div class="icon-box">
              <img
                src="assets/provider-03.png"
                alt="API"
                class="img-responsive vertical-center"
                />
            </div>

            <div class="card-title">API</div>
          </a>
        </div>

        <div class="col-lg-3 gx-4">
          <a
            href="https://eosc-portal.eu/providers-documentation"
            class="card bg-light py-4 px-4"
          >
            <div class="icon-box">
              <img
                src="assets/provider-04.png"
                alt="Documentation"
                class="img-responsive vertical-center"
                />
            </div>

            <div class="card-title">Documentation</div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
