- content_for :title, _("Target users")
- breadcrumb :target_users
%main.pages
  .container
    .row
      %h2.home-title.mb-4{ "data-e2e": "target_user-list" }
        = _("Target Users")
      .media.border-0
        .media-body
          .row
            .col-12.col-lg-6.communities-wrapper
            %ul.row
              - @target_users.each do |target_user|
                %li.col-lg-6
                  = link_to target_user.name, services_path(target_users: target_user.to_param)
