- content_for :title, _("Terms and Use")
- breadcrumb :terms_of_use
-# haml-lint:disable MultilinePipe
%main
  .container.mt-5
    %h1.mb-4.display-1 Terms of Use
    .media.border-0
      .media-body
        .row
          .col-xs-12.col-sm-12
            %p
              Thank you for visiting the
              %strong.dark EGI marketplace
              provided by the EGI Foundation (the “Provider”,
              also known and hereafter referred to as EGI.eu) established in the Netherlands as the governing
              entity of the EGI Federation (see list of affiliated providers). These Terms of Use (“TOU”) are a
              binding legal contract between you and the Provider. The TOU govern your access to and the use of
              Provider’s marketplace, together with all content, services available at or through any service
              linking to this TOU (the “Services”).
            %p
              %strong.dark IMPORTANT:
              Please read the TOU carefully before using the Services. Using the Services indicates
              that you accept and agree to be bound by the TOU.  Do not use the Services if you do not accept the
              TOU.  The Provider may change or modify the Services or the TOU at any time.
              Such changes, revisions, or modifications shall be effective immediately upon being posted in
              relation to the Services.  Any use of the Services by you after we post changes to the TOU
              constitutes your acceptance of those changes.
            %p
              These TOU contain disclaimers of warranties (section 11), disclaimers of liability and an exclusive
              remedy (section 12), as well as information about certain limitations on your ability to bring a claim
              against us (section 16).
            %p
              The minimum age to use the Services is 16 years. Services are only offered to users that are at
              least 16 years old.  Any person who registers  as a user or provides his/her personal information on
              the Services represents that he/she is 16 years of age or older.
            %h3 1. Your Content
            %p
              You guarantee that you own any copyrights, trademarks or other intellectual property rights in
              any content you upload to the Services (“Content”). You are entirely responsible for the content of,
              and for any harm resulting from, the content made available by means of the Services. That is the
              case regardless of what form the content and materials take, which includes, but is not limited to
              video, text, photo, or other material. By making content available, you represent and warrant that
              your content does not violate these TOU.
            %p
              When you upload or submit content to our Services, you grant the EGI.eu (and the Provider) a worldwide
              and royalty-free license to use, host, store, reproduce, modify, communicate, adapt and publish the
              content solely for the purpose of, providing and improving our Services as well as developing new ones.
            %p
              For more information on how we use information that falls under the definition of “personal data”
              , please read our
              = link_to _("Privacy Policy."), "https://www.egi.eu/privacy-policy/"
            %p
              We are not liable for the accuracy, completeness, appropriateness, or legality of files, user posts,
              or any other content that is accessible on the Provider’s server and in your account. Without limiting
              any of those representations or warranties, the Provider has the right (though not the obligation)
              to, in its sole discretion (i) refuse or remove any content that, in the Provider’s reasonable opinion,
              violates our policy or TOU or Privacy Policy or is in any way harmful or objectionable, or (ii)
              terminate or deny access to and use of the Services.
            %h3 2. Access and Use of the Services
            %p
              You may not access or use the Services for any unlawful or unauthorized purpose.
              International users agree to comply with all local laws regarding privacy and the protection of
              personal data, online conduct and the legality of content.
            %p
              You may not access or use, or attempt to access or use, the Services to take any action that could
              harm us or any person or entity (a “person”), interfere with the operation of the Services, or use
              the Services in a manner that violates any laws.  For example, and without limitation, you may not:
            %p
              %ul.standard-list
                %li Impersonate any person or falsely state or otherwise misrepresent your credentials,
                affiliation with any person, or the origin of any information you provide;
                %li Engage in unauthorized spidering, scraping, or harvesting of content or information, or use any
                other unauthorized automated means to compile information;
                %li Obtain or attempt to gain unauthorized access to other computer systems, materials, information or
                any services available on or through the Services;
                %li Use any device, software, or routine to interfere or attempt to interfere with the proper working
                of the Services or any activity conducted on the Services or attempt to probe, scan, test the
                vulnerability of, or breach the security of any system, device or network;
                %li Circumvent, reverse engineer, decipher, decompile, disassemble, decrypt, or otherwise alter
                or interfere with (or attempt, encourage, or support anyone else’s attempt to engage in such
                activities) any of the software comprising or in any way making up a part of the Services.
                The use or distribution of tools designed for compromising security (e.g., password guessing programs,
                cracking tools or network probing tools) is strictly prohibited;
                %li Take any action that imposes an unreasonable or disproportionately large load on our network
                or infrastructure;
                %li Upload or otherwise transmit any communication, software, or material that contains a virus or is
                otherwise harmful to the computers, devices or systems of the EGI.eu, the Provider or its users; or
                %li Engage in any other conduct that restricts or inhibits any person from using or enjoying
                the Services, or that, in our sole judgment, exposes us or any of our affiliates, users or any other
                third party to any liability, damages, or detriment of any type.
              You agree that we reserve the right to monitor all Content.  You further agree that while we reserve
              the right to remove Content in our sole discretion for any reason, we have no duty to do so.
              We also reserve the right to turn over any Content to law enforcement officials. Violations of system
              or network security and certain other conduct may result in civil or criminal liability.
              We may investigate and work with law enforcement authorities to prosecute users who violate the TOU.
              We may suspend or terminate your access to the Services for any or no reason at any time without notice.
            %h3 3. Violation And Abuse
            %p
              We want to maintain a safe environment for all users and visitors. Please notify the Provider’s staff
              immediately of any spam, abuse, misuse, violation of use, nudity, illegal activity or compromising
              behaviour you may encounter. Please send an email promptly expressing your concern to

              = link_to _("abuse@egi.eu."), "mailto:abuse@egi.eu"
            %p
              You agree not to provide Content that:
            %p
              %ul.standard-list
                %li Infringes on, misappropriates or otherwise violates the copyright, trademark, patent or other
                intellectual property right of any person, or reveals trade secrets or other proprietary information
                you do not have the right to disclose;
                %li Is false, misleading, libelous, slanderous, defamatory, obscene, abusive, hateful,
                or sexually explicit;
                %li Violates a person’s right to privacy or publicity;
                %li Contains advertising, commercial activity or a solicitation of any kind;
                %li Degrades others on the basis of gender, race, class, ethnicity, national origin, religion,
                sexual preference, orientation or identity, disability, or other classification;
                %li Contains epithets or other language or material intended to intimidate or to incite violence; or
                %li Violates any applicable local, state, national, or international law,
                or advocates illegal activity.
            %h3 4. Registration
            %p
              In order to use some of our Services, you must register and provide certain information
              (such as name, email and postal addresses and institution you are part of) to the Provider.
              For information on how we use personal data, please read our
              Privacy Policy available at http://go.egi.eu/privacy-policy.
            %p
              You agree to provide current, complete and accurate data and you agree to update your information
              as needed to keep your account current when using the Services. It is your responsibility to keep
              your registration information up to date, accurate and complete and you are responsible for any
              damage caused by non-compliance with these obligations.
            %p
              You acknowledge and agree that you are responsible for maintaining the confidentiality of your
              registration information and password, and for all uses of your password.  You should not allow
              others to use your account or share the details contained therein. The Provider and its partners,
              subsidiaries, agents, affiliates and/or licensees are not liable for any improper, unauthorized or
              illegal use of your account or any data stored in our servers or Services. The Provider  is not
              responsible for any damage that you may incur as a result of the use of your password or account by
              third parties, whether or not you are aware of such use. You may delete your account at any time.
              You are responsible for maintaining the confidentiality of your password and account and are fully
              responsible for all activities that occur under your account, regardless if authorized by you or not,
              including all data you store and share with the Provider. You agree to immediately notify the Provider
              of any unauthorized use of your account or any other breach of security, and ensure that
              you successfully log out from your account at the end of each session. The Provider is not liable
              for any loss or damage arising from your failure to comply
              with these TOU pertaining to your own personal account.
            %p
              In case of violation of these TOU, the Provider may, at its sole discretion, delete your account,
              remove or edit any content, or access connected to your account or perform
              any other action we deem to be appropriate.
            %h3 5. Copyright License
            %p
              This website and the materials therein is “Copyright © 2016 EGI Foundation”, unless otherwise specified.
              Work that is marked with the disclaimer “Copyright © 2016 EGI Foundation” cannot be reused without
              explicit permission of the EGI Foundation.
            %h3 6. Account/Service Termination
            %p
              You agree and understand that the Provider may terminate your account without any previous notice
              and may destroy any data stored with the Provider. If the Provider receives notice alleging that you
              have engaged in infringing behaviour or reasonably suspects that your use of the Service violates
              the intellectual property rights of EGI.eu, the Provider or others or applicable laws, EGI.eu and
              the Provider may, at their discretion, suspend or terminate your account and suspend Services without
              notice. The Provider is not liable to you or to any third party for the termination of your account
              and for the interruption of the Services.
            %h3 7. User Responsibilities
            %p
              Save what is provided for under paragraph 5 above (Copyright License) you are fully responsible
              and liable for what you copy, share, upload, download and all other activities performed within
              your account and with the Services. You must not upload spyware or any other malicious software
              to the Services. The Provider is not liable for any loss or corruption of your data or for any
              costs or expenses associated with backing up or restoring any of your data entrusted to the Provider.
            %h3 8. Commercial Use Of Our Services
            %p
              Save what is provided for under paragraph 5 above (Copyright License) if you are using our services
              on behalf of a business, that business accepts these TOU. The business will protect and compensate
              the Provider from any claim, suit or action arising from or related to the use of the Services or
              violation of these TOU, including any liability or expenses arising from claims, losses, damages,
              suits, judgments, litigation costs and attorney fees.
            %h3 9. Links and Other Content
            %p
              The Services may contain links to third-party websites. The Provider does not endorse or promote
              these websites and services and is not responsible or liable for their claims, availability, accuracy,
              the related content, products, or services. You are responsible for your use of any
              such websites or resources.
            %h3 10. Disclaimer of Warranties
            %p
              Save what is provided for under paragraph 5 above (copyright license) your use of the services is
              entirely at your own risk.  We make no representations or warranties about the services, including
              without limitation the operation of the services or the information, materials,  or services
              appearing or offered on the services or with respect to any websites or services linked from
              the services.  The services are provided “as is” and “as available.”  Without limiting the generality
              of the foregoing, we disclaim all warranties, express, statutory or implied, including but not
              limited to (i) the warranties of merchantability, fitness for a particular purpose; (ii) the
              warranties against infringement, misappropriation or violation of any intellectual property or
              proprietary rights of any person; (iii) warranties arising through course of dealing or usage in
              trade; and (iv) the warranties relating to the accuracy, reliability, correctness, or completeness of
              data or content made available on the services or otherwise by egi.eu and or the provider.  Further,
              there is no warranty that the services will meet your needs or requirements or the needs or
              requirements of any other person or the needs or requirements set forth in any documentation.
              We make no warranties, express, statutory or implied, that the services, including without limitation
              the content, functions or materials contained therein, will be timely, secure, accurate, error-free,
              complete, up-to-date, free of viruses, or uninterrupted.  Egi.eu and the provider do not necessarily
              endorse, support, sanction, encourage or agree with any content, and we expressly disclaim any and
              all representations, warranties and liabilities in connection with any content.  Egi.eu and the
              provider make no representation that the services are appropriate or available for use outside
              the european union.  No oral or written information made available by or on behalf of egi.eu shall
              create any warranty.
            %p
              If applicable law does not allow the exclusion of some or all of the above implied or statutory
              warranties to apply to you, the above exclusions will apply to you to the fullest extent permitted
              by applicable law.
            %h3 11. Exclusive Remedy and Limitation of Liability
            %p
              SAVE WHAT IS PROVIDED FOR UNDER PARAGRAPH 5 ABOVE (COPYRIGHT LICENSE) UNDER NO CIRCUMSTANCES,
              INCLUDING WITHOUT LIMITATION NEGLIGENCE, WILL EGI.EU, THE PROVIDER, ITS AFFILIATES, OR ANY PARTY
              INVOLVED IN CREATING, PRODUCING , OR DELIVERING THE SERVICES BE LIABLE FOR DAMAGES OR LOSSES
              INCLUDING WITHOUT LIMITATION DIRECT, INCIDENTAL, CONSEQUENTIAL, INDIRECT, SPECIAL, OR PUNITIVE
              DAMAGES AND LOST PROFITS ARISING OUT OF THE TERMS OR YOUR ACCESS, USE, MISUSE, OR INABILITY TO
              USE THE SERVICES, INCLUDING WITHOUT LIMITATION ANY EGI.EU OR PROVIDER’S CONTENT OR USER CONTENT,
              OR ANY SITES LINKED FROM THE SERVICES, HOWEVER CAUSED, WHETHER IN CONTRACT, TORT, NEGLIGENCE,
              STRICT LIABILITY OR OTHERWISE, EVEN IF EGI.EU OR THE PROVIDER HAS BEEN ADVISED OF THE POSSIBILITY
              OF SUCH DAMAGES, OR IN CONNECTION WITH ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION,
              DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, OR LINE OR SYSTEM FAILURE.
            %p
              Because some jurisdictions do not allow the exclusion or limitation of incidental or consequential
              damages, the Provider’s liability in such jurisdictions shall be limited to the extent permitted
              by law.  Any claim against us shall be limited to the amount you paid, if any, for use of the Services.
            %h3 12. Indemnification
            %p
              You agree to indemnify, hold harmless, and defend EGI.eu, the Provider and its affiliates, officers,
              directors, contractors, agents, employees, successors and assigns from and against any and all demands,
              claims, damages, liabilities, judgments, fines, interest, penalties, losses, costs, expenses and harms,
              including without limitation reasonable attorneys’ fees and fees of other professional advisers,
              arising out of or in connection with (i) your use of the Services (including, without limitation,
              your Content, content owned by EGI.eu and or by the Provider, and your use of any other user’s Content),
              (ii) your online conduct, (iii) your violation or breach of this TOU, (iv) your failure to comply
              with any applicable laws or regulations, (v) your negligence, wilful misconduct, or violations
              of the intellectual property or other rights of any person, or (vi) any of your dealings or
              transactions with other persons resulting from use of the Services.  You shall not settle any such
              claim without the prior written consent of the Provider.  These obligations will survive
              any termination of these TOU.
            %h3 13. Integration and Severability
            %p
              These TOU constitute the entire agreement between the Provider  and you, superseding any prior or
              contemporaneous communications and proposals (whether oral, written or electronic) between
              you and us.  In the event any provision of this TOU is held unenforceable, it will not affect
              the validity or enforceability of the remaining provisions and will be replaced by an enforceable
              provision that comes closest to the intention underlying the unenforceable provision.
            %h3 14. No Waiver
            %p
              Our failure to enforce any provisions of this TOU or respond to a breach by you or other parties
              shall not in any way waive our right to enforce subsequently any terms or conditions of the
              TOU or to act with respect to similar breaches.
            %h3 15. Location and Governing Law
            %p
              These TOU are governed by, and must be construed in accordance with the laws of the Netherlands
              and interpreted according to applicable EU law principles, without giving effect to their principles
              of conflicts of law.  By using the Services, you waive any claims that may arise under the laws of
              other states, countries, territories or jurisdictions.
            %h3 16. Miscellaneous and Contact Information
            %p
              No joint venture, partnership, employment, or agency relationship exists between the Provider and
              the user or as a result of this agreement or the use of our services.
            %p
              Please direct any questions, complaints or claims related to the Services or your use of the Services
              by email to contact@egi.eu or by regular mail at EGI Foundation, Science Park 140, 1098XG
              Amsterdam, the Netherlands.
