- content_for :title, t(".title")
- breadcrumb :backoffice_scientific_domain_edit, @scientific_domain

.container
  %h1= t(".title")
  .container
    .row.service-box.shadow-sm.p-4.mt-3.backoffice-form
      = render "form", scientific_domain: @scientific_domain
