- content_for :title, _("New Scientific Domain")
- breadcrumb :backoffice_scientific_domain_new, @scientific_domain

%h2= _("New Scientific Domain")
= render "form", scientific_domain: @scientific_domain
