- fields.map do |field|
  - if provider.send(field).present?
    - Array(provider.send(field)).map do |entry|
      - if nested.present? && nested[field.to_sym].present?
        %span.status
          = t(".#{field}") + " : " + "#{entry.send(nested[field.to_sym])}"
      - else
        %span= entry
