%h3.subsection
  %a{ id: "payment" }
  Methods of payment
#help-payment.accordion.faq-list
  = render "pages/card", parent: "help-payment", name: "how",
    title: "How do we pay for using the resources ? " do
    %p
      Services provided via the EOSC marketplace to the end-users are expected
      to be free of charge at the point of use. Some of the services provide
      fee-based access and service providers are free to define the pricing
      model for their services which would be visible to end-users via the
      marketplace. The marketplace announced fees reflect subsidies and
      state-aid, where applicable, so that the Member State funding is
      visible/traceable across the different service layers of the EOSC.

    %p
      The funds to pay for researchers’ use of fee-based services may come
      from multiple sources such as research grants at national or research
      funder level as well as a centralised funding model whereby multiple
      countries or agencies collectively fund access to services.



  = render "pages/card", parent: "help-payment", name: "helix-nebula-voucher",
    title: "How can I use a voucher-based orders (Helix Nebula use case)*" do
    %p
      The voucher scheme was proposed by Exoscale, the IaaS computing resources
      for the RHEA Cloud platform, as a result of the collaboration with the
      HNSciCloud Pre-Commercial Procurement (PCP) project.

    %p
      The Exoscale vouchers provide a pre-paid access for users to a commercial
      cloud service provider for a specific monetary value and allow researchers
      with limited computing resources to test different configurations and
      choose the best service offer for their needs.

    %p
      The vouchers aim to: Encourage the uptake of the resulted HNSciCloud
      pilot services for limited scale usage.allow commercial cloud service
      providers to contribute to the EOSC. Offer a convenient means to finance
      the use of EOSC services and increase the user base.

    %h5.mt-3 How to use it?
    %ul
      %li
        Access the EOSC portal marketplace.
      %li
        Select the Elastic Cloud Compute Cluster (EC3) platform from the list
        of available services.
      %li
        Submit a service-order request to use the EC3 platform (select the
        voucher option). When the request is approved, the user will be
        notified by email by the EOSC portal Marketplace.

    %i Additional information:
    Each Exoscale voucher is worth around 400 euros. A total of 10 vouchers
    are available for running applications for scientific purposes.
    The vouchers proposed by the HNSciCloud project will have a validity of
    one year from the date of issue. All vouchers should be consumed
    before the end of 2019.



  = render "pages/card", parent: "help-payment", name: "hnscicloud-voucher",
    title: "How much resources can I use with a HNSciCloud voucher ?*" do
    %ul
      %li
        With no.1 voucher user can use of 9 instances of "small" [2] type for 3 months
      %li
        With no.1 voucher user can use of 4 instances of "medium"  [2] type for 3 months
      %li
        With no.1 voucher user can use of 2 instances of "large" [2] type for 3 months
