%h3.subsection Registration and Account Settings
#help-registration-and-settings.accordion.faq-list
  = render "pages/help_card", parent: "help-registration-and-settings", name: "changeme",
    title: "Template" do
    Template

