%h3.subsection Searching in the Marketplace
#help-searching.accordion.faq-list
  = render "pages/help_card", parent: "help-searching", name: "how",
    title: "How can I search for services?" do
    %ul
      The user can search for services in the following ways:
      %li
        browse category tree, filter all services by category or subcategories
      %li
        search services using text (all services matching text of category,
        name, short and long description apply)
      %li
        find services by its name, by target group, by selecting service
        properties specific to the category, by quality tags

    %ul
      After a customer has identified a suitable working service,
      he/she might be tempted to find another similar one to further explore
      the EOSC and make comparisons. This use case can be supported with a
      tag mechanism allowing to identify similar services. Tags can be
      triggered in two ways:
      %li
        inserting a tag into the search bar;
      %li
        looking up the tags connected with a service in its description
        page and clicking on one of them. 


  = render "pages/help_card", parent: "help-searching", name: "compare",
    title: "How can I compare the existing services ?" do
    %p
      The visual linkage between services that are somehow interoperable is
      another mechanism that fosters service composition and integration.
      This feature improves the service discovery and guides users in choosing
      the right solutions to create a service pipeline that can fully support
      their data processing needs, exploiting all the potential of the EOSC
      service catalogue.

    %ol
      EOSC services are classified, with respect to the service
      interoperability, in the following three categories:
      %li
        %i Not interoperable services:
        inputs and outputs from them cannot create a logical workflow - trying
        to run them together makes no sense. There is no linking at the GUI
        level, user should have a clear message that those services, even if
        added to the same project, will not be exploitable together.
      %li
        %i Compatible services:
        there is no low level integration but it makes sense to use those
        services together. Their inputs and outputs can create a logical
        workflow. The Marketplace GUI provides visible links to those services
        on a service entry level.
      %li
        %i Services integrated at a technical level:
        as a result of this integration, new solution based on a service
        bundle can be made available in the EOSC Portal Catalogue and
        Marketplace and offered as a unique service in the GUI.
        Ordering a bundle (two or more services) will trigger the creation of
        one order for multiple services.

