.empty-project
  .row
    .col-sm-5.pt-4.pb-3.pl-5
      %h3 You have no services in this project yet.
      %p Use our catalogue to add one.
      %p If you need help with these don't hesitate and contact with our support.
      = link_to "Add your first service", services_url,
      class: "btn btn-primary mb-4 pl-5 pr-5 text-center"
    .col
      .empty-list-img.mt-4
