.empty-project
  .row
    .col-lg-6.pt-5.pb-4.pl-5.order-lg-first.order-md-last.order-sm-last.order-last
      = t(".description_html")

      = link_to "Add your first service", project_add_path(project),
        class: "btn btn-primary mb-4 pl-5 pr-5 mt-3 text-center",
        method: :post
    .col.pt-5.order-lg-last.order-md-first.order-sm-first.order-first
      .empty-list-img.mt-5
