.row
  .col-lg-6.pt-5.pb-5.pl-5.order-lg-first.order-md-last.order-sm-last.order-last
    %h1.mb-4
      = t(".header")
    %p.lead.pr-4.order-lg-first.order-md-last.order-sm-last.order-last
      = t(".summary")
    = link_to button_label, new_project_path, class: "btn btn-primary mt-3"
  .col
    .empty-list-img-big.mt-5.pt-5
.row
  = t(".details_html")

