.row
  .col-12
    %ul.nav.nav-tabs.mt-4.pl-3.row
      %li.nav-item
        %a.nav-link.active{ "href": "#details", "data-toggle": "tab" } Project details
      %li.nav-item
        %a.nav-link{ "href": "#chat", "data-toggle": "tab" } Chat with customer service
    .tab-content
      = render "projects/details", project: project
      = render "projects/chat"
