- content_for :title, (_("Edit Project %{pn}") % { pn: @project.name })
- breadcrumb :project_edit, @project
.container
  .mb-4.pb-4.border-header
    %h1.mr-auto.my-auto
      = _("Edit Project %{pn}") % { pn: @project.name }
  .edit-project
    = render "form", project: @project, show_recaptcha: false, turbo_enabled: false
  %hr.bottom-hr.mt-5.mb-4
  .row
    .col-12
      %button.btn.btn-primary.pl-5.pr-5{ type: "submit",
        form: "modal-form", "data-e2e": "update-project-btn" }
        = _("Update")
      = back_link_to _("Cancel"), @project,
                      class: "btn btn-link text-uppercase"
