- breadcrumb :project_edit, @project
.container
  %h1.mb-5
    Edit Project
    = @project.name
  .edit-project
    = render "form", project: @project
  = back_link_to t("project.buttons.cancel"), @project,
                  class: "btn btn-secondary"
  %button.btn.btn-primary{ type: "submit",
                           form: "modal-form" }
    = t("project.buttons.update")

