- breadcrumb :projects

.container
  .d-flex.mb-5
    %h1.mr-auto.my-auto My projects and orders
    = link_to "Create new project",
                  new_project_path,
                  class: "btn btn-success"

  = render @projects
