- breadcrumb :projects

.container
  .d-flex.mb-5
    %h1.mr-auto.my-auto My Services
    %form.my-auto
      %select.form-control.form-control-sm.custom-select
        %option
          All
        %option
          option 1
        %option
          option 2

  = render @projects

