- content_for :title, t(".title")
- breadcrumb :projects

= render "projects/layout", project: @project, projects: @projects do
  .empty-project.container.shadow-sm
    = render "project_description", button_label: t(".button_label.first")
