- breadcrumb :project_new
.container
  .mb-4.pb-4.border-header
    %h1.mr-auto.my-auto  Create new project
  = render "form", project: @project
  .row.mt-5
    .col-12
      = back_link_to t("project.buttons.cancel"), @project,
        class: "btn btn-secondary"
      %button.btn.btn-primary{ type: "submit",
                               form: "modal-form" }
        = t("project.buttons.create")

