- content_for :title, _("Create new Project")
- breadcrumb :project_new
.container
  .mb-4.pb-4.border-header
    %h1.mr-auto.my-auto= _("Create new Project")
  = render "form", project: @project, show_recaptcha: true

  %hr.bottom-hr.mt-5.mb-4
  .row
    .col-12
      %button.btn.btn-primary.mr-5{ type: "submit",
                               form: "modal-form", "data-e2e": "updateProjectBtn" }
        = _("Create new project")
      = back_link_to _("Cancel"), @project,
        class: "text-left flex-grow-1 text-uppercase"
