- breadcrumb :project_new
.container
  %h2 New Project
  = render "form", project: @project
  .row.mt-5
    .col-12
      %button.btn.btn-secondary{ type: "button" } Close
      %button.btn.btn-primary{ type: "submit", form: "modal-form" } Create
