- breadcrumb :project, @project

= render "projects/project_layout", project: @project, projects: @projects do
  .container.pt-3.order-container
    .additional-information
      = render "projects/details", project: @project
