{
  let projectSelect = $("#project_item_project_id");

  projectSelect.append(
    $("<option></option>", { value: "<%= @project.id %>" }).text("<%= @project.name %>"));
  projectSelect.val("<%= @project.id %>");
  projectSelect.focus();

  $("#ajax-modal").modal("hide");
}
