
.row
  - if order_item
    = form_for(Order.new) do |f|
      %p= order_item.title
      = f.hidden_field :service_id, value: order_item.id
      %button{ class: "btn btn-primary" }
        Order
  - else
    %p= "Cart is empty"
