
.card-group.row
  - if @service.offers?
    = render partial: "backoffice/services/offers/offer", collection: service.offers, locals: { service: service }
  - else
    %p This service has no offers


