
.card-group.row
  - if offers.count > 1
    = render partial: "backoffice/services/offers/offer", collection: offers, locals: { service: service }
  - elsif offers.count == 1
    %p This service has one default offer.
  - else
    %p This service has no offers.
