- content_for :title, _("Edit Offer")
.container
  %h2= _("Edit Offer")
  - if @service.offers.size == 1
    = render "one_offer_edit_form",
      offer: @offer,
      service: @service,
      offer_form_source_module: [:backoffice, @service, @offer],
      back_link: backoffice_service_path(@service)
  - else
    = render "form",
      offer: @offer,
      service: @service,
      offer_form_source_module: [:backoffice, @service, @offer],
      back_link: backoffice_service_path(@service)


