- content_for :title, _("Create new offer")
- breadcrumb :backoffice_service_new
.container
  .mb-4.pb-4.border-header
    %h1= _("Create new offer")

  = render "form",
    service: @service,
    offer: @offer,
    offer_form_source_module: [:backoffice, @service, @offer],
    back_link: backoffice_service_path(@service)

