- content_for :title, _("New #{@service.name} Offer")
- breadcrumb :backoffice_offer_new, @service

.container
  = render "form",
    service: @service,
    offer: @offer,
    show_delete_button: false,
    offer_form_source_module: [:backoffice, @service, @offer],
    back_link: backoffice_service_offers_path(@service)
