- content_for :title, t(".title")
- breadcrumb :backoffice_service_new
.container
  .mb-4.pb-4.border-header
    %h1= t(".title")

  = render "form",
    service: @service,
    offer: @offer,
    documentation_url: @documentation_url

