.row
  .col-12
    %ul#my-tab.nav.nav-tabs.row.pl-3{ role: "tablist" }
      %li.nav-item
        %a.nav-link.active.text-uppercase{ "data-probe": "",
                                           "data-target": "datasource.tab",
                                           "data-action": "click->datasource#toggle",
                                           "data-value": "about" }
          = _("About")
      %li.nav-item
        %a.nav-link.text-uppercase{ "data-probe": "",
                                    "data-target": "datasource.tab datasource.details",
                                    "data-action": "click->datasource#toggle",
                                    "data-value": "details" }
          = _("Details")
