- content_for :title, t(".title")
.container
  %h1
    So sorry!
  %p.mt-3
    An unexpected error occurred.
    A notification has been sent to our development team for investigation. We are sorry for the inconvenience.
  = link_to "Take me to start page", root_path, class: "btn btn-primary mt-2"
