- content_for :title, t(".title")
.container
  %h1
    Page not found
  %p.mt-3
    The page you are looking for was moved, removed, renamed or might never existed.
  = link_to "Take me to start page", root_path, class: "btn btn-primary mt-2"
