.container
  %h1
    = _("The change you requested was rejected")
  %p.mt-3
    = _("Please contact with us if you think this is a mistake.")
  = link_to _("Take me to start page"), root_path, class: "btn btn-primary mt-2"
