- if technical_parameters.present?
  %h5.parameters-title
    = _("Available Technical Parameters")
  %table.offer-params.table.table-borderless
    %tbody
      - technical_parameters.each do |parameter|
        %tr
          %td= parameter["label"]
          %td.text-right.text-nowrap.font-weight-bold= parse_offer_parameter_value(parameter)
