- if technical_parameters.present?
  #collapse-example.bundle-box.collapse.mt-4
    %h5.text-uppercase.parameters-title.mb-0.mt-4
      %i.fas.fa-tachometer-alt
      = _("Technical Parameters")
    %table.offer-params.table.table-hover
      %tbody
        - technical_parameters.each do |parameter|
          %tr
            %td= parameter["label"]
            %td.text-right.text-nowrap.font-weight-bold= parse_offer_parameter_value(parameter)
