.card.col-md-6
  .card-body
    %h4.card-title= offer.name
    %p.card-text.mb-4= offer.description
    -# %h5.text-uppercase.parameters-title.mb-0= "Technical parameters"
       %table.table.table-hover
         %tbody
           %tr
             %td TODO: name of an attribute
             %td TODO: value of an attribute
           %tr
             %td TODO: more attributes
             %td TODO: more values

  .card-button.text-center
    %label
      = f.radio_button :offer_id, offer.iid, checked: project_item.offer == offer
      %span.btn.btn-light.border.border-secondary.font-weight-bold Select

