= field.input :id,
  label: attr.label,
  readonly: true,
  input_html: { value: "#{attr.value}", name: "#{field.object_name}[#{attr.id}]" },
  error: attr.errors.messages_for(:id).join(" "),
  hint: attr.description
