= field.input :id,
  label: attr.label,
  input_html: { value: "#{attr.value}", name: "#{field.object_name}[#{attr.id}]" },
  error: attr.errors.messages[:id].join(" "),
  hint: attr.description,
  as: :date_time_picker
