- @catalogues.each do |catalogue|
  = turbo_stream.replace(catalogue, partial: "components/presentable/list_component/item_details",
                                          locals: { obj: catalogue, klass: "catalogue" })
= render_turbo_stream_flash
