h1 {
  color: map-get($colors, major);
}

.underline-light {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid $body-color;
    width: 100%;
    height: 0;
    left: 0;
    z-index: 8;
    opacity: 0.2;
  }
}

.collapsed .collapse-icon .fa-chevron-up,
.collapse-icon .fa-chevron-down {

  display: none;
}

.collapsed .collapse-icon .fa-chevron-down,
.collapse-icon .fa-chevron-up {

  display: inline-block;
}


.eosc-hub-logo-main {
  width: 95%;
}

.eosc-hub-logo {
  max-width: 50%;
  min-width: 30%;
  height: auto;
  margin-bottom: 15px;
}

.spinner-background {
  position: fixed;
  background: $spinner-background-rgba;
  height: 100%;
  width: 100%;
  z-index: 999999;
  display: none;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-self: center;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $primary;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primary transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.report-link {
  position: fixed;
  right: 5%;
  bottom: 10%;
  margin-bottom: -2.5em;
  padding: 0.5em;
  background-color: $palette-solid-30;
  font-size: 0.8em;
}

