h1 {
  color: map-get($colors, major);
}

.underline-light {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid $body-color;
    width: 100%;
    height: 0;
    left: 0;
    z-index: 8;
    opacity: 0.2;
  }
}
