h1 {
  color: map-get($colors, major);
}

.underline-light {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid $body-color;
    width: 100%;
    height: 0;
    left: 0;
    z-index: 8;
    opacity: 0.2;
  }
}

.collapsed .collapse-icon .fa-chevron-up,
.collapse-icon .fa-chevron-down {

  display: none;
}

.collapsed .collapse-icon .fa-chevron-down,
.collapse-icon .fa-chevron-up {

  display: inline-block;
}


.eosc-hub-logo-main {
  width: 95%;
}

.eosc-hub-logo {
  max-width: 50%;
  min-width: 30%;
  height: auto;
  margin-bottom: 15px;
}
