@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-light-webfont.ttf') format('truetype');
  font-weight: $font-weight-light;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-lightitalic-webfont.ttf') format('truetype');
  font-weight: $font-weight-light;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-regular-webfont.ttf') format('truetype');
  font-weight: $font-weight-normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-italic-webfont.ttf') format('truetype');
  font-weight: $font-weight-normal;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-medium-webfont.ttf') format('truetype');
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-mediumitalic-webfont.ttf') format('truetype');
  font-weight: $font-weight-bold;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-bold-webfont.ttf') format('truetype');
  font-weight: $font-weight-bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-bolditalic-webfont.ttf') format('truetype');
  font-weight: $font-weight-bolder;
  font-style: italic;
}
