@font-face {
  font-family: 'ubuntubold';
  src: url('../../assets/fonts/ubuntu-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntubold_italic';
  src: url('../../assets/fonts/ubuntu-bolditalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntuitalic';
  src: url('../../assets/fonts/ubuntu-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_lightregular';
  src: url('../../assets/fonts/ubuntu-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_lightitalic';
  src: url('../../assets/fonts/ubuntu-lightitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_mediumregular';
  src: url('../../assets/fonts/ubuntu-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_mediumitalic';
  src: url('../../assets/fonts/ubuntu-mediumitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubunturegular';
  src: url('../../assets/fonts/ubuntu-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tekoregular';
  src: url('../../assets/fonts/teko-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tekolight';
  src: url('../../assets/fonts/teko-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tekomedium';
  src: url('../../assets/fonts/teko-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tekobold';
  src: url('../../assets/fonts/teko-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tekosemibold';
  src: url('../../assets/fonts/teko-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
