
@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: $font-weight-normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Italic.ttf') format('truetype');
  font-weight: $font-weight-normal;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-BoldItalic.ttf') format('truetype');
  font-weight: $font-weight-bold;
  font-style: italic;
}
