header {


  .input-group {
    &:focus {
      box-shadow: 0 0 3px $secondary;
      border-radius: 0.2rem;
    }

    &:hover {
      box-shadow: 0 0 3px $secondary;
    }
  }
}

.navbar {
  &.navbar-expand-lg {
    .navbar-nav {
      .nav-link {
        font-size: $font-size-navbar;
        font-weight: $font-weight-normal;
        color: $nav-color;

        &:hover {
          border: none;
        }
      }

      .active {
        background-color: $white;
        border-radius: 0.2rem;
      }
    }
  }

  .dropdown-toggle[aria-expanded=true] .fa-chevron-down,
  .dropdown-toggle[aria-expanded=false] .fa-chevron-up {
    display: none;
  }

  .dropdown-menu {
    width: 100%;
    border: 1px solid $palette-gray-10;
    margin-top: 0;
    border-radius: 0;
    padding-bottom: 0;
  }

  .dropdown-services {
    display: block;
  }

  @media(min-width: map_get($grid-breakpoints, "lg")) {
    .dropdown-menu {
      display: block;
      visibility: hidden;
      transform: translate(0, 20px);
      opacity: 0;
      transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
    }

    .dropdown-services {
      display: unset;
    }

    .nav-link {
      position: relative;

      &::before {
        display: block;
        width: 100%;
        height: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        border: none;
        border-bottom: 0 solid $secondary;
        content: '';
      }
    }

    .nav-item:hover {
      border: none;

      .dropdown-menu {
        visibility: visible;
        transform: translate(0, 0);
        opacity: 1;
        transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
      }

      .nav-link::before {
        border-bottom-width: 4px;
        transition: all 0.4s ease 0s;
      }
    }
  }

  .dropdown-item {
    padding-top: 8px;
    padding-bottom: 8px;

    &:hover {
      border-bottom: none;
      color: $palette-blue;
      background-color: transparent;
    }
  }

  .login-link {
    border-top: 1px solid $palette-gray-10;
    padding: 10px 20px 3px;
  }
}
