@import 'ref_variables';
@import 'fonts';

html {
  font-size: 16px;
}

body > main {
  padding: 0 15px;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  border: 1px solid $palette-gray-50;
  border-radius: $border-radius-default;
  line-height: 1.25rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-wrapper {
  position: fixed;
  left: 0;
  display: block;
  top: 30%;
  z-index: 800;
  font-size: 20px;

  ul {
    display: grid;
    list-style: none;
    padding: 10px 5px 5px;
    width: 45px;
    background: $color-white;
    box-shadow: 0 0 10px 0 $palette-solid-20;

    li {
      width: 100%;
      margin: 6px 0;
      text-align: center;

      a {
        color: $palette-gray-80;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

/* CONTENT BOX */
.contentbox {
  padding-top: 3rem;
  display: flex;
  margin: auto;
  flex-direction: row;
  position: relative;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    max-width: 100%;
    min-width: 45%;
    height: auto;
    align-self: center;
  }

  &__lead {
    font-size: 1.313rem;
    font-weight: 300;
    width: 90%;
    line-height: 1.48;
  }

  &__title {
    font-size: 3.25rem;
    line-height: 1.12;
    margin-bottom: 70px;
    font-weight: normal;
    color: $color-2;
    width: 90%;
  }
}


/* INTRO BOX MORE */

.intro-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1180px;
}

.intro-box {
  font-size: 1.125rem;
  line-height: 1.44;
  font-weight: normal;
  margin-bottom: 30px;
  padding: 3rem 15px;
  background: url('../images/main-box-bg.png') no-repeat top left;
  background-size: auto 100%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;

  a {
    padding-top: 13px;
    color: $color-primary;
    margin-top: 13px;
    background: url('../images/main-box-separator.png') no-repeat;
    float: left;
    width: 100%;

    &:hover {
      text-decoration: none;
      color: $color-text;
    }

    svg {
      color: $color-secondary;
      font-size: 0.9375rem;
      margin-right: 4px;
    }
  }
}


/* STANDARD LIST */

.standard-list-wrapper {
  background: $color-primary;
  color: $color-white;
  display: flex;
  margin: 50px auto 0;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  padding: 1.5rem;
}

.standard-list {

  .more-link {
    padding-top: 12px;
    text-decoration: none;
    margin-top: 15px;
    font-weight: 300;
    position: relative;
    font-size: 0.9375rem;
    color: $color-white;

    &::before {
      content: '';
      background: $color-white;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.6;
      height: 2px;
      width: 100px;
    }

    svg {
      color: $color-secondary;
      font-size: 0.625rem;
      margin-right: 3px;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  .title {
    font-size: 1.125rem;
    margin: 0 0 0.6rem;
    font-weight: 600;
    line-height: 1.2;
    color: $color-white;
  }

  ul {
    list-style-type: disc;
    padding-left: 0.9em;
    margin-left: 0.5em;
    margin-top: 0;
    max-width: 400px;

    li {
      color: $color-secondary;
      font-size: 1.313rem;
      padding: 0;
      list-style: disc;
      line-height: 24px;
      margin-right: 15px;

      a {
        font-size: 1rem;
        display: block;
        line-height: 24px;
        overflow: hidden;
        font-weight: 300;
        text-decoration: none;
        text-overflow: ellipsis;
        color: $color-white;
        white-space: nowrap;

        &:hover {
          color: $color-secondary;
          text-decoration: none;
        }
      }
    }
  }

  &.two-columns {
    ul {
      columns: 2 auto;
    }
  }
}

/* BRANCH BOX STYLES */
.branch-box {
  border: 3px solid $palette-gray-5;
  border-radius: 5px;
  background: $palette-white;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  padding: 15px 7px 12px;

  &:hover {
    border: 3px solid $palette-gray-10;
    text-decoration: none;

    .branch-name {
      color: $color-primary;
      text-decoration: underline;
      text-decoration-color: $palette-orange;
    }
  }

  a {
    text-decoration: none;
  }

  .branch-icon {
    height: 84px;
    line-height: 84px;
    vertical-align: middle;
    overflow: hidden;
  }

  .branch-name {
    margin-top: 15px;
    font-size: 1.15rem;
    min-height: 48px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary;
  }
}
/* END OF BRANCH BOX STYLES */




/* LEARN MORE BOX STYLES */

.learn-more {
  border: none;
  background: url('../images/home-card-bg.png') no-repeat right bottom;
  min-height: 145px;
  border-radius: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  .body {
    padding: 0 45% 1rem 0;
    position: relative;
    font-size: 0.875rem;
    flex: 1 1 auto;
    line-height: 18px;
    font-weight: 300;
    text-decoration: none;
    color: $palette-gray-100;

    .title {
      font-size: 1.25rem;
      line-height: 1.05;
      font-weight: 400;
      padding-top: 0.8rem;
      margin: 0 0 0.75rem;
      text-align: left;
      color: $palette-gray-100;
    }

    .icon {
      position: absolute;
      top: 10px;
      right: 0;
      transition: all 0.3s ease;
      height: 100%;
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .description {

      p {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.4;
        font-weight: 300;
      }
    }

    &:hover {

      .title {
        color: $color-primary;
        text-decoration: underline;
        text-decoration-color: $palette-orange;
      }
    }
  }

  &.first {
    .icon {
      right: 40px;
      top: 17px;
    }

    &:hover {

      .icon {
        top: 25px;
        right: 45px;
      }
    }
  }
}

/* END OF LEARN MORE BOX STYLES */



/* SERVICE INFO BOX STYLES */

.card-deck {
  margin: 0 -5px;
  padding-top: 5px;
}

.service-info-box {
  display: flex;
  position: relative;
  height: 240px;
  flex: 1 0;
  margin: 0 10px;
  flex-direction: column;
  margin-bottom: 25px;
  border-radius: 2px;
  background: $border-header;
  box-shadow: 0 0.125rem 0.25rem $palette-gray-30;

  &.recommendation {
    margin: 0 10px 0 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgba($palette-black, 0.075);

    .recommend-box {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 11px;
      color: $color-white;
      padding: 4px 7px;
      text-transform: uppercase;
      background: $recommendation-box;
    }

    header {
      z-index: unset;
      font-size: 1.125rem;
      margin-bottom: 20px;
      padding: 1.6rem 1rem 0;
      line-height: 1.3;
    }

    &:last-child {
      margin: 0;
    }
  }

  header {
    align-items: center;
    padding: 1.4rem 1rem 0;
  }

  .title {
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 1.4rem;
    font-size: 1.3em;
    color: $palette-blue;

    &:hover {
      color: $palette-blue;
    }
  }

  article {
    align-items: center;
    padding: 0 1rem 1.3rem;
  }

  p {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.4;
    font-weight: 300;
  }

  img {
    float: left;
    margin-right: 15px;
    max-width: 100px;
    height: auto;
  }

  .image-frame {
    width: 95px;
    height: 70px;
    background: $color-white;
    float: left;
    text-align: center;
    white-space: nowrap;
    margin: 0 15px 0 0;
    border: 1px solid $palette-gray-10;

    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img {
      float: none !important;
      margin: auto !important;
      max-width: 90%;
      height: auto;
      vertical-align: middle;
    }
  }

  footer {
    background: transparent;
    padding: 0.4rem 0 0;
    margin: 0 1.25rem 0.45rem;
    border-top: 1px solid $palette-gray-10;
    padding-top: 0.9rem;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 2.5rem);
    flex-direction: row;
    justify-content: space-between;

    p,
    small {
      margin: 0 0 7px;
      font-size: 0.75rem;
      font-weight: 300;

      span {
        font-weight: 500;
        color: $palette-blue;
      }
    }

    .column {
      max-width: 50%;
    }

  }

  &.ver-1 {

    header {
      padding: 1.4rem 1rem 0;
      margin-bottom: 10px;
    }

    article {
      padding: 0 1rem 1rem;
    }

    footer {
      border-top: 0;
      padding-top: 0;
      margin: 0 1rem 0.45rem;
    }
  }

}

/* SIMPLE INTRO STYLES */

.simple-intro {
  overflow: hidden;
  margin-top: 15px;

  .icon {
    display: inline;
    float: left;
    margin-right: 20px;

    img {
      max-width: 100px;
      height: auto;
    }
  }

  .title {
    margin-bottom: 15px;
    font-size: 1rem;
    color: $color-primary;
    font-weight: 400;
    text-decoration: none;
    display: block;
    line-height: 1.35rem;
    text-align: left;

    &:hover {
      text-decoration: none;
      color: $color-text;
    }
  }

  .description {
    font-size: 0.9375rem;
    color: $color-text;
    font-weight: 300;
    display: block;
  }
}

/* FOOTER */

.footer {
  width: 100%;
  background-color: $palette-dark-grey;
  font-weight: 300;
  padding: 1rem 0;

  .arrow-up {
    margin: -67px auto 8px;
    display: block;
    width: 162px;
    height: 60px;
    background: url('../images/arrow-up.png') top center no-repeat;
  }

  .logo-one {
    background: url('../images/eosc-logo-mono.png') top center no-repeat;
    width: 203px;
    height: 79px;
    display: block;
  }

  .logo-two {
    background: url('../images/eosc-footer-logo.png') center no-repeat;
    width: 148px;
    height: 79px;
    display: block;
  }

  .copyright {
    text-align: right;
    font-size: 0.875rem;
    font-weight: 700;

    a {
      text-transform: uppercase;
      font-size: 0.75rem;
      margin-left: 10px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  ul {
    line-height: 1.1rem;
    padding: 0;
    list-style: none;
    margin: 0;

    li {
      margin-bottom: 0.25rem;
      font-size: 0.73rem;
      font-weight: 300;
      color: $color-white;

      a {
        font-size: 0.68rem;
        font-weight: 300;
        line-height: 1.1;

        &:hover {
          text-decoration: none;
          color: $palette-dark-blue;
        }
      }

    }
  }

  .title {
    color: $color-white;
    font-weight: 800;
    line-height: 1.2;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;

    a {
      font-size: 0.875rem;
      color: $color-white;
      font-weight: 200;
    }
  }

  a {
    color: $color-white;
    font-size: 1rem;

    &:hover {
      color: $palette-dark-blue;
    }
  }

  hr {
    border-color: $color-6;
  }

  .copy-text {
    color: $color-6;
  }

  .social-logo {
    width: 38px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
  }

  .twitter-logo {
    background: url('../images/t-icon.svg') top center no-repeat;
  }

  .yt-logo {
    background: url('../images/yt-icon.svg') top center no-repeat;
  }
}

.eu-information {
  font-size: 0.875rem;
  line-height: 1.2rem;
  font-weight: 300;
  color: $color-6;
  padding: 1.5rem;

  p {
    margin: 5px 0;
  }
}


/* STANDARD BUTTON */

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 0 solid transparent;
  padding: 0.58rem 2.2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 6px;
  transition: all 0.3s ease;

  &:hover {
    color: $color-white;
    text-decoration: none;
  }

  &--primary {
    color: $color-white;
    background: $palette-orange;

    &:hover {
      padding: 0.58rem 3.2rem 0.58rem 1.2rem;
      background: $palette-orange;

      &::after {
        transition: all 0.3s ease;
        font-family: 'Font Awesome 5 Free';
        content: '\f061';
        font-size: 14px;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 8px;
      }
    }
  }

  &--secondary {
    color: $color-white;
    background-color: $color-secondary;

    &:hover {
      background: darken($color-secondary, 5%);
    }
  }
}

/* END OF STANDARD BUTTON */


/* STANDARD TAB */

.tabs {
  margin: 0 0 20px;
  padding: 0;
  overflow: hidden;
  list-style: none;

  li {
    background: none;
    color: $palette-gray-100;
    display: inline-block;
    font-size: 17px;
    float: left;
    text-align: center;
    font-weight: normal;
    padding: 13px 0;
    border: 1px solid $color-secondary;
    width: 50%;
    cursor: pointer;
  }

  .current {
    background: $color-secondary;
  }

  li:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  li:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}


/* END OF STANDARD TAB */



/* TOP ROW */
.instance-badge {
  @-webkit-keyframes fadeIn {
    0% { display: none; opacity: 0; }
    20% { display: none; opacity: 0; }
    40% { display: inline; opacity: 0.3; }
    60% { display: inline; opacity: 0.5; }
    80% { display: inline; opacity: 0.9; }
    100% { display: inline; opacity: 1; }
  }

  @keyframes fadeIn {
    0% { display: none; opacity: 0; }
    20% { display: none; opacity: 0; }
    40% { display: inline; opacity: 0.3; }
    60% { display: inline; opacity: 0.5; }
    80% { display: inline; opacity: 0.9; }
    100% { display: inline; opacity: 1; }
  }

  .badge.badge-danger {
    padding: 7px;
    padding-top: 10px;
    margin-top: -5px;
    margin-left: 0;
    position: fixed;
    z-index: 99;
    height: auto;
    text-align: left;
    font-size: 90%;
    font-weight: 300;
    border-radius: 0 0 0.25em;
    background-color: $instance-badge;

    a {
      color: $palette-solid-5;

      .collapse.show,
      .collapsing {
        padding-right: 5px;

        + .fa-chevron-left {
          display: inline-block;

          + .fa-chevron-right {
            display: none;
          }
        }
      }

      .collapse {

        + .fa-chevron-left {
          display: none;

          + .fa-chevron-right {
            display: inline;
            -webkit-animation-name: fadeIn;
            -webkit-animation-duration: 0.5s;
            animation-name: fadeIn;
            animation-duration: 0.5s;
          }
        }
      }
    }
  }
}

.top {
  padding: 5px 0;
  margin-bottom: 20px;
  background: $palette-dark-grey;

  .left-links {
    float: left;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    &:not(.links) {
      text-align: right;
    }

    li {
      margin: 0 0.5rem;
      display: inline-block;
      font-family: 'DM Sans';
      font-size: 0.875rem;
      font-weight: 300;
      color: $palette-white;

      svg {
        margin-right: 4px;
      }

      a {
        color: $palette-white;
        padding-bottom: 5px;
        text-decoration: none;

        &.active {
          border-bottom: 2px solid $color-secondary;
        }

        &:hover {
          color: $palette-dark-blue;
        }
      }
    }
  }
}

/* Header Logo + Searchbar + Menu */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: unset;
  padding-top: 20px;

  a {
    color: $color-text;
  }

  .logo {
    max-width: 262px;
    flex-grow: 1;
  }

  .menu {
    text-align: right;
    position: relative;

    &__label {
      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: $palette-gray-70;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        width: 9px;
        height: 9px;
        right: 10px;
        top: 5px;
      }

      &--unauth {
        &::after {
          display: none;
        }
      }
    }

    .dropdown-toggle {
      border: none;
      background: transparent;
      padding-right: 30px;
      position: relative;
      text-align: right;
      display: block;
      cursor: pointer;

      &::after {
        display: none;
      }

    }

    &__hamburger {
      display: none;
      position: absolute;
      top: 17px;
      right: 0;
      cursor: pointer;

      span {
        width: 26px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: $color-text;
        border-radius: 3px;
        z-index: 1;
        display: block;
      }
    }

    .dropdown-menu {
      // need to overwrite bootstrap > !important
      border-top: 2px solid $color-secondary;
      padding: 0;
      width: 100%;
      transform: none !important;
      left: 0;
      top: 28px !important;
      box-shadow: $box-shadow-default;

      a {
        padding: 10px 15px;
        display: block;
        font-size: 1rem;

        &:hover,
        &:active {
          color: $palette-dark-blue;
          background: transparent;
        }
      }
    }


  }
}

.searchbar {
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
  flex-grow: 2;
  margin: 0 5%;


  &__input {
    position: relative;
    width: 100%;

    .autocomplete-results {
      z-index: 10;
      background-color: $color-white;
      position: absolute;
      border: 1px solid $palette-gray-10;
      width: 100%;
      padding: 5px 10px;

      .label {
        font-size: 0.75rem;
        text-transform: uppercase;
        color: $palette-gray-50;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0;

        &:hover {
          cursor: unset;
          color: $palette-gray-50;
        }
      }

      li {
        cursor: pointer;
        padding: 2px 10px;
        margin-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;

        span {
          color: $palette-gray-50;
        }

        &.active,
        &:hover {
          color: $color-primary;
          background: transparent;
        }
      }
    }
  }

  .search-clear {
    right: 10px;
    top: 11px;
    z-index: 99;
    color: $color-text;
    position: absolute;
  }

  input {
    padding: 10px 25px 10px 10px;
    font-size: 1rem;
    margin-right: -1px;
    width: 100%;
    border-radius: $border-radius-default 0 0 $border-radius-default;
    position: relative;
    z-index: 20;
    font-weight: 300;
  }

  &__select {
    font-size: 0.875rem;
    padding-left: 10px;
    width: 150px;
    border: 1px solid $palette-gray-50;
    position: relative;
    background: $color-white;
    margin-left: -1px;

    span {
      position: absolute;
      top: 10px;
      max-width: 68%;
      text-overflow: ellipsis;
      height: 20px;
      overflow: hidden;
      white-space: nowrap;
    }

    select {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      border-style: solid;
      border-color: $palette-gray-70;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      width: 9px;
      height: 9px;
      right: 10px;
      top: 13px;
      z-index: 1;
    }
  }

  button {
    background: transparent;
    border: 1px solid $palette-gray-50;
    padding: 0 15px;
    font-size: 1rem;
    margin-left: -1px;
  }
}

.bundle-more {
  &.dropdown {
    margin: 0 8px 0 -23px;
    color: $dropdown-arrow;
    font-size: 12px;
  }

  &::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f077';
    display: inline-block;
    padding-left: 3px;
    vertical-align: middle;
    font-weight: 900;
  }

  &.collapsed {
    &::after {
      content: '\f078';
    }
  }
}

.bundle-item {
  .card {
    border-color: $palette-gray-10;
    margin: 0;
  }
}

.bundle-logo {
  position: absolute;
  top: 10px;
  right: 10px;

  .bundle-img {
    margin-left: 15px;
    max-height: 65px;
    width: auto;
  }
}

.bundle-status {
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}

.btn-primary {
  position: relative;
  transition: all 0.3s ease;

  &:hover {
    background: $palette-orange;
    padding-left: 1.3rem;
    padding-right: 2.7rem;

    &::after {
      transition: all 0.3s ease;
      font-family: 'Font Awesome 5 Free';
      content: '\f061';
      font-size: 14px;
      font-weight: 900;
      position: absolute;
      right: 12px;
      top: 8px;
    }
  }

  &.btn-sm {
    &:hover {
      &::after {
        top: 6px;
        font-size: 12px;
        right: 15px;
      }
    }
  }
}

.alert-danger {
  color: $error-color;
  border-color: $error-color;
  background: $palette-white;
}

.alert-warning {
  color: $warning-color;
  border-color: $warning-color;
  background: $palette-white;
}

.alert-success {
  color: $success-color;
  border-color: $success-color;
  background: $palette-white;
}

.button-wrapper {
  display: inline;
  float: left;
  position: relative;

  input,
  button {
    margin-right: 0;
  }

  &:hover {
    &::before {
      transition: all 0.3s ease;
      font-family: 'Font Awesome 5 Free';
      content: '\f061';
      font-size: 14px;
      font-weight: 900;
      position: absolute;
      top: 8px;
      right: 14px;
      z-index: 10;
      color: $palette-white;
    }
  }
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:active {
  background: $palette-orange;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background: none;
  color: $palette-orange;
}

@import 'ref_mobile';

