.status-created {
  color: #0000ff;
}

.status-registered {
  color: #0000ff;
}

.status-waiting-for-response {
  color: #ffff00;
}

.status-ready {
  color: #008000;
}

.status-rejected {
  color: #ff0000;
}
