// Bootstrap Variables

$navbar-light-active-color:  #233c4c;
$navbar-light-color: #233d4c;
$font-family-sans-serif: Muli, Roboto, "Helvetica Neue", Arial, sans-serif;

$font-size-xs:  0.8125rem;
$font-size-xxs: 0.75rem;

$link-color: #3540b6;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h5-font-size: 1rem;
$primary: #ffc045;
$secondary: #2144b2;
$body-color: #233d4c;

// MP Variables
$footer-color: #f5f5f5;
$card-header-bg: rgba(255, 192, 69, 0.3);
$pagination-link-color: #dee2e6;
$border-color: #dee2e6;
$footer-bg-color: #f5f5f5;
$transparent: transparent;
