$font-family-sans-serif: 'Ubuntu', Roboto, 'Helvetica Neue', Arial, sans-serif;

$font-size-base: 1rem;

$font-size-xs: 0.75 * $font-size-base;
$font-size-navbar: 1 * $font-size-base;
$font-size-footer: 0.75 * $font-size-base;

$font-weight-light: 100; // Ubuntu light
$font-weight-normal: 300; // Ubuntu regular
$font-weight-bold: 400; // Ubuntu medium
$font-weight-bolder: 600; // Ubuntu bold

$link-color: #3540b6;
$font-size-base: 1rem;

$headings-font-weight: $font-weight-bolder;
$h1-font-size: $font-size-base * 2.25;
$h2-font-size: $font-size-base * 1.375;
$h3-font-size: $font-size-base * 1.125;
$h4-font-size: $font-size-base * 0.875;
$h5-font-size: $font-size-base * 0.75;
$h6-font-size: $font-size-base * 0.75;

$display1-size: 2.25rem; // display3
$display2-size: 1.25rem; // display4
$display3-size: 1.1rem; // display5

$display1-weight: $font-weight-light;

$primary-color: #0c2bd5;
$secondary-color: #ffcd00;
$text: #233d4c;
$color-1: #f9fcfe;

$palette-gray-100: #1c313a;
$palette-gray-5: rgba($palette-gray-100, 0.05);
$palette-gray-10: rgba($palette-gray-100, 0.1);
$palette-gray-30: rgba($palette-gray-100, 0.3);
$palette-gray-50: rgba($palette-gray-100, 0.5);
$palette-gray-70: rgba($palette-gray-100, 0.7);
$palette-gray-80: rgba($palette-gray-100, 0.8);

