@import 'bootstrap-grid.min.css';
@import 'bootstrap.min.css';
//@import 'bootstrap-theme.min.css';
@import 'ref_variables';
@import 'fonts';
@import 'ref_showds';

//@import '~bootstrap/scss/bootstrap';

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  border: 1px solid $palette-gray-50;
  border-radius: $border-radius-default;
  line-height: 1.25rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

///* HEADER ROW */
//
//.header-row {
//  padding: 0.5rem 0;
//
//  .container {
//    flex-flow: row nowrap;
//    justify-content: flex-start;
//
//    .navbar {
//      position: relative;
//      display: flex;
//      flex-wrap: wrap;
//      align-items: center;
//      flex-flow: row nowrap;
//      justify-content: flex-start;
//      padding: 0.5rem 0;
//
//      .navbar-brand {
//        display: inline-block;
//        position: relative;
//        padding-top: 0.3125rem;
//        padding-bottom: 0.3125rem;
//        margin-right: 1rem;
//        font-size: 1.25rem;
//        line-height: inherit;
//        white-space: nowrap;
//        flex: 0 0 25%;
//        max-width: 25%;
//
//        .logo {
//          position: relative;
//          z-index: 100;
//          width: 95%;
//        }
//      }
//    }
//
//    .search-box {
//      position: relative;
//
//      .input-group {
//        position: relative;
//        display: flex;
//        flex-wrap: wrap;
//        align-items: stretch;
//        width: 100%;
//
//        .sr-only {
//          position: absolute;
//          width: 1px;
//          height: 1px;
//          padding: 0;
//          overflow: hidden;
//          clip: rect(0, 0, 0, 0);
//          white-space: nowrap;
//          border: 0;
//        }
//
//        .search-box .form-control {
//          border: 1px solid $palette-gray-50;
//        }
//      }
//
//    }
//  }
//}


//@media (min-width: 992px) {
//  .header-row .navbar-toggler {
//    display: none;
//  }
//
//  .open-menu {
//    display: none;
//  }
//
//  .header-row .dropdown-menu {
//    position: absolute;
//    display: block;
//    visibility: hidden;
//    transform: translate(0, 20px);
//    opacity: 0;
//    transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
//  }
//}

/* HOME INTRO */
.home-intro {
  max-width: 1180px;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;

  img {
    max-width: 100%;
    height: auto;
    align-self: center;
  }

  .left-column {

    .title {
      font-size: 3.25rem;
      line-height: 1.12;
      margin-bottom: 70px;
      font-weight: normal;
      color: $color-2;
      width: 90%;
    }

    .home-lead {
      font-size: 1.313rem;
      font-weight: 300;
      width: 80%;
      line-height: 1.48;
    }

  }

}

@media (max-width: 992px) {

  .home-intro {

    .right-column {
      flex: 0 0 100%;
      max-width: 100%;
      order: 1;

      .home-image {
        position: relative;
        width: 100%;
        height: 260px;
        background-image: url('../../assets/images/gfx_whole_illustation_phone.png');
        background-position: 50% 50%;
        top: -25px;
        right: auto;
      }
    }

    .left-column {
      flex: 0 0 100%;
      max-width: 100%;
      order: 13;

      .title {
        font-size: 1.75rem;
        line-height: 37px;
        text-align: center;
        margin-bottom: 40px;
        width: 100%;
      }

      .home-lead {
        font-size: 1.125rem;
        line-height: 1.48;
        width: 100%;
        text-align: center;
      }

    }
  }
}

/* INTRO BOX MORE */

.intro-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.intro-box {
  font-size: 1.125rem;
  line-height: 1.44;
  font-weight: normal;
  margin-bottom: 30px;
  padding: 3rem 15px;
  background: url('../../assets/images/main-box-bg.png') no-repeat top left;
  background-size: auto 100%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;

  a {
    padding-top: 13px;
    color: $color-primary;
    margin-top: 13px;
    background: url('../../assets/images/main-box-separator.png') no-repeat;
    float: left;
    width: 100%;

    &:hover {
      text-decoration: none;
      color: $color-text;
    }

    svg {
      color: $color-secondary;
      font-size: 0.9375rem;
      margin-right: 4px;
    }
  }
}

@media (max-width: 992px) {

  .intro-box {
    min-height: 190px;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    background-size: contain;

    &.second {
      float: right;
    }
  }

}

/* HOME LIST */

.home-list-wrapper {
  background: $color-primary;
  color: $color-white;
  border-radius: 5px;
  padding: 1.5rem;
}

.home-list {

  .more-link {
    background: url('../../assets/images/link-separator-bg.png') no-repeat;
    background-size: 190px 2px;
    padding-top: 12px;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9375rem;
    color: $color-white;

    svg {
      color: $color-secondary;
      font-size: 0.625rem;
      margin-right: 3px;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  .title {
    font-size: 1.125rem;
    margin: 0 0 0.6rem;
    font-weight: 600;
    line-height: 1.2;
  }

  ul {
    list-style-type: disc;
    padding-left: 0.9em;
    margin-left: 0.5em;
    margin-top: 0;

    li {
      color: $color-secondary;
      font-size: 1.313rem;
      padding: 0;
      line-height: 24px;

      a {
        font-size: 1rem;
        max-width: 225px;
        display: block;
        line-height: 24px;
        overflow: hidden;
        font-weight: 300;
        text-decoration: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $color-white;

        &:hover {
          color: $color-secondary;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .home-list {
    margin-bottom: 25px;
  }
}

/* BRANCH BOX STYLES */
.branch-box {
  border: 3px solid $palette-gray-5;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  padding: 15px 7px 12px;

  &:hover {
    border: 3px solid $palette-gray-10;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  .branch-icon {
    height: 84px;
    line-height: 84px;
    vertical-align: middle;
  }

  .branch-name {
    margin-top: 15px;
    font-size: 1.25rem;
    min-height: 48px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary;
  }
}
/* END OF BRANCH BOX STYLES */




/* LEARN MORE BOX STYLES */

.learn-more {
  border: none;
  background: url('../../assets/images/home-card-bg.png') no-repeat right bottom;
  min-height: 145px;
  border-radius: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  .body {
    padding: 1rem 45% 1rem 0;
    position: relative;
    font-size: 0.875rem;
    flex: 1 1 auto;
    line-height: 18px;
    font-weight: 300;
    text-decoration: none;
    color: $palette-gray-100;

    .title {
      font-size: 1.25rem;
      line-height: 1.05;
      font-weight: 400;
      padding-top: 0.8rem;
      margin: 0 0 0.75rem;
      color: $palette-gray-100;
    }

    .icon {
      position: absolute;
      top: 35px;
      right: 33px;
      transition: all 0.3s ease;
    }

    .description {

      p {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.4;
        font-weight: 300;
      }
    }

    &:hover {

      .title {
        color: $color-primary;
      }

      .icon {
        top: 40px;
        right: 45px;
      }
    }
  }

  &.first {
    .icon {
      right: 40px;
      top: 17px;
    }

    &:hover {

      .icon {
        top: 25px;
        right: 45px;
      }
    }
  }
}

/* END OF LEARN MORE BOX STYLES */



/* SERVICE INFO BOX STYLES */

.service-info-box {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  margin-bottom: 25px;
  border-radius: 2px;
  background: $color-1;
  box-shadow: 0 0.125rem 0.25rem $palette-gray-30;

  header {
    align-items: center;
    padding: 1.4rem 1rem 1.3rem;
  }

  .title {
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 1.4rem;
    font-size: 1.3em;
    text-decoration: none;
    color: $color-link;

    &:hover {
      color: $palette-gray-100;
    }
  }


  p {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.4;
    font-weight: 300;
  }

  img {
    float: left;
    margin-right: 15px;
    max-width: 100px;
    height: auto;
  }


  footer {
    background: transparent;
    padding: 0.4rem 0 0;
    margin: 0 1.25rem 0.45rem;
    border-top: 1px solid $palette-gray-10;
    padding-top: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p,
    small {
      margin: 0 0 7px;
      font-size: 0.75rem;
      font-weight: 300;
    }

    .column {
      max-width: 50%;
    }

  }

}

/* SIMPLE INTRO STYLES */

.simple-intro {
  overflow: hidden;

  .icon {
    display: inline;
    float: left;
    margin-right: 20px;

    img {
      max-width: 100px;
      height: auto;
    }
  }

  .title {
    margin-bottom: 15px;
    font-size: 1rem;
    color: $color-primary;
    font-weight: 400;
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: none;
      color: $color-text;
    }
  }

  .description {
    font-size: 0.9375rem;
    color: $color-text;
    font-weight: 300;
    display: block;
  }
}

/* FOOTER */

.footer {
  width: 100%;
  background-color: $color-4;
  font-weight: 300;
  padding: 1rem 0;

  .logo-one {
    background: url('../../assets/images/eosc-logo-mono.png') top center no-repeat;
    width: 203px;
    height: 79px;
    display: block;
  }

  .logo-two {
    background: url('../../assets/images/eosc-footer-logo.png') center no-repeat;
    width: 148px;
    height: 79px;
    display: block;
  }

  .copyright {
    text-align: right;
    font-size: 0.875rem;

    a {
      text-transform: uppercase;
      font-size: 0.75rem;
      margin-left: 10px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  ul {
    line-height: 1.1rem;
    padding: 0;
    list-style: none;
    margin: 0;

    li {
      margin-bottom: 0.25rem;

      a {
        font-size: 0.75rem;
        font-weight: 100;
        line-height: 1.1;

        &:hover {
          text-decoration: none;
        }
      }

    }
  }

  .title {
    color: $color-6;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }

  a {
    color: $color-white;
    font-size: 1rem;

    &:hover {
      color: $color-secondary;
    }
  }

  hr {
    border-color: $color-6;
  }

  .copy-text {
    color: $color-6;
  }

  .social-logo {
    width: 38px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
  }

  .twitter-logo {
    background: url('../../assets/images/t-icon.svg') top center no-repeat;
  }

  .yt-logo {
    background: url('../../assets/images/yt-icon.svg') top center no-repeat;
  }
}

.eu-information {
  font-size: 0.875rem;
  line-height: 1.2rem;
  font-weight: 300;
  color: $color-6;
  padding: 1.5rem;

  p {
    margin: 5px 0;
  }
}

@media (max-width: 576px) {
  .footer {
    .row {
      .col-md {
        width: 50%;
        margin-bottom: 15px;
      }
    }

    .copy-text {
      font-size: 0.6875rem;
    }

    .socials {
      margin-top: 0 !important;
      text-align: center;
    }
  }

  .eosc-logo-mono,
  .eosc-hub-logo-mono {
    margin: auto;
  }

  .eu-information {
    font-size: 0.6875rem;
    line-height: 1rem;
    padding: 12px 0 !important;
  }
}

/* TOP ROW */

nav {
  padding: 5px 0;
  background: $color-3;
  margin-bottom: 30px;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;

    li {
      margin: 0 0.5rem;
      display: inline-block;
      font-size: 0.875rem;
      font-weight: 300;
      color: $palette-gray-80;

      svg {
        margin-right: 4px;
      }

      a {
        color: $palette-gray-80;
        padding-bottom: 5px;
        text-decoration: none;

        &.active {
          border-bottom: 2px solid $color-secondary;
        }

        &:hover {
          color: $palette-gray-50;
        }
      }
    }
  }
}


/* Header Logo + Searchbar + Menu */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  a {
    color: $color-text;
  }

  .logo {
    max-width: 262px;
    flex-grow: 1;
  }

  .searchbar {
    display: flex;
    flex-direction: row;
    font-size: 0.875rem;
    flex-grow: 2;
    margin: 0 100px;

    input {
      padding: 10px 20px;
      font-size: 1rem;
      margin-right: -1px;
      flex-grow: 2;
    }

    .container-select {
      font-size: 0.875rem;
      padding-left: 10px;
      width: 150px;
      border: 1px solid $palette-gray-50;
      position: relative;

      span {
        position: absolute;
        top: 11px;
        max-width: 100px;
      }

      select {
        opacity: 0;
        width: 100%;
        height: 100%;
      }

      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: $palette-gray-70;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        width: 9px;
        height: 9px;
        right: 10px;
        top: 13px;
      }
    }

    button {
      background: transparent;
      border: 1px solid $palette-gray-50;
      padding: 0 15px;
      font-size: 1rem;
      margin-left: -1px;
    }
  }

  .menu {
    flex-grow: 1;
    text-align: right;

    button {
      border: none;
      background: transparent;
      padding-right: 30px;
      position: relative;
      text-align: right;

      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: $palette-gray-70;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        width: 9px;
        height: 9px;
        right: 10px;
        top: 5px;
      }
    }

    .dropdown-menu {
      padding: 15px;
      width: 82%;

      li {
        margin-bottom: 10px;
      }
    }

  }
}
