- content_for :title, t(".title")
- breadcrumb :backoffice_root

.row
  .col-12.col-sm-7.backoffice-intro
    %h1
      Welcome to the backoffice
    %h3.mb-4
      %strong Please choose from top navigation what you want to manage.
    %p
      Integrated platform that allows easy access to lots of services and resources for various research domains along
      with integrated data analytics tools. Browse by scientific domain, service category or provider and, if you need
      help, we are here for you!
    %p
      Integrated platform that allows easy access to lots of services and resources for various research domains along
      with integrated data analytics tools. Browse by scientific domain, service category or provider and, if you need
      help, we are here for you!
    %p
      Integrated platform that allows easy access to lots of services and resources for various research domains along
      with integrated data analytics tools. Browse by scientific domain, service category or provider and, if you need
      help, we are here for you!
    .btn-group
      %a.btn.btn-primary.d-block.mt-3{ href: "/backoffice/services" } Owned resources
      %a.btn.btn-primary.d-block.mt-3{ href: "/backoffice/scientific_domains" } Scientific domains
      %a.btn.btn-primary.d-block.mt-3{ href: "/backoffice/categories" } Categories
  .col-12.col-sm-5.backoffice-intro-pic
    = image_pack_tag "addfirstservice.png"
