= turbo_stream.replace(@provider.reload,
                       partial: "components/presentable/list_component/item_details",
                       locals: { obj: @provider, klass: "provider" })
= render_turbo_stream_flash
