%table.table
  %thead
    %tr
      %th.pl-0{ scope: "col", colspan: "2" } Parameters
  %tbody
    %tr
      %td.pl-0
        %code TODO
        Parameter 1
      %td
        %strong
          %code TODO
          value 1
    %tr
      %td.pl-0
        %code TODO
        Parameter 2
      %td
        %strong
          %code TODO
          value 2
    %tr
      %td.pl-0
        %code TODO
        Parameter 3
      %td
        %strong
          %code TODO
          value 3
