%h3.mb-4 Order history
%ul.step-progress.pl-5.pb-4
  - if project_item_changes.count.positive?
    = ([nil] + project_item_changes).each_cons(2) do |previous, current|
      = render "project_items/project_item_change", previous: previous, current: current
  - else
    %p No changes yet

= render "project_items/question", project_item: project_item, question: question
