%li.step-progress-item.current.ml-5
  .time.x-small
    = current.created_at.strftime("%d.%m.%Y")

    %span.text-muted= current.created_at.strftime("%H:%M")

  .ml-4
    .d-block= status_change(previous, current)
    %p.frame= current.message




