%li.projects-list
  .row
    .col-md-9
      = link_to project_item.service.title, project_item
    .col-md-3.text-md-right.status
      - if project_item.status == ProjectItem.statuses[:registered]
        %i.fas.fa-circle.registered
      - if project_item.status == ProjectItem.statuses[:ready]
        %i.fas.fa-circle.ready
      - if project_item.status == ProjectItem.statuses[:rejected]
        %i.fas.fa-circle.rejected
      - if project_item.status == ProjectItem.statuses[:in_progress]
        %i.fas.fa-spinner.in_progress
      - if project_item.status == ProjectItem.statuses[:created]
        %span
          = link_to "Visit website", project_item.service.webpage_url
