%li.list-group-item
  .row
    .col-md.font-weight-bold
      = link_to project_item.service.title, project_item
    .col-md-2
      %span.text-uppercase
        = project_item.status
    .col-md.text-md-right
      %span
        last change: #{time_ago_in_words(project_item.updated_at)} ago



