- if policy(question).create?
  .question-box.col-12.mt-5.pt-4
    .col-10.float-right
      %p.font-weight-bold Message to customer service about your order

      = form_for question, url: project_item_questions_path(project_item) do |f|
        - if question.errors[:text].present?
          .alert.alert-danger= question.errors[:text]&.first
        = f.text_area :text, class: "form-control", rows: "3"
        %button.btn.btn-primary.btn-sm.mt-4{ type: "submit" } Send message
