- content_for :title, _("Edit Bundle")
- breadcrumb :backoffice_bundle_edit, @bundle
.container
  .mb-4.pb-4.border-header
    %h1= _("Edit Bundle")

    = render "backoffice/services/bundles/form",
      service: @service,
      bundle: @bundle,
      bundle_form_source_module: [@service, :ordering_configuration, @bundle],
      back_link: service_ordering_configuration_path(@service),
      bundle_delete_link: service_ordering_configuration_bundle_path(@service, @bundle)
