#action-frame.container
  %hr
  .mb-4
    %p
      You are trying to add parent which contains following services:
      %ul.simple-list
        - parent_services&.each do |service|
          %li= service.title
    %p
      Please choose research area, where the selected services will be moved:
      = f.input :move_ra_id, label: "Possible choices", collection: leafs.map { |ra| [ra.name, ra.id] },
      include_blank: false, label_method: :first, value_method: :last
