- breadcrumb :backoffice_research_areas
.container
  %h1
    Research Areas
    - if policy([:backoffice, ResearchArea]).new?
      .float-right
        = link_to "New Research Area",
                  new_backoffice_research_area_path,
                  class: "btn btn-success"
      .clearfix
  %hr/
  %ul
    = render @research_areas
  = will_paginate @research_areas
