- breadcrumb :backoffice_research_areas
.container
  %h1
    Research Areas
    - if policy([:backoffice, ResearchArea]).new?
      .float-right
        = link_to "Add research area",
                  new_backoffice_research_area_path,
                  class: "btn btn-primary"
      .clearfix
  %ul.list-group.research-areas.mt-5
    - ancestry_tree(@research_areas).each do |record|
      %li.list-group-item
        = link_to record.first, backoffice_research_area_path(record.last)
        %a.delete-icon.float-right
          %i.fas.fa-trash-alt
        %a.btn-sm.btn-warning.float-right.mr-4 Edit
