@import "variables";

@media (max-width: 1225px) {
  // scss-lint:disable all
  .landing_page {
    .research-activity {
      .activity-wrapper {
        .text-wrapper {
          width: 49%;
          font-size: 20px;
        }
      }
    }
  }
  // scss-lint:enable all
  .standard-list-wrapper {
    flex-wrap: wrap;

    .two-columns {
      ul {
        columns: 1;
      }
    }
  }
}

@media (max-width: 1074px) {
  .standard-list-wrapper {
    justify-content: normal;

    .standard-list {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 1040px) {
  header {
    .navbar-collapse {
      .navbar-nav {
        .nav-link {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .details-box-wrapper {
    z-index: 1;

    .details-box {
      width: 100%;
    }
  }

  .buttons-row {
    .text-link {
      display: block;
      margin: 30px 0;
    }
  }

  .top {
    display: flex;
  }
}

@media (max-width: 991px) {
  .eosc-common.white-label {
    .container {
      ul {
        li {
          a {
            float: right;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .breadcrumbs-backoffice-wrapper {
    padding-top: 15px;
  }

  .service-info-box {
    .title {
      font-size: 1em;
      line-height: 1.2rem;
    }
  }

  .service-info-box {
    height: 270px;

    header {
      padding: 1.4rem 0.7rem 0;
    }

    img {
      width: 85px;
      height: auto;
      margin-right: 0.5rem !important;
    }

    p {
      font-size: 0.7rem;
    }

    footer {
      margin: 0 0.8rem 0.45rem;
      width: calc(100% - 1.6rem);

      p,
      small {
        font-size: 0.65rem;
      }
    }
  }

  .navbar-toggler {
    display: block;
  }

  .backoffice-menu {
    margin: 7px 0;
    border: none;
  }

  .backoffice-logo {
    img {
      margin: 0;
    }
  }

  .navbar-brand {
    padding: 25px 0 0;
  }

  .create-resource {
    margin-bottom: 20px;
  }

  main {
    padding: 0 10px;
  }

  .header {
    flex-direction: column;
    align-items: normal;

    .logo {
      margin-bottom: 15px;
    }

    .searchbar {
      margin: 0;
      width: 100%;

      &__input {
        width: 80%;
        margin-right: -1px;

        input {
          width: 100%;
        }
      }
    }

    .menu {
      position: absolute;
      top: 35px;
      right: 20px;
      width: auto;

      button {
        padding-right: 0;
      }

      &__label {
        display: none;
      }

      &__hamburger {
        display: block;
      }
    }
  }

  .contentbox {
    flex-direction: column;
    align-items: normal;
    padding-top: 2rem;

    &__title {
      font-size: 1.75rem;
      line-height: 1.12;
      margin-bottom: 30px;
      width: 100%;
    }
  }

  .intro-box {
    min-height: 190px;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    margin-bottom: 5px;
    background-size: contain;

    &.second {
      float: right;
    }
  }

  .tabs li {
    font-size: 0.875rem;
  }

  .standard-list-wrapper {
    flex-direction: column;
    align-items: normal;
    padding: 1rem 1rem 0;

    .title {
      text-align: left;
    }

    .standard-list {
      margin-bottom: 25px;

      ul {
        width: 100%;
      }
    }
  }

  .simple-intro {
    margin-bottom: 30px;
  }

  .footer {
    .title {
      text-align: left;
    }
  }
}

@media (max-width: 768px) {
  .backoffice-list {
    .list-group-item {
      &.providers {
        .row {
          justify-content: flex-end;

          .col {
            &:first-child {
              flex: 0 0 20px;
              display: flex;
              align-items: center;
            }

            &:nth-child(2) {
              font-size: 13px !important;

              a {
                font-size: 13px;
              }
            }

            &:nth-child(3) {
              flex: 0 0 90%;
              font-size: 11px;
            }

            &:nth-child(4) {
              flex: 0 0 40%;
              font-size: 13px;
            }

            &:last-child {
              flex: 0 0 50%;
            }

            .form-check-input {
              margin: 0;
            }
          }
        }
      }

      &.heading-row {
        .row {
          justify-content: space-between;

          .col {
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              display: none;
            }
          }
        }
      }
    }
  }

  .empty-information {
    padding: 18px;

    h2 {
      font-size: 23px;
      line-height: 120%;
    }

    .details-intro {
      font-size: 19px;
    }

    .btn {
      padding: 0.62rem 2rem;
    }
  }

  .browse {
    width: 100%;

    &.whitelabel {
      display: flex;
      flex-direction: column;
      font-size: 12px;

      .browse-label {
        margin-bottom: 7px;
      }
    }
  }

  header {
    .whitelabel-header-container {
      padding: 10px 15px 0;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  .profile {
    padding: 10px 0 !important;

    svg {
      font-size: 30px;
      margin-right: 10px;
    }

    .display-1 {
      font-size: 1.45rem;
    }

    .display-2 {
      font-size: 1.1rem;
    }

    .profile-info {
      margin-top: 15px;
    }
  }

  .api-submenu {
    margin-bottom: 30px;
  }

  .service-box {
    .info-icons {
      top: 15px;
      right: 15px;

      .access-information {
        padding-top: 8px !important;
      }
    }

    h2 {
      font-size: 1rem;

      .badge {
        top: 0;
        left: 10px;
      }
    }

    .media-body {
      .pl-4 {
        padding-left: 0.5rem !important;
      }

      .pr-4 {
        padding-right: 0.5rem !important;
      }

      .compare.favourites {
        margin-right: 0;
        margin-left: 7px;
      }
    }
  }
  // scss-lint:disable all
  .compare input[type="checkbox"] + span {
    margin-top: 5px;
    font-size: 11px;
  }
  // scss-lint:enable all

  .media.service-box {
    display: flex;
    flex-flow: column;
    align-items: unset;

    .media-body {
      order: 2;
    }

    .backoffice-button-row {
      order: 3;
    }

    .right-extra-info {
      order: 1;
      position: relative;
      width: 100%;
      padding: 50px 0 20px;
      text-align: center;

      .service-logo {
        margin-top: 10px;
      }

      .badge {
        position: absolute;
        top: 0;
        right: 0;
        border-left: 1px solid $palette-solid-10;
        width: auto;
      }
    }
  }

  .service-info-box {
    display: block;
    flex: unset;
    height: 230px;
    width: 94%;

    &.ver-1 {
      height: 160px;
    }

    &.recommendation {
      margin: 10px 0;
      width: 100%;
    }

    header {
      padding: 1.4rem 0.7rem 0;
      font-size: 1rem;
    }

    article {
      font-size: 0.8rem;
      padding: 0 0.5rem 1.3rem;
    }

    .title {
      font-size: 1em;
      line-height: 1.2rem;
    }

    img {
      width: 100px;
      height: auto;
      margin-right: 0.7rem !important;
    }

    p {
      font-size: 0.85rem;
    }

    footer {
      margin: 0 0.5rem 0.45rem;
      width: calc(100% - 1rem);

      p,
      small {
        font-size: 0.65rem;
      }
    }
  }

  .fixme {
    display: none;
  }

  .accordion {
    .card-body {
      padding: 0.9rem;
    }
  }

  .mobile-bottom-margin {
    margin-bottom: 25px;
    float: left;
    width: 100%;
  }

  .parameters-section {
    .parameter-list {
      width: 100%;
      position: relative;
    }

    .parameter-cards {
      width: 100%;
      margin-top: 25px;
      min-height: 300px;

      .offer-attributes {
        &::before {
          top: 15%;
          font-size: 12px;
        }

        &::after {
          height: auto;
        }
      }
    }
  }

  .nav-link {
    font-size: 12px;
  }

  .order-nav {
    li {
      a {
        &::after {
          display: none;
        }
      }
    }
  }

  .eu-information {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .not-found {
    padding-top: 0;
    text-align: center;

    h1 {
      font-size: 40px;
      margin-top: 20px;
      text-align: center;
    }

    p {
      font-size: 16px;
      text-align: center;
    }

    .not-found-pic {
      margin-top: 30px;
    }
  }

  .card-columns {
    &.two {
      &.recently {
        column-count: 1;
      }
    }
  }

  .bundle-logo {
    top: 7px;
    right: 7px;

    .bundle-img {
      margin-left: 8px;
      max-height: 35px;
      width: auto;
    }
  }

  .bundle-more {
    margin-bottom: 20px;
  }

  .comment-log-frame {
    margin: 20px 0 30px;
  }

  .backoffice-list {
    .list-group-item {
      .provider-name,
      .datasource-name {
        width: 100%;
        max-width: 100% !important;
        margin-bottom: 7px;
      }

      .status {
        float: left;
        padding: 5px 0;
        margin-right: 0;
      }
    }
  }

  .top-info-wrapper {
    padding: 25px 0 10px;

    h3 {
      font-size: 21px;
      line-height: 125.1%;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 133%;
      margin-bottom: 15px;
    }
  }
  // scss-lint:disable all
  .landing_page {
    .research-activity {
      .activity-wrapper {
        .text-wrapper {
          width: 99%;
          font-size: 17px;
        }
      }
    }
  }
  // scss-lint:enable all

  .become-provider {
    padding: 30px 20px 25px;

    .backoffice-arrow {
      display: none;
    }

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 27px;
      margin-bottom: 20px;
    }

    h4 {
      font-size: 17px;
    }

    .become-provider h4 {
      font-size: 19px;
      margin: 0 0 16px;
    }

    .backoffice-item {
      padding: 20px 25px;
      gap: 15px;

      .backoffice-image {
        img {
          max-width: 70px;
          height: auto;
        }
      }

      .backoffice-item-txt {
        .backoffice-item-title {
          font-size: 22px;
        }

        .backoffice-item-desc {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .pagination {
    .page-item {
      &.active {
        .page-link {
          padding: 0.36rem 0.46rem;
        }
      }

      .page-link {
        padding: 0.36rem 0.46rem;
      }
    }
  }

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  header {
    background-size: auto 100%;
    background-position: 50% 50%;
  }

  .header {
    .logo {
      max-width: 100%;
      text-align: center;
    }

    .searchbar {
      input {
        padding: 10px;
        flex-grow: 1;
        min-width: 100px;
        width: 100%;
      }

      .container-select {
        min-width: 115px;
        width: 115px;
      }
    }

    .menu__hamburger {
      top: 9px;
    }
  }
  // end Header

  .overlay {
    .closebtn {
      top: 37px;
    }
  }

  .tab-content-home {
    .col-6:nth-child(even) {
      padding-right: 0;
      padding-left: 5px;
    }

    .col-6:nth-child(odd) {
      padding-left: 0;
      padding-right: 5px;
    }
  }

  .branch-box {
    .branch-name {
      margin-top: 15px;
      font-size: 0.85rem;
      min-height: 48px;
    }
  }

  .simple-intro {
    .title {
      margin-bottom: 5px;
      text-align: left;
      line-height: 1.1rem;
    }

    .icon {
      margin-right: 10px;
    }
  }

  .home-title {
    font-size: 1.25rem;
    margin-top: 2.2rem;
    margin-bottom: 2rem;
  }

  .standard-list {
    ul {
      li {
        a {
          font-size: 0.8rem;
          white-space: normal;
        }
      }
    }

    .more-link {
      font-size: 0.8rem;
    }
  }

  .footer {
    .container {
      padding: 0;
    }

    .row {
      margin-left: 0;
      margin-right: 0;

      .col-md {
        width: 50%;
        margin-bottom: 15px;
      }
    }

    .copy-text {
      font-size: 0.6875rem;
    }

    .socials {
      margin-top: 0 !important;
      text-align: center;
    }
  }

  .eosc-logo-mono,
  .eosc-hub-logo-mono {
    margin: auto;
  }

  .eu-information {
    font-size: 0.6875rem;
    line-height: 1rem;
    padding: 12px 0 !important;
  }

  .footer {
    .row {
      .col-md {
        width: 50%;
        margin-bottom: 15px;
      }
    }

    .copy-text {
      font-size: 11px;
    }

    .socials {
      margin-top: 0 !important;
      text-align: center;
    }
  }

  .eosc-logo-mono,
  .eosc-hub-logo-mono {
    margin: 0 auto 15px;
    text-align: center;
  }

  .eu-information {
    font-size: 11px;
    line-height: 1rem;
    padding: 12px 0 !important;
  }

  .nav-tabs {
    .question-link {
      top: -18px;
      right: 52px;
    }
  }

  .favourites-popup {
    position: absolute;
    right: 10px;
    left: 10px;
  }

  .modal {
    .modal-header,
    .modal-body {
      padding: 15px 10px 0;
      font-size: 14px;

      .modal-title {
        font-size: 15px;
      }

      .btn-sm {
        margin-bottom: 15px;
      }
    }

    .modal-footer {
      padding: 20px 0 0;

      .btn-primary {
        float: none;
        margin: auto;
      }

      .close-link {
        float: none;
        margin: 20px auto 0;
      }
    }

    .modal-dialog.new-feature {
      .modal-content {
        padding: 20px 15px;
      }
    }
  }

  .service-detail {
    .row.col-lg-9 {
      padding-right: 0;

      .col-sm-9 {
        padding-right: 0;
      }
    }
  }

  .service-box {
    .access-type {
      margin-bottom: 0;
    }
  }
  // scss-lint:disable all
  .compare input[type="checkbox"] + span {
    margin-top: 5px;
    font-size: 12px;
    float: left;
  }
  // scss-lint:enable all
  .service-links {
    .row {
      padding-right: 0;
    }
  }

  .question-col {
    margin: 20px 0 15px;
  }

  .nav-tabs {
    .nav-link {
      padding: 0.6rem 1.2rem;

      &.active {
        padding: 0.8rem 0.6rem;
      }
    }
  }

  .tokens {
    font-size: 14px;
    line-height: 20px;

    .icon {
      margin: 0 15px 25px 0;
      width: 60px;
      height: 60px;
      line-height: 60px;

      svg {
        font-size: 40px;
        line-height: 60px;
      }
    }

    .active {
      font-size: 14px;
      line-height: 27px;
    }
  }

  .service-box {
    .media-body {
      .compare {
        width: 100%;
        margin: 15px 0 8px;

        &.favourites {
          margin: 0 0 13px !important;
        }
      }

      h2 {
        .badge {
          top: -10px;
        }
      }
    }
  }

  .special-list {
    -moz-column-count: 1;
    column-count: 1;
  }

  .lead-manager {
    h1 {
      overflow: hidden;

      .btn {
        margin-top: 25px;
      }
    }
  }

  .subsection {
    margin: 3rem 0 1.1rem;
  }

  .learn-more {
    .body {
      padding: 0 32% 1.5rem 0;

      .title {
        font-size: 1rem;
      }
    }
  }

  .projects-list {
    padding: 15px;
    margin-bottom: 15px;

    .status {
      text-align: right;

      .compare.favourites .new-message {
        margin-right: 0;
      }
    }
  }

  .img-service-detail {
    margin-bottom: 30px;
  }

  .service-details-header {
    margin-bottom: 30px;
  }

  .service-detail {
    fieldset {
      width: 100%;
      float: left;
      margin-top: 20px;

      .comparison {
        margin-right: 20px;
      }
    }
  }

  .service-box-redesign {
    .show-more-link {
      margin-top: 10px;
    }
  }

  .details-box-wrapper {
    z-index: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .service-boxes-container {
    .description-box-column {
      max-width: 100%;
      margin-bottom: 25px;
    }
  }

  .related-box {
    .card-title a {
      font-size: 14px;
    }
  }

  .btn-toolbar {
    .btn {
      font-size: 0.88rem;
      padding: 0.375rem 1.2rem;
    }
  }

  .buttons-box {
    width: 115px;
    float: right;

    .mr-4 {
      margin-right: 0.8rem !important;
    }
  }

  .backoffice-list {
    .list-group-item {
      a {
        font-size: 13px !important;

        &:first-child {
          max-width: 60%;
          font-size: 0.9rem;
          line-height: 1.3;
        }
      }
    }

    &.indent-list {
      .list-group-item {
        &.subcategory {
          a {
            font-size: 12px;
          }
        }

        a {
          &:first-child {
            max-width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .other-settings-menu {
    margin-bottom: 40px;
    border-bottom: 0;
    flex-direction: column;

    a {
      font-size: 16px;
      padding: 0 0 17px;
    }
  }

  .backoffice {
    h1 {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .btn {
      font-size: 12px;
      padding: 0.52rem 1rem;
    }
  }

  .bundle-box {
    &.padding {
      padding-left: 30px;
    }
  }

  .bundle {
    .card {
      .row {
        .bundle-box {
          margin: 0;

          .bundle-item {
            margin-top: 25px;
          }
        }
      }
    }
  }
}

@media (min-width: 991px) and (max-width: 1140px) {
  .service-box {
    .access-type {
      .btn-outline-secondary,
      .btn-primary {
        font-size: 0.8rem;
        line-height: 24px;
      }
    }
  }
}
