@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

$font-family-sans-serif: "Inter", "Helvetica Neue", "Arial", sans-serif;

$fa-font-path: "font-awesome" !default;

$font-size-base: 1rem;

$font-size-xs: 0.75 * $font-size-base;
$font-size-navbar: 1 * $font-size-base;
$font-size-footer: 0.75 * $font-size-base;

$font-weight-light: 100; // Ubuntu light
$font-weight-normal: 300; // Ubuntu regular
$font-weight-bold: 400; // Ubuntu medium
$font-weight-bolder: 600; // Ubuntu bold

$link-color: #3d4db6;
$font-size-base: 1rem;

$headings-font-weight: $font-weight-bolder;
$h1-font-size: $font-size-base * 2.25;
$h2-font-size: $font-size-base * 1.375;
$h3-font-size: $font-size-base * 1.125;
$h4-font-size: $font-size-base * 0.875;
$h5-font-size: $font-size-base * 0.75;
$h6-font-size: $font-size-base * 0.75;

$display1-size: 2.25rem; // display3
$display2-size: 1.25rem; // display4
$display3-size: 1.1rem; // display5

$display1-weight: $font-weight-light;

$palette-gray-100: #1c313a;
$palette-gray-5: rgba($palette-gray-100, 0.05);
$palette-gray-10: rgba($palette-gray-100, 0.1);
$palette-gray-30: rgba($palette-gray-100, 0.3);
$palette-gray-50: rgba($palette-gray-100, 0.5);
$palette-gray-70: rgba($palette-gray-100, 0.7);
$palette-gray-80: rgba($palette-gray-100, 0.8);

$palette-solid-5: #f3f4f5;
$palette-solid-10: #e8eaeb;
$palette-solid-20: #ced4da;
$palette-solid-30: #bac1c3;
$palette-solid-50: #8d989c;
$palette-solid-80: #495a61;
$palette-solid-100: #1c313a;

$palette-white: #fff;

$palette-new-background: rgba(25, 117, 255, 0.08);
$palette-new-darkblue: #1a2128;
$palette-new-blue: #144b9e;
$palette-new-lightblue: #919ba2;
$palette-blue: #040f81;
$palette-light-blue: #e6fafd;
$palette-yellow: #ffcd00;
$palette-yellow-opacity: rgba(255, 205, 0, 0.2);
$palette-orange: #ffa900;
$palette-salmon: #ff715b;
$palette-gradient-start: #3d4db6;
$palette-gradient-end: $palette-blue;
$palette-lightblue: #e1f9fb;
$palette-lightblue2: #f9fcfe;
$palette-lightblue3: #e3eff8;
$palette-lightblue4: #fafcfe;
$palette-black: #000;
$palette-pink: #e83e8c;
$palette-navy: #000745;
$palette-end-opacity: rgba(27, 48, 58, 0.85);
$palette-box-shadow: rgba(0, 0, 0, 0.04);

$primary: $palette-blue;
$secondary: #e6eef7;
$info: $palette-gray-30;
$error: $palette-salmon;
$body-color: #233d4c;
$nav-color: #555;
$text-muted: #a2aab1;

$theme-colors: (
  "error": $error,
);

$btn-primary-gradient-start: $palette-gradient-start;
$btn-primary-gradient-end: $palette-gradient-end;
$btn-primary-hover: $primary;
$btn-secondary: $secondary;
$btn-secondary-hover: $palette-orange;
$btn-error: $error;
$btn-error-hover: #ff5557;
$btn-info: $info;
$btn-info-hover: #a1acaf;
$badge-blue: #f0f3f5;
$link-blue: #1975ff;

$btn-focus-width: 0;
$btn-border-width: 0;
$btn-focus-box-shadow: none;

$btn-border-radius: 2rem;
$btn-border-radius-sm: 2rem;
$btn-border-radius-lg: 2rem;

$btn-padding-y: 0.375rem;
$btn-padding-x: 2rem;
$btn-padding-y-sm: 0.22rem;
$btn-padding-x-sm: 1.8rem;

$navbar-light-active-color: #233c4c;
$navbar-light-color: #233d4c;

$radius-common: 8px;
$footer-color: #fff;
$tag-bg-color: #fff5cc;
$footer-header-color: #a6aeb1;
$card-header-bg: rgba(255, 192, 69, 0.3);
$pagination-link-color: #dee2e6;
$border-color: #dee2e6;
$border-header: #f7f7f7;
$collapse-background: #fbfbfb;
$footer-bg-color: #52636a;
$eu-information-color: #839295;
$transparent: transparent;
$green: #22ab2c;
$red: #d50c0c;
$instance-badge: #bc2300;
$services-list: #f2f9fe;
$danger: #ff5b5b;
$branch-box: #f5fbff;
$home-card-bg: $palette-lightblue2;
$spinner-background-rgba: rgba(255, 255, 255, 0.5);
$user-directed-message-background-color: $palette-lightblue2;
$user-directed-message-border-color: #bbe0f8;
$choices-disabled-background-color: #c1c1c1;
$choices-disabled-text-color: #717070;
$recommendation-box: #b7d8ee;
$recommendation-box-border: #b9e1f9;
$image-border: #dde2e5;
$popup-border: #d1dee6;
$dropdown-arrow: #7795ab;
$popup-shadow: 0 7px 23px 0 rgba(0, 0, 0, 0.1);
$message-frame: #c6c6c6;
$error-border: #ffb8b8;
$status-bg-rejected: rgba(232, 62, 62, 0.32);
$status-bg-ready: rgba(48, 174, 55, 0.3);
$status-bg-registered: rgba(255, 205, 0, 0.3);
$services-list-bg: rgba(28, 49, 58, 0.03);
$alert-bg: #edf4ff;
$alert-color: #3d4db6;
$button-blue: #144b9e;
$lightgrey-bg: #d7d7d7;
$card-border: #e6eef7;
$bundle-bg: #fafcfe;
$bundle-border: #e6eef7;
$bundle-border2: #84caff;
$bundle-border3: #dfe2e4;
$tag-bg-1: #e6eef7;
$tag-color-1: #010f87;
$horizontal-bg: #f7edff;
$horizontal-color: #a959ea;
$tabs-bg: #d9d9d9;
$custom-1: #344054;
$custom-2: #c991d2;
$custom-3: #91d2bb;
$custom-4: #b54708;
$custom-5: #2255a4;
$custom-6: #fff3c8;
$custom-7: #f68212;
$custom-8: #f1f1f1;
$custom-9: #848484;
$custom-10: rgba(242, 242, 242, 0.47);
$custom-11: #f8fbff;
$custom-12: #010e87;
$custom-13: #797777;
$custom-14: #25792b;
$custom-15: #060f7c;
$custom-16: #010e87;
$custom-17: #d0d5dd;
$custom-18: #f2f4f7;
$custom-19: #475467;
$custom-20: #515459;
$custom-21: #4f4f4f;
$custom-22: #e5e5e5;
$custom-22: #000723;
$custom-23: #fafbfd;
$custom-24: rgba(145, 158, 231, 0.19);
$custom-25: #f8f8ff;
$custom-26: rgb(0, 0, 0, 0.4);

$custom-form-16: #010e87;
$custom-form-17: #d0d5dd;
$custom-form-18: #f2f4f7;
$custom-form-19: #475467;
$custom-form-20: #515459;
$custom-form-21: #4f4f4f;
$custom-form-22: #e5e5e5;
