Dear Sir/Madam,
\
You have received a message related to your Project #{@project_title}.
\
The content of the message :
\
#{@message_text}
\
You can send a reply via Marketplace platform using this link #{project_conversation_url(@model)}.
