= form_tag "", method: :get, role: "search", class: "", "data-sync-query-form": "data-sync-query-form" do
  %h5.text-uppercase.underline-light.mb-2.pb-2 Categories
  %ul
    - categories.each do |category|
      .row
        .col-md-10
          %li{ class: ("font-weight-bold" if current_category_id == category.id) }
            = link_to category.name, category_path(category)
        .col-md-2.text-right
          %span
            = category.services_count

      - if current_category_id == category.id && !subcategories.empty?
        %ul.ml-3
          = render partial: "categories/subcategory", collection: subcategories
