= form_tag "", method: :get, role: "search", class: "", "data-sync-query-form": "data-sync-query-form" do
  - unless subcategories.empty?
    %h5.mb-3.position-relative Categories
    %ul
      = render partial: "categories/subcategory", collection: subcategories
