- unless subcategories.empty?
  %h5.mb-3.position-relative Categories
  %ul
    = render partial: "categories/subcategory", collection: subcategories
  %h5.mb-3.position-relative Filters
  %p.font-weight-bold Price
  %form
    .row
      .col-md-5.offset-md-1
        %input.form-control.form-control-sm{ type: "text", placeholder: "from" }
      .col-md-5
        %input.form-control.form-control-sm{ type: "text", placeholder: "to" }
    .row
      .col.offset-md-1
        .form-check.mt-1
          %input#charges.form-check-input{ type: "checkbox" }
          %label.form-check-label.small{ for: "charges" }
            free of charge
  %p.font-weight-bold.mt-3 Provider location
  %form
    .row
      .col-md-10.offset-md-1
        .form-group
          %select.form-control.form-control-sm
            %option.disable{ disabled: "disabled", selected: "selected" }
              select country
            %option
              Poland
  %p.font-weight-bold.mt-2.mb-2 Availability
  .row
    .col-md-8.offset-md-1
      .form-check.mt-1
        %input#check-1.form-check-input{ type: "checkbox" }
        %label.form-check-label.small{ for: "check-1" }
          Now
    .col-md-3.text-right
      %span.small
        4
  .row
    .col-md-8.offset-md-1
      .form-check.mt-1
        %input#check-2.form-check-input{ type: "checkbox", disabled: "disabled" }
        %label.form-check-label.small{ for: "check-2" }
          1 day
    .col-md-3.text-right
      %span.small
        0
  .row
    .col-md-8.offset-md-1
      .form-check.mt-1
        %input#check-3.form-check-input{ type: "checkbox" }
        %label.form-check-label.small{ for: "check-3" }
          2-3 days
    .col-md-3.text-right
      %span.small
        4
  .row
    .col-md-8.offset-md-1
      .form-check.mt-1
        %input#check-4.form-check-input{ type: "checkbox" }
        %label.form-check-label.small{ for: "check-4" }
          4 days and more
    .col-md-3.text-right
      %span.small
        4
  .row
    .col.pr-2
      %button.btn.btn-primary.mt-4.w-100
        filter
