- breadcrumb :category, @category

.container-fluid
  .row
    .col-3
      = render "subcategories", subcategories: @subcategories
    .col-9
      %h2= @category.name
      = render "services/services", services: @services
