- content_for :title, _("New Scientific Domain")
- breadcrumb :backoffice_scientific_domain_new, @scientific_domain
= render "layouts/backoffice/other_settings_wrapper" do
  .container.p-0.backoffice
    %h1= _("New Scientific Domain")
    = render "form", scientific_domain: @scientific_domain
