- breadcrumb :project, @project

= render "projects/project_layout", project: @project, projects: @projects do
  = render "messages/messages",
    messages: @messages
  - unless @project.archived?
    .question-box.col-12.mt-5.pt-4
      .h3
        Contact with customer service
      = simple_form_for @message, url: project_conversation_path(@project) do |f|
        = f.input :message,
          label: "Message to customer service about your project",
          input_html: { class: "textarea-md" }
        %button.btn.btn-primary.btn-sm.mt-4{ type: "submit",
                                             class: ("disabled" if @project.archived?) } Send message
