= render "projects/layout", project: @project do
  = render "messages/messages",
    messages: @messages
  .question-box.col-12.mt-5.pt-4
    .h3
      Contact with customer service
    = simple_form_for @message, url: project_conversation_path(@project) do |f|
      = f.input :message, label: "Message to customer service about your project"
      %button.btn.btn-primary.btn-sm.mt-4{ type: "submit" } Send message
