.tour-feedback{ "data-controller" => "tourfeedback", "data-target": "tourfeedback.input", value: value }

  .feedback-rating
    .feedback-point.no-events{ "data-target" => "tourfeedback.point", disabled: true }
    .feedback-point.no-events{ "data-target" => "tourfeedback.point", disabled: true }
    .feedback-point.no-events{ "data-target" => "tourfeedback.point", disabled: true }
    .feedback-point.no-events{ "data-target" => "tourfeedback.point", disabled: true }
    .feedback-point.no-events{ "data-target" => "tourfeedback.point", disabled: true }

    .feedback-lines
      .feedback-line{ "data-target" => "tourfeedback.line" }
      .feedback-line{ "data-target" => "tourfeedback.line" }
      .feedback-line{ "data-target" => "tourfeedback.line" }
      .feedback-line{ "data-target" => "tourfeedback.line" }
