%p Dear User,

%p
  This email is to inform you that your request to access the Elastic Cloud
  Computing Cluster (EC3) platform has been rejected.

%p Should you have any questions, please contact us at [1].

%p
  %div Your Sincerely,
  %div EGI User Community Support Team
%div
  [1]
  = mail_to "support@egi.eu", "support@egi.eu"
