Dear User,
\
This email is to inform you that your request to access the Elastic
Cloud Computing Cluster (EC3) platform has been rejected.
\
Should you have any questions, please contact us at [1].
\
Your Sincerely,
EGI User Community Support Team
\
[1] support@egi.eu
