Dear User,
\
This email is to inform you that your request to access the EGI
Applications on Demand (AoD) service has been approved. You can now proceed to:
\
\- Create your self-managed VMs through our dashboard [1];
\- Run application(s) [2] through any of the connected application hosting
framework (e.g. Science Gateways and VREs);
\- Create your Jupyter Notebook through the web portal [3].
\
\== IMPORTANT NOTICE ==
The Applicant is tasked to acknowledge EGI in the scientific publications/presentations
benefiting from the service. The following acknowledgement text can be used for this
purpose: "This work used the EGI Applications on Demand service, which is co-funded by
the EOSC-hub project (grant number 777536)".
\
\== HELPDESK ===
If you need of any assistance, please describe your problems writing at
applications-platform-info@mailman.egi.eu. Your request will be processed
by the EGI User Support operator of the Service.
\
Should you have any questions, please contact us at [4].
\
Your Sincerely,
EGI User Community Support Team
\
[1] The EGI VMOps dashboard - https://dashboard.appdb.egi.eu/
[2] https://marketplace.egi.eu/42-scientific-applications
[3] https://notebooks.egi.eu/hub/login
[4] support@egi.eu
