%p Dear #{@user.full_name},
%p
  This is to inform you that you request for
  the service #{link_to @project_item.service.name, service_url(@project_item.service)} has been closed.
%p
  If you have any questions or want to use the service again,
  you can send a message via Marketplace platform to a service provider using this
  #{link_to "link", project_service_conversation_url(@project, @project_item)}.

%em Please note that you can’t reply to this message.
