Dear #{@user.full_name},
\
Your request for the #{@project_item.service.name} service was created.
Your order information has been shared and currently under review.
You can check the details of your order using this link - #{project_service_url(@project, @project_item)}.
\
In the meantime, if you have any questions or you would like to cancel your order,
you can send a message via Marketplace platform to a service provider using this
link - #{project_service_conversation_url(@project, @project_item)}.
\
Please note that you can’t reply to this message.
