%p Dear #{@user.full_name},
%p
  Your request for the #{link_to @project_item.service.name, service_url(@project_item.service)} service was created.
  Your order information has been shared and currently under review.
  You can check the details of your order using this #{link_to "link", project_service_url(@project, @project_item)}.
%p
  In the meantime, if you have any questions or you would like to cancel your order,
  you can send a message via Marketplace platform to a service provider using this
  #{link_to "link", project_service_conversation_url(@project, @project_item)}.

%em Please note that you can’t reply to this message.
