%p Dear #{@user.full_name},
%p
  New message was added to your service request #{link_to "##{@project_item.id}", project_item_url(@project_item)}.
  You can check this message using this #{link_to "link", project_item_url(@project_item)}.


