%p Dear #{@user.full_name},
%p
  Your order #{link_to @project_item.service.name, service_url(@project_item.service)} is ready.
%p
  This is to inform you that you service #{@project_item.service.name} is
  %strong ready to be used.
%p
  If you have any questions on how to use it, please send a message via Marketplace platform
  to a service provider using this #{link_to "link", project_service_conversation_url(@project, @project_item)}.
%em Please note that you can’t reply to this message.
