Dear #{@bundled_offer.service.name} administrator,
\
Your offer #{offer_full_name(@bundled_offer)} was bundled in #{offer_full_name(@bundle_offer)}.
\
You can view the bundle offer under #{service_url(@bundle_offer.service)}.
\
Please note that you can’t reply to this message.
