%p Dear #{@bundle_offer.service.name} administrator,
%p
  Your bundle offer's (#{offer_full_name(@bundle_offer)}) bundled offer (#{@unbundled_offer_full_name})
  was unbundled.
%p Go to the #{link_to "Offering API", api_docs_url} to verify your bundle offer.
%em Please note that you can’t reply to this message.
