Dear #{@provider.full_name},
\
We would like to inform you that your offer #{@offer.name} has expired.
\
If you wish to manage this resource, please click the button below:
\
#{edit_backoffice_service_offer_url(@offer.service.friendly_id, @offer.iid)}
\
Should you have any questions, please do not hesitate to contact us.
