Dear #{@user.full_name},
\
We are pleased to inform you that your resource #{@offer.name} is now available. You can access it using the link below:
\
#{service_url(@offer.service)}
\
If you have any questions, please do not hesitate to contact us.
