Dear #{@bundle_offer.service.name} administrator,
\
Your bundle offer's (#{offer_full_name(@bundle_offer)}) bundled offer (#{@unbundled_offer_full_name})
was unbundled.
\
Go to the #{link_to "Offering API", api_docs_url} to verify your bundle offer.
\
Please note that you can’t reply to this message.
