- active = "font-weight-bolder" if local_assigns[:current] && current == category
%li{ class: "d-flex justify-content-between align-items-center #{active}" }
  = link_to category.name, backoffice_category_services_path(category, category_query_params)
  %span= counter
