#orders
  %ul.text-left
    %li
      %a.dropdown-item.dropdown-projects{ href: "#" }
        = _("BOS")
    %li
      %a.dropdown-item.dropdown-profile{ href: "/favourites", "data-e2e": "favourites" }
        = _("Favourite services")
    %li
      %a.dropdown-item.dropdown-profile{ href: "/profile", "data-e2e": "profile" }
        = _("Profile")
    %li
      %a.dropdown-item.dropdown-profile{ href: "/api_docs", "data-e2e": "marketplace-api" }
        = _("Marketplace API")
