%ul.nav.nav-fill.order-nav
  - state = :back
  - wizard.step_names.each do |step_name|
    - if step_for(step_name).visible?
      :ruby
        state = :disabled if state == :next
        state = :next if state == :active
        state = :active if step_name == step_key.to_s

      = order_nav_link(t("service.#{service.service_type}.order.#{step_name}.title",
        default: "service.#{step_name}.title".to_sym), url_for([service, step_name]), state)
