%ul.nav.nav-fill.order-nav
  - wizard.step_names.each_with_index do |name, i|
    - if wizard.step(name).visible?
      = order_nav_link(t("service.#{service.service_type}.order.#{name}.title",
        default: "service.#{name}.title".to_sym),
        url_for([service, name]), i + 1, step)
