%ul.nav.nav-fill.order-nav
  - if policy(service).offers_show?
    = order_nav_link("Offer selection", service_offers_path(service), 1, step)
  = order_nav_link(t("service.#{service.service_type}.order.configuration.title"),
                   service_configuration_path(service), 2, step)
  = order_nav_link("Summary", service_summary_path(service), 3, step)
