{
  "openapi": "3.1.0",
  "info": {
    "title": "eosc API",
    "description": "A single platform for providers to onboard their organization, register and manage their resources.",
    "license": { "name": "Apache 2.0", "url": "https://www.apache.org/licenses/LICENSE-2.0" },
    "version": "5.4.0"
  },
  "externalDocs": {
    "description": "eosc Documentation",
    "url": "https://github.com/madgeek-arc/resource-catalogue-docs"
  },
  "servers": [{ "url": "https://providers.sandbox.eosc-beyond.eu/api/" }],
  "security": [{ "bearer-key": [] }],
  "tags": [
    { "name": "mails", "description": "Send emails to Users" },
    { "name": "public service extensions", "description": "Get Information about Public Helpdesks/Monitorings" },
    { "name": "service extensions", "description": "Operations about Services' Helpdesks/Monitorings" },
    { "name": "configuration template instance", "description": "Operations about Configuration Template Instances" },
    { "name": "configuration template", "description": "Operations about Configuration Templates" },
    { "name": "catalogue", "description": "Operations about Catalogues and their resources" },
    { "name": "public", "description": "General methods related to Public resources" }
  ],
  "paths": {
    "/vocabulary": {
      "get": {
        "tags": ["vocabulary"],
        "operationId": "getAll",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "Keyword to refine the search",
            "content": { "*/*": { "schema": { "type": "string" } } }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Starting index in the result set",
            "content": { "*/*": { "schema": { "type": "string", "default": "0" } } }
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "Quantity to be fetched",
            "content": { "*/*": { "schema": { "type": "string", "default": "10" } } }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to use for sorting",
            "content": { "*/*": { "schema": { "type": "string" } } }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of results",
            "content": { "*/*": { "schema": { "type": "string", "default": "asc", "enum": ["asc", "desc"] } } }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagingVocabulary" } } }
          }
        }
      },
      "put": {
        "tags": ["vocabulary"],
        "operationId": "update",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Vocabulary" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Vocabulary" } } }
          }
        }
      },
      "post": {
        "tags": ["vocabulary"],
        "operationId": "add",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Vocabulary" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Vocabulary" } } }
          }
        }
      },
      "delete": {
        "tags": ["vocabulary"],
        "operationId": "delete",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Vocabulary" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Vocabulary" } } }
          }
        }
      }
    },
    "/vocabulary/updateBulk": {
      "put": {
        "tags": ["vocabulary"],
        "operationId": "updateBulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Vocabulary" } }
            }
          },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/trainingResource": {
      "put": {
        "tags": ["training resource"],
        "summary": "Updates the TrainingResource assigned the given id with the given TrainingResource, keeping a version of revisions.",
        "operationId": "updateTrainingResource",
        "parameters": [{ "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } }
          }
        }
      },
      "post": {
        "tags": ["training resource"],
        "summary": "Creates a new TrainingResource.",
        "operationId": "addTrainingResource",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } }
          }
        }
      }
    },
    "/trainingResource/updateTrainingResourceBundle": {
      "put": {
        "tags": ["training resource"],
        "operationId": "update_1",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResourceBundle" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResourceBundle" } } }
          }
        }
      }
    },
    "/trainingResource/suspend": {
      "put": {
        "tags": ["training resource"],
        "summary": "Suspends a specific Training Resource.",
        "operationId": "suspendTrainingResource",
        "parameters": [
          { "name": "trainingResourceId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "suspend", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResourceBundle" } } }
          }
        }
      }
    },
    "/trainingResource/draft": {
      "put": {
        "tags": ["training resource"],
        "operationId": "updateDraftTrainingResource",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } }
          }
        }
      },
      "post": {
        "tags": ["training resource"],
        "operationId": "addDraftTrainingResource",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } }
          }
        }
      }
    },
    "/trainingResource/draft/transform": {
      "put": {
        "tags": ["training resource"],
        "operationId": "transformToTrainingResource",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } }
          }
        }
      }
    },
    "/service": {
      "put": {
        "tags": ["ServiceWrite", "service"],
        "summary": "Updates the Resource assigned the given id with the given Resource, keeping a version of revisions.",
        "operationId": "updateService",
        "parameters": [{ "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } }
          }
        }
      },
      "post": {
        "tags": ["ServiceWrite", "service"],
        "summary": "Creates a new Resource.",
        "operationId": "addService",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } }
          }
        }
      }
    },
    "/service/suspend": {
      "put": {
        "tags": ["service", "ServiceAdmin"],
        "summary": "Suspends a specific Service.",
        "operationId": "suspendService",
        "parameters": [
          { "name": "serviceId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "suspend", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ServiceBundle" } } }
          }
        }
      }
    },
    "/service/draft": {
      "put": {
        "tags": ["ServiceWrite", "service"],
        "operationId": "updateDraftService",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } }
          }
        }
      },
      "post": {
        "tags": ["ServiceWrite", "service"],
        "operationId": "addDraftService",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } }
          }
        }
      }
    },
    "/service/draft/transform": {
      "put": {
        "tags": ["ServiceWrite", "service"],
        "operationId": "transformService",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } }
          }
        }
      }
    },
    "/service/bundle": {
      "put": {
        "tags": ["service", "ServiceAdmin"],
        "operationId": "updateBundle",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ServiceBundle" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ServiceBundle" } } }
          }
        }
      },
      "post": {
        "tags": ["service", "ServiceAdmin"],
        "operationId": "addBundle",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ServiceBundle" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ServiceBundle" } } }
          }
        }
      }
    },
    "/service-extensions/monitoring": {
      "put": {
        "tags": ["service extensions"],
        "summary": "Updates the Monitoring with the given id.",
        "operationId": "updateMonitoring",
        "parameters": [
          {
            "name": "catalogue_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "eosc" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Monitoring" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Monitoring" } } }
          }
        }
      },
      "post": {
        "tags": ["service extensions"],
        "summary": "Creates a new Monitoring.",
        "operationId": "addMonitoring",
        "parameters": [
          {
            "name": "catalogue_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "eosc" }
          },
          { "name": "resourceType", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Monitoring" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Monitoring" } } }
          }
        }
      }
    },
    "/service-extensions/helpdesk": {
      "put": {
        "tags": ["service extensions"],
        "summary": "Updates the Helpdesk with the given id.",
        "operationId": "updateHelpdesk",
        "parameters": [
          {
            "name": "catalogue_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "eosc" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Helpdesk" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Helpdesk" } } }
          }
        }
      },
      "post": {
        "tags": ["service extensions"],
        "summary": "Creates a new Helpdesk.",
        "operationId": "addHelpdesk",
        "parameters": [
          {
            "name": "catalogue_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "eosc" }
          },
          { "name": "resourceType", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Helpdesk" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Helpdesk" } } }
          }
        }
      }
    },
    "/resources": {
      "get": {
        "tags": ["resource-controller"],
        "operationId": "getAllResources",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 10 }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagingResource" } } }
          }
        }
      },
      "put": {
        "tags": ["resource-controller"],
        "operationId": "updateResource",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Resource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Resource" } } }
          }
        }
      },
      "post": {
        "tags": ["resource-controller"],
        "operationId": "addResource",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Resource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Resource" } } }
          }
        }
      }
    },
    "/resourceInteroperabilityRecord": {
      "put": {
        "tags": ["resource interoperability record"],
        "summary": "Updates the ResourceInteroperabilityRecord with the given id.",
        "operationId": "update_2",
        "parameters": [
          {
            "name": "catalogue_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "eosc" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ResourceInteroperabilityRecord" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ResourceInteroperabilityRecord" } }
            }
          }
        }
      },
      "post": {
        "tags": ["resource interoperability record"],
        "summary": "Creates a new ResourceInteroperabilityRecord.",
        "operationId": "add_1",
        "parameters": [{ "name": "resourceType", "in": "query", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ResourceInteroperabilityRecord" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ResourceInteroperabilityRecord" } }
            }
          }
        }
      }
    },
    "/provider": {
      "put": {
        "tags": ["provider"],
        "summary": "Updates the Provider assigned the given id with the given Provider, keeping a version of revisions.",
        "operationId": "update_3",
        "parameters": [
          {
            "name": "catalogue_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "eosc" }
          },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } }
          }
        }
      },
      "post": {
        "tags": ["provider"],
        "operationId": "add_2",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } }
          }
        }
      }
    },
    "/provider/suspend": {
      "put": {
        "tags": ["provider"],
        "description": "Suspends a Provider and all its resources",
        "operationId": "suspendProvider",
        "parameters": [
          { "name": "providerId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "suspend", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProviderBundle" } } }
          }
        }
      }
    },
    "/provider/draft": {
      "put": {
        "tags": ["provider"],
        "operationId": "updateDraftProvider",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } }
          }
        }
      },
      "post": {
        "tags": ["provider"],
        "operationId": "addDraftProvider",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } }
          }
        }
      }
    },
    "/provider/draft/transform": {
      "put": {
        "tags": ["provider"],
        "operationId": "transformToProvider",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } }
          }
        }
      }
    },
    "/provider/changeCatalogue": {
      "put": {
        "tags": ["provider"],
        "operationId": "changeCatalogue",
        "parameters": [
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "providerId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "newCatalogueId", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProviderBundle" } } }
          }
        }
      }
    },
    "/provider/bundle": {
      "put": {
        "tags": ["provider"],
        "operationId": "updateBundle_1",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProviderBundle" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProviderBundle" } } }
          }
        }
      },
      "post": {
        "tags": ["provider"],
        "operationId": "addBundle_1",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProviderBundle" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProviderBundle" } } }
          }
        }
      }
    },
    "/provider/adminAcceptedTerms": {
      "put": {
        "tags": ["provider"],
        "operationId": "adminAcceptedTerms",
        "parameters": [{ "name": "providerId", "in": "query", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/items/{id}": {
      "get": {
        "tags": ["generic-item-controller"],
        "operationId": "get",
        "parameters": [
          { "name": "resourceType", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "object" } } } } }
      },
      "put": {
        "tags": ["generic-item-controller"],
        "operationId": "update_4",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "resourceType", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } }, "required": true },
        "responses": { "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "object" } } } } }
      },
      "delete": {
        "tags": ["generic-item-controller"],
        "operationId": "delete_1",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "resourceType", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "object" } } } } }
      }
    },
    "/interoperabilityRecord": {
      "put": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "summary": "Updates the InteroperabilityRecord with the given id.",
        "operationId": "update_5",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } }
          }
        }
      },
      "post": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "summary": "Creates a new Interoperability Record.",
        "operationId": "add_3",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } }
          }
        }
      }
    },
    "/interoperabilityRecord/updateInteroperabilityRecordBundle": {
      "put": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "operationId": "update_6",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecordBundle" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecordBundle" } }
            }
          }
        }
      }
    },
    "/interoperabilityRecord/suspend": {
      "put": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "summary": "Suspends a specific Interoperability Record.",
        "operationId": "suspendInteroperabilityRecord",
        "parameters": [
          { "name": "interoperabilityRecordId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "suspend", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecordBundle" } }
            }
          }
        }
      }
    },
    "/interoperabilityRecord/draft": {
      "put": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "operationId": "updateDraftInteroperabilityRecord",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } }
          }
        }
      },
      "post": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "operationId": "addDraftInteroperabilityRecord",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } }
          }
        }
      }
    },
    "/interoperabilityRecord/draft/transform": {
      "put": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "operationId": "transformToInteroperabilityRecord",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } }
          }
        }
      }
    },
    "/helpdesk/tickets/{ticketId}": {
      "get": {
        "tags": ["helpdesk"],
        "summary": "Returns a specific ticket for the authenticated user.",
        "operationId": "getTicket",
        "parameters": [{ "name": "ticketId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      },
      "put": {
        "tags": ["helpdesk"],
        "summary": "Update a ticket.",
        "operationId": "updateTicket",
        "parameters": [{ "name": "ticketId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "additionalProperties": {} } } },
          "required": true
        },
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    },
    "/forms/models/{id}": {
      "get": {
        "tags": ["forms-controller"],
        "operationId": "getModel",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "object" } } } } }
      },
      "put": {
        "tags": ["forms-controller"],
        "operationId": "updateModel",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } }, "required": true },
        "responses": { "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "object" } } } } }
      },
      "delete": {
        "tags": ["forms-controller"],
        "operationId": "deleteModel",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/deployableService": {
      "put": {
        "tags": ["deployable service"],
        "summary": "Updates the DeployableService assigned the given id with the given DeployableService, keeping a version of revisions.",
        "operationId": "updateDeployableService",
        "parameters": [{ "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableService" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableService" } } }
          }
        }
      },
      "post": {
        "tags": ["deployable service"],
        "summary": "Creates a new DeployableService",
        "operationId": "addDeployableService",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableService" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableService" } } }
          }
        }
      }
    },
    "/deployableService/suspend": {
      "put": {
        "tags": ["deployable service"],
        "summary": "Suspends a specific Deployable Service.",
        "operationId": "suspendDeployableService",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "suspend", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableServiceBundle" } } }
          }
        }
      }
    },
    "/datasource": {
      "put": {
        "tags": ["datasource"],
        "description": "Updates the Datasource with the given id.",
        "operationId": "updateHDatasource",
        "parameters": [{ "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Datasource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Datasource" } } }
          }
        }
      },
      "post": {
        "tags": ["datasource"],
        "description": "Creates a new Datasource.",
        "operationId": "addDatasource",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Datasource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Datasource" } } }
          }
        }
      }
    },
    "/configurationTemplate": {
      "put": {
        "tags": ["configuration template"],
        "summary": "Updates the Configuration Template with the given id.",
        "operationId": "update_7",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConfigurationTemplate" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConfigurationTemplate" } } }
          }
        }
      },
      "post": {
        "tags": ["configuration template"],
        "summary": "Create a new Configuration Template.",
        "operationId": "add_4",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConfigurationTemplate" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConfigurationTemplate" } } }
          }
        }
      }
    },
    "/configurationTemplateInstance": {
      "put": {
        "tags": ["configuration template instance"],
        "summary": "Updates the Configuration Template Instance with the given id.",
        "operationId": "update_8",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ConfigurationTemplateInstance" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ConfigurationTemplateInstance" } }
            }
          }
        }
      },
      "post": {
        "tags": ["configuration template instance"],
        "summary": "Create a new Configuration Template Instance.",
        "operationId": "add_5",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ConfigurationTemplateInstance" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ConfigurationTemplateInstance" } }
            }
          }
        }
      }
    },
    "/catalogue": {
      "put": {
        "tags": ["catalogue"],
        "summary": "Updates a specific Catalogue.",
        "operationId": "updateCatalogue",
        "parameters": [{ "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Catalogue" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Catalogue" } } }
          }
        }
      },
      "post": {
        "tags": ["catalogue"],
        "summary": "Creates a new Catalogue.",
        "operationId": "addCatalogue",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Catalogue" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Catalogue" } } }
          }
        }
      }
    },
    "/catalogue/{catalogueId}/trainingResource": {
      "put": {
        "tags": ["catalogue"],
        "description": "Updates the Training Resource of the specific Catalogue.",
        "operationId": "updateCatalogueTrainingResource",
        "parameters": [
          { "name": "catalogueId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } }
          }
        }
      },
      "post": {
        "tags": ["catalogue"],
        "description": "Creates a new Training Resource for the specific Catalogue.",
        "operationId": "addCatalogueTrainingResource",
        "parameters": [{ "name": "catalogueId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } }
          }
        }
      }
    },
    "/catalogue/{catalogueId}/service": {
      "put": {
        "tags": ["catalogue"],
        "description": "Updates the Service of the specific Catalogue.",
        "operationId": "updateCatalogueService",
        "parameters": [
          { "name": "catalogueId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } }
          }
        }
      },
      "post": {
        "tags": ["catalogue"],
        "description": "Creates a new Service for the specific Catalogue.",
        "operationId": "addCatalogueService",
        "parameters": [{ "name": "catalogueId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } }
          }
        }
      }
    },
    "/catalogue/{catalogueId}/provider": {
      "put": {
        "tags": ["catalogue"],
        "description": "Updates the Provider of the specific Catalogue.",
        "operationId": "updateCatalogueProvider",
        "parameters": [
          { "name": "catalogueId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } }
          }
        }
      },
      "post": {
        "tags": ["catalogue"],
        "description": "Creates a new Provider for the specific Catalogue.",
        "operationId": "addCatalogueProvider",
        "parameters": [{ "name": "catalogueId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } }
          }
        }
      }
    },
    "/catalogue/{catalogueId}/interoperabilityRecord": {
      "put": {
        "tags": ["catalogue"],
        "description": "Updates the Interoperability Record of the specific Catalogue.",
        "operationId": "updateCatalogueInteroperabilityRecord",
        "parameters": [{ "name": "catalogueId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } }
          }
        }
      },
      "post": {
        "tags": ["catalogue"],
        "description": "Creates a new Interoperability Record for the specific Catalogue.",
        "operationId": "addCatalogueInteroperabilityRecord",
        "parameters": [{ "name": "catalogueId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } }
          }
        }
      }
    },
    "/catalogue/{catalogueId}/deployableService": {
      "put": {
        "tags": ["catalogue"],
        "description": "Updates the Deployable Service of the specific Catalogue.",
        "operationId": "updateCatalogueDeployableService",
        "parameters": [
          { "name": "catalogueId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableService" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableService" } } }
          }
        }
      },
      "post": {
        "tags": ["catalogue"],
        "description": "Creates a new Deployable Service for the specific Catalogue.",
        "operationId": "addCatalogueDeployableService",
        "parameters": [{ "name": "catalogueId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableService" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableService" } } }
          }
        }
      }
    },
    "/catalogue/{catalogueId}/datasource": {
      "put": {
        "tags": ["catalogue"],
        "description": "Updates the Datasource of the specific Catalogue.",
        "operationId": "updateCatalogueDatasource",
        "parameters": [
          { "name": "catalogueId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Datasource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Datasource" } } }
          }
        }
      },
      "post": {
        "tags": ["catalogue"],
        "description": "Creates a new Datasource for the specific Catalogue.",
        "operationId": "addCatalogueDatasource",
        "parameters": [{ "name": "catalogueId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Datasource" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Datasource" } } }
          }
        }
      }
    },
    "/catalogue/suspend": {
      "put": {
        "tags": ["catalogue"],
        "summary": "Suspends a Catalogue and all its resources.",
        "operationId": "suspendCatalogue",
        "parameters": [
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "suspend", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CatalogueBundle" } } }
          }
        }
      }
    },
    "/adapter": {
      "put": {
        "tags": ["adapter"],
        "summary": "Updates the Adapter.",
        "operationId": "update_9",
        "parameters": [
          {
            "name": "catalogue_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "eosc" }
          },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Adapter" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Adapter" } } }
          }
        }
      },
      "post": {
        "tags": ["adapter"],
        "operationId": "add_6",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Adapter" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Adapter" } } }
          }
        }
      }
    },
    "/adapter/suspend": {
      "put": {
        "tags": ["adapter"],
        "summary": "Suspends an Adapter.",
        "operationId": "suspend",
        "parameters": [
          { "name": "adapterId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "suspend", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdapterBundle" } } }
          }
        }
      }
    },
    "/wizard/step2/loadModels": {
      "post": {
        "tags": ["wizard"],
        "summary": "Load Models",
        "operationId": "loadModels",
        "responses": { "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "string" } } } } }
      }
    },
    "/wizard/step1/loadVocabularies": {
      "post": {
        "tags": ["wizard"],
        "summary": "Load Vocabularies",
        "operationId": "loadVocabularies",
        "responses": { "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "string" } } } } }
      }
    },
    "/vocabulary/validate": {
      "post": {
        "tags": ["vocabulary"],
        "operationId": "validate",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Vocabulary" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Vocabulary" } } }
          }
        }
      }
    },
    "/vocabulary/addBulk": {
      "post": {
        "tags": ["vocabulary"],
        "operationId": "addBulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Vocabulary" } }
            }
          },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/trainingResource/validate": {
      "post": {
        "tags": ["training resource"],
        "summary": "Validates the Training Resource without actually changing the repository.",
        "operationId": "validate_1",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResource" } } },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/trainingResource/changeProvider": {
      "post": {
        "tags": ["training resource"],
        "operationId": "changeProvider",
        "parameters": [
          { "name": "resourceId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "newProvider", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/trainingResource/addTrainingResourceBundle": {
      "post": {
        "tags": ["training resource"],
        "operationId": "add_7",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResourceBundle" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResourceBundle" } } }
          }
        }
      }
    },
    "/trainingResource/addBulk": {
      "post": {
        "tags": ["training resource"],
        "operationId": "addBulk_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "$ref": "#/components/schemas/TrainingResourceBundle" } }
            }
          },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/service/validate": {
      "post": {
        "tags": ["ServiceWrite", "service"],
        "summary": "Validates the Service without actually changing the repository.",
        "operationId": "validate_2",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Service" } } },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/service/changeProvider": {
      "post": {
        "tags": ["service", "ServiceAdmin"],
        "operationId": "changeProvider_1",
        "parameters": [
          { "name": "resourceId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "newProvider", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/service/addBulk": {
      "post": {
        "tags": ["service", "ServiceAdmin"],
        "operationId": "addBulk_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ServiceBundle" } }
            }
          },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/service-extensions/monitoring/addBulk": {
      "post": {
        "tags": ["service extensions"],
        "operationId": "addBulkMonitorings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "$ref": "#/components/schemas/MonitoringBundle" } }
            }
          },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/service-extensions/helpdesk/addBulk": {
      "post": {
        "tags": ["service extensions"],
        "operationId": "addBulkHelpdesks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "$ref": "#/components/schemas/HelpdeskBundle" } }
            }
          },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/restore/": {
      "post": {
        "tags": ["restore-controller"],
        "operationId": "restoreAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "datafile": { "type": "string", "format": "binary" } },
                "required": ["datafile"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "type": "object", "additionalProperties": { "$ref": "#/components/schemas/BatchResult" } }
              }
            }
          }
        }
      }
    },
    "/resources/{resourceId}/{resourceType}": {
      "post": {
        "tags": ["resource-controller"],
        "operationId": "changeResourceType",
        "parameters": [
          { "name": "resourceId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "resourceType", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/Resource" } } }
          }
        }
      }
    },
    "/resourceType": {
      "post": {
        "tags": ["resource-type-controller"],
        "operationId": "addResourceType",
        "parameters": [
          { "name": "Accept", "in": "header", "schema": { "type": "string", "enum": ["application/json"] } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResourceType" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResourceType" } } }
          }
        }
      }
    },
    "/resourceInteroperabilityRecord/addBulk": {
      "post": {
        "tags": ["resource interoperability record"],
        "operationId": "addBulk_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ResourceInteroperabilityRecordBundle" }
              }
            }
          },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/request/default": {
      "post": {
        "tags": ["data-request-controller"],
        "operationId": "performRequest",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DataRequest" } } },
          "required": true
        },
        "responses": { "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "object" } } } } }
      }
    },
    "/provider/validate": {
      "post": {
        "tags": ["provider"],
        "summary": "Validates the Provider without actually changing the repository.",
        "operationId": "validate_3",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Provider" } } },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/provider/addBulk": {
      "post": {
        "tags": ["provider"],
        "operationId": "addBulk_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ProviderBundle" } }
            }
          },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/mails/custom": {
      "post": {
        "tags": ["mails"],
        "operationId": "sendMails",
        "parameters": [
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": { "type": "array", "default": [], "items": { "type": "string" } }
          },
          {
            "name": "cc",
            "in": "query",
            "required": false,
            "schema": { "type": "array", "default": [], "items": { "type": "string" } }
          },
          {
            "name": "bcc",
            "in": "query",
            "required": false,
            "schema": { "type": "array", "default": [], "items": { "type": "string" } }
          },
          { "name": "subject", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "type": "string" } } }, "required": true },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/mails/all": {
      "post": {
        "tags": ["mails"],
        "operationId": "sendToAll",
        "parameters": [
          {
            "name": "cc",
            "in": "query",
            "required": false,
            "schema": { "type": "array", "default": [], "items": { "type": "string" } }
          },
          { "name": "subject", "in": "query", "required": true, "schema": { "type": "string" } },
          {
            "name": "includeCatalogueAdmins",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "includeContacts",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "includeResourceContacts",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "type": "string" } } }, "required": true },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/logs/level/root": {
      "post": {
        "tags": ["logs-controller"],
        "operationId": "setRootLogLevel",
        "parameters": [
          {
            "name": "standardLevel",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Level" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/logs/level/package/{path}": {
      "post": {
        "tags": ["logs-controller"],
        "operationId": "setPackageLogLevel",
        "parameters": [
          { "name": "path", "in": "path", "required": true, "schema": { "type": "string" } },
          {
            "name": "standardLevel",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Level" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/items": {
      "get": {
        "tags": ["generic-item-controller"],
        "operationId": "browseByResourceType",
        "parameters": [
          {
            "name": "resourceType",
            "in": "query",
            "description": "Resource Type to search",
            "required": true,
            "content": { "*/*": { "schema": { "type": "string", "default": "resourceTypes" } } }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Keyword to refine the search",
            "content": { "*/*": { "schema": { "type": "string" } } }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Starting index in the result set",
            "content": { "*/*": { "schema": { "type": "string", "default": "0" } } }
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "Quantity to be fetched",
            "content": { "*/*": { "schema": { "type": "string", "default": "10" } } }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to use for sorting",
            "content": { "*/*": { "schema": { "type": "string" } } }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of results",
            "content": { "*/*": { "schema": { "type": "string", "default": "asc", "enum": ["asc", "desc"] } } }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/PagingObject" } } }
          }
        }
      },
      "post": {
        "tags": ["generic-item-controller"],
        "operationId": "create",
        "parameters": [{ "name": "resourceType", "in": "query", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } }, "required": true },
        "responses": { "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "object" } } } } }
      }
    },
    "/interoperabilityRecord/validate": {
      "post": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "summary": "Validates the Interoperability Record without actually changing the repository.",
        "operationId": "validate_4",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecord" } } },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/interoperabilityRecord/addInteroperabilityRecordBundle": {
      "post": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "operationId": "add_8",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecordBundle" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecordBundle" } }
            }
          }
        }
      }
    },
    "/interoperabilityRecord/addBulk": {
      "post": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "operationId": "addBulk_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "$ref": "#/components/schemas/InteroperabilityRecordBundle" } }
            }
          },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/helpdesk": {
      "post": {
        "tags": ["helpdesk"],
        "summary": "Submit a ticket.",
        "operationId": "submitTicket",
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "additionalProperties": {} } } },
          "required": true
        },
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    },
    "/forms/models": {
      "get": {
        "tags": ["forms-controller"],
        "operationId": "getModels",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "Keyword to refine the search",
            "content": { "*/*": { "schema": { "type": "string" } } }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Starting index in the result set",
            "content": { "*/*": { "schema": { "type": "string", "default": "0" } } }
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "Quantity to be fetched",
            "content": { "*/*": { "schema": { "type": "string", "default": "10" } } }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to use for sorting",
            "content": { "*/*": { "schema": { "type": "string" } } }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of results",
            "content": { "*/*": { "schema": { "type": "string", "default": "asc", "enum": ["asc", "desc"] } } }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BrowsingModel" } } }
          }
        }
      },
      "post": {
        "tags": ["forms-controller"],
        "operationId": "addModel",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } }, "required": true },
        "responses": { "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "object" } } } } }
      },
      "delete": {
        "tags": ["forms-controller"],
        "operationId": "deleteAllModels",
        "responses": {
          "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "array", "items": {} } } } }
        }
      }
    },
    "/deployableService/validate": {
      "post": {
        "tags": ["deployable service"],
        "summary": "Validates the Deployable Service without actually changing the repository.",
        "operationId": "validate_5",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableService" } } },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/deployableService/changeProvider": {
      "post": {
        "tags": ["deployable service"],
        "operationId": "changeProvider_2",
        "parameters": [
          { "name": "resourceId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "newProvider", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/deployableService/addBulk": {
      "post": {
        "tags": ["deployable service"],
        "operationId": "addBulk_6",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "$ref": "#/components/schemas/DeployableServiceBundle" } }
            }
          },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/datasource/addBulk": {
      "post": {
        "tags": ["datasource"],
        "operationId": "addBulk_7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "$ref": "#/components/schemas/DatasourceBundle" } }
            }
          },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/adapter/validate": {
      "post": {
        "tags": ["adapter"],
        "summary": "Validates the Adapter without actually changing the repository.",
        "operationId": "validate_6",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Adapter" } } },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/trainingResource/verifyTrainingResource/{prefix}/{suffix}": {
      "patch": {
        "tags": ["training resource"],
        "operationId": "verifyTrainingResource",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": false, "schema": { "type": "boolean" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResourceBundle" } } }
          }
        }
      }
    },
    "/trainingResource/publish/{prefix}/{suffix}": {
      "patch": {
        "tags": ["training resource"],
        "operationId": "setActive",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResourceBundle" } } }
          }
        }
      }
    },
    "/trainingResource/auditResource/{prefix}/{suffix}": {
      "patch": {
        "tags": ["training resource"],
        "operationId": "auditResource",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "actionType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "REGISTERED",
                "APPROVED",
                "REJECTED",
                "UPDATED",
                "UPDATED_VERSION",
                "ACTIVATED",
                "DEACTIVATED",
                "SUSPENDED",
                "UNSUSPENDED",
                "VALID",
                "INVALID",
                "CREATED",
                "MOVED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingResourceBundle" } } }
          }
        }
      }
    },
    "/service/verifyResource/{prefix}/{suffix}": {
      "patch": {
        "tags": ["service", "ServiceAdmin"],
        "operationId": "verifyResource",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": false, "schema": { "type": "boolean" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ServiceBundle" } } }
          }
        }
      }
    },
    "/service/publish/{prefix}/{suffix}": {
      "patch": {
        "tags": ["ServiceWrite", "service"],
        "operationId": "setActive_1",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ServiceBundle" } } }
          }
        }
      }
    },
    "/service/auditResource/{prefix}/{suffix}": {
      "patch": {
        "tags": ["service", "ServiceAdmin"],
        "operationId": "auditService",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "actionType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "REGISTERED",
                "APPROVED",
                "REJECTED",
                "UPDATED",
                "UPDATED_VERSION",
                "ACTIVATED",
                "DEACTIVATED",
                "SUSPENDED",
                "UNSUSPENDED",
                "VALID",
                "INVALID",
                "CREATED",
                "MOVED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ServiceBundle" } } }
          }
        }
      }
    },
    "/provider/verifyProvider/{prefix}/{suffix}": {
      "patch": {
        "tags": ["provider"],
        "operationId": "verifyProvider",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": false, "schema": { "type": "boolean" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProviderBundle" } } }
          }
        }
      }
    },
    "/provider/publishServices": {
      "patch": {
        "tags": ["provider"],
        "operationId": "publishServices",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "active", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ServiceBundle" } }
              }
            }
          }
        }
      }
    },
    "/provider/publish/{prefix}/{suffix}": {
      "patch": {
        "tags": ["provider"],
        "operationId": "setActive_2",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": false, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProviderBundle" } } }
          }
        }
      }
    },
    "/provider/auditProvider/{prefix}/{suffix}": {
      "patch": {
        "tags": ["provider"],
        "operationId": "auditProvider",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "actionType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "REGISTERED",
                "APPROVED",
                "REJECTED",
                "UPDATED",
                "UPDATED_VERSION",
                "ACTIVATED",
                "DEACTIVATED",
                "SUSPENDED",
                "UNSUSPENDED",
                "VALID",
                "INVALID",
                "CREATED",
                "MOVED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProviderBundle" } } }
          }
        }
      }
    },
    "/interoperabilityRecord/verify/{prefix}/{suffix}": {
      "patch": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "operationId": "verify",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": false, "schema": { "type": "boolean" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecordBundle" } }
            }
          }
        }
      }
    },
    "/interoperabilityRecord/publish/{prefix}/{suffix}": {
      "patch": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "operationId": "setActive_3",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecordBundle" } }
            }
          }
        }
      }
    },
    "/interoperabilityRecord/auditResource/{prefix}/{suffix}": {
      "patch": {
        "tags": ["interoperability record", "InteroperabilityRecordWrite"],
        "operationId": "auditResource_1",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "actionType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "REGISTERED",
                "APPROVED",
                "REJECTED",
                "UPDATED",
                "UPDATED_VERSION",
                "ACTIVATED",
                "DEACTIVATED",
                "SUSPENDED",
                "UNSUSPENDED",
                "VALID",
                "INVALID",
                "CREATED",
                "MOVED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InteroperabilityRecordBundle" } }
            }
          }
        }
      }
    },
    "/deployableService/verify/{prefix}/{suffix}": {
      "patch": {
        "tags": ["deployable service"],
        "operationId": "verify_1",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": false, "schema": { "type": "boolean" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableServiceBundle" } } }
          }
        }
      }
    },
    "/deployableService/publish/{prefix}/{suffix}": {
      "patch": {
        "tags": ["deployable service"],
        "operationId": "setActive_4",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableServiceBundle" } } }
          }
        }
      }
    },
    "/deployableService/audit/{prefix}/{suffix}": {
      "patch": {
        "tags": ["deployable service"],
        "operationId": "audit",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "actionType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "REGISTERED",
                "APPROVED",
                "REJECTED",
                "UPDATED",
                "UPDATED_VERSION",
                "ACTIVATED",
                "DEACTIVATED",
                "SUSPENDED",
                "UNSUSPENDED",
                "VALID",
                "INVALID",
                "CREATED",
                "MOVED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployableServiceBundle" } } }
          }
        }
      }
    },
    "/datasource/verifyDatasource/{prefix}/{suffix}": {
      "patch": {
        "tags": ["datasource"],
        "operationId": "verifyDatasource",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": false, "schema": { "type": "boolean" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DatasourceBundle" } } }
          }
        }
      }
    },
    "/catalogue/verifyCatalogue/{id}": {
      "patch": {
        "tags": ["catalogue"],
        "summary": "Verifies the specific Catalogue.",
        "operationId": "verifyCatalogue",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "active", "in": "query", "required": false, "schema": { "type": "boolean" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CatalogueBundle" } } }
          }
        }
      }
    },
    "/catalogue/auditCatalogue/{id}": {
      "patch": {
        "tags": ["catalogue"],
        "summary": "Audits a Catalogue.",
        "operationId": "auditCatalogue",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "actionType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "REGISTERED",
                "APPROVED",
                "REJECTED",
                "UPDATED",
                "UPDATED_VERSION",
                "ACTIVATED",
                "DEACTIVATED",
                "SUSPENDED",
                "UNSUSPENDED",
                "VALID",
                "INVALID",
                "CREATED",
                "MOVED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CatalogueBundle" } } }
          }
        }
      }
    },
    "/adapter/verify/{prefix}/{suffix}": {
      "patch": {
        "tags": ["adapter"],
        "operationId": "verify_2",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": false, "schema": { "type": "boolean" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdapterBundle" } } }
          }
        }
      }
    },
    "/adapter/publish/{prefix}/{suffix}": {
      "patch": {
        "tags": ["adapter"],
        "operationId": "setActive_5",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "active", "in": "query", "required": true, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdapterBundle" } } }
          }
        }
      }
    },
    "/adapter/audit/{prefix}/{suffix}": {
      "patch": {
        "tags": ["adapter"],
        "operationId": "audit_1",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The left part of the ID before the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "suffix",
            "in": "path",
            "description": "The right part of the ID after the '/'",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "catalogueId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "comment", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "actionType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "REGISTERED",
                "APPROVED",
                "REJECTED",
                "UPDATED",
                "UPDATED_VERSION",
                "ACTIVATED",
                "DEACTIVATED",
                "SUSPENDED",
                "UNSUSPENDED",
                "VALID",
                "INVALID",
                "CREATED",
                "MOVED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdapterBundle" } } }
          }
        }
      }
    },
    "/wizard/step3": {
      "get": {
        "tags": ["wizard"],
        "summary": "Create main Catalogue",
        "operationId": "createCatalogue",
[...]
