.container
  .row.media.mb-5.service-box.shadow-sm.p-4.mt-4.profile
    %i.fas.fa-user-circle.fa-7x
    .ml-4.mt-2
      %p.display-1.mb-1
        = current_user.first_name
        = current_user.last_name
      %p.display-2.font-weight-light
        = current_user.email
