.container
  %h2 What is a RAiD project?
  %p A RAiD Project is a research project assigned a Research Activity Identifier.

  %p Researchers can use this unique and persistent identifier to manage their work.
  It keeps track of the identifiers of all related research activities within the project’s metadata.

  = link_to "Learn more about RAiD", "https://raid.org/"
