- content_for :title, _("Create new RAID Project")
- breadcrumb :project_new
.container
  #form-container
    .mb-5.pb-2.border-header
      %h1.mr-auto.my-auto= _("Create new RAID Project")
      = turbo_frame_tag dom_id(@raid_project) do
        = render "raid_project/steps/step5", raid_project: @raid_project, show_recaptcha: true

  
