-# - content_for :title, _("Create new RAID Project")
-# - breadcrumb :project_new
-# .container
-#   #form-container
-#     .mb-5.pb-2.border-header
-#       %h1.mr-auto.my-auto= _("Create new RAID Project")
-#     = render "raid_projects/form/step_1", raid_project: @raid_project, show_recaptcha: true

  
