.row
  .col-3
    .instance-badge
      - collapsed = cookies["badge-text"] == "true"
      %span.badge.badge-danger
        %a{ href: "#badge-text", "data-toggle": "collapse",
              role: "button", "aria-expanded": "true" }
          %span#badge-text.collapse{ class: ("show" unless collapsed), "data-target": "form" }
            = t("badge.#{ENV.fetch("MP_INSTANCE", nil)}")
            -# TODO: refactor dynamic translation (above)
          .fas.fa-chevron-left
          .fas.fa-chevron-right
