.container
  .mt-4.mb-4
    -#
      Note. Current version of gretel (3.0.9) doesn't support :bootstrap correctly.
      It doesn't add .breadcrumb-item to items, breaking the compatibility.
      In case this is fixed in some time in the future it may make sense to update
      and use style: :boostrap. (https://github.com/lassebunk/gretel/pull/73)
    = breadcrumbs separator: " &rsaquo; "
