- if external_search_enabled
  %eosc-common-main-footer{ "terms-of-use": "#{external_search_url}/acceptable-use-policy",
                            "privacy-policy": "#{external_search_url}/privacy-policy" }
- else
  %eosc-common-main-footer
