%nav
  %eosc-common-main-header.common-header{ name: current_user&.first_name.to_s,
                                            surname: current_user&.last_name.to_s,
                                            loginUrl: user_checkin_omniauth_authorize_url,
                                            '(onLogout)': 'document.getElementById("hidden_logout").click();' }
  = link_to "logout",
            destroy_user_session_path,
            method: :delete,
            id: "hidden_logout",
            style: "display: none;",
            "data-e2e": "logout"
