-# temporary measure should be removed in the future
.alert.alert-success.mb-0.text-center
  -# haml-lint:disable MultilinePipe
  = _("EOSC Marketplace has been integrated with a new joint catalogue exposing both services and research" + |
      " products. Please note that the search capabilities of the Marketplace, including these available from" + |
      " the services' entry pages, are focusing on the services only, while all EOSC Resources are findable" + |
      " via the new search interface.") |
  -# haml-lint:enable MultilinePipe
- if alert
  .alert.alert-danger.mb-0.text-center.flash-container{ role: "alert" }
    = alert
- elsif notice
  .alert.alert-success.mb-0.text-center.flash-container{ role: "alert" }
    = notice
