.alert.mb-0.text-center.flash-container{ class: "alert-#{type == "notice" ? "success" : "danger" }", role: "alert",
  "data-controller": "removals", "data-action": "animationend->removals#remove click->removals#remove" }
  = msg
