%meta{ property: "og:title", content: meta_og_title_content }
%meta{ property: "og:description", content: meta_og_description_content }
%meta{ property: "og:image", content: image_url("eosc_meta_logo.png") }
