#ajax-modal.modal{ tabindex: "-1", role: "dialog", aria: { hidden: "true" } }
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header
        %h3#ajax-modal-title.modal-title
        %button.close{ type: "button", data: { dismiss: "modal" }, aria: { label: "Close" } }
          %span{ aria: { hidden: "true" } } &times;

      #ajax-modal-body.modal-body

      .modal-footer
        %button#ajax-modal-action-btn.btn.btn-primary.pl-5.pr-5.float-left{ type: "button",
        type: "submit", form: "modal-form" } New
        %button.close.close-link.pl-3.pr-3{ type: "button", data: { dismiss: "modal" } }
          %span Close

