= render "layouts/navbar/sections"

- if external_search_url || request.fullpath.include?("backoffice")
  .container.eosc-back-search-bar
    .eosc-back-link
      .chevron-left
      %a{ href: external_search_url(include_query: true) }
        Go to Search
- else
  .whitelabel-header-container
    %section.header
      .col-lg-6.col-sm-12.mx-auto
        = render "services/search", categories: categories, query_params: query_params
