%p
  You may have notice us upgrading your Profile view.
  We added the possibility to Subscribe for updates to help you
  to receive notifications for new events,
  possibility to add your Interests in Research areas and Categories
  to help you to receive a personalised search results.
  You are able to delete/ update your profile at any time now.
