-# haml-lint:disable MultilinePipe
%p
  = _("You may have notice us upgrading your Profile view. We added the possibility to Subscribe for updates to " + |
  "help you to receive notifications for new events, possibility to add your Interests in Scientific domains and " + |
  "Categories to help you to receive a personalised search results. You are able to delete information on the " + |
  "profile page or update them at any time.") |
-# haml-lint:enable MultilinePipe
