:javascript
  if (!window.popstateHandler) {
    window.recommendationSourceId =
      #{ @recommendation_source_id.nil? ? "null" : ("'" + h(sanitize(@recommendation_source_id) + "'")) };

    window.recommendationLastPageId =
      #{ @last_page_id.nil? ? "null" : ("'" + h(sanitize(@last_page_id) + "'")) };

    window.recommendationPrevious =
      #{ @recommendation_previous.nil? ? "null" : h(sanitize(@recommendation_previous)) };

    if (window.recommendationSourceId != null) {
      sessionStorage.setItem('sourceId', window.recommendationSourceId);
    }

    if (window.recommendationLastPageId != null) {
      sessionStorage.setItem('lastPageId', window.recommendationLastPageId);
    }

    if (window.recommendationPrevious != null) {
      sessionStorage.setItem('previousId', window.recommendationPrevious.visit_id);
    }

    window.probesInitialized = false;
  }
  window.popstateHandler = false;
