.social-wrapper
  %ul
    %li
      = mail_to "contact@eosc-portal.eu", subject: "EOSC Portal" do
        %i.fa.fa-envelope
    %li
      = link_to "https://twitter.com/eoscportal" do
        %i.fab.fa-twitter
    %li
      = link_to "https://www.youtube.com/playlist?index=1&list=UUHsaUFy5LJ3rJ28qDg2StGA&playnext=1" do
        %i.fab.fa-youtube

= render "layouts/eosc_common_nav"
