.social-wrapper
  %ul
    %li
      = mail_to "contact@eosc-portal.eu", subject: "EOSC Portal" do
        %i.fa.fa-envelope
    %li
      = link_to "https://twitter.com/eoscportal" do
        %i.fab.fa-twitter
    %li
      = link_to "https://www.youtube.com/playlist?index=1&list=UUHsaUFy5LJ3rJ28qDg2StGA&playnext=1" do
        %i.fab.fa-youtube

%nav
  %eosc-common-main-header.common-header{ username: current_user.present? ?
                                            current_user&.first_name.to_s + " " + current_user&.last_name.to_s
                                            : "",
                                            "login-url": user_checkin_omniauth_authorize_url,
                                            "(on-logout)": "document.getElementById('hidden_logout').click()" }
  = link_to "logout",
            destroy_user_session_path,
            method: :delete,
            id: "hidden_logout",
            style: "display: none;",
            "data-e2e": "logout"
