!!!
%html{lang: "en"}
  = render 'layouts/head'
  %body
    = render 'layouts/navbar'
    %main
      .container-fluid
        = render "services/search"
        = yield
    %footer.footer
      .container
        %span.text-muted 2018 EOSC Portal
