!!!
%html{ lang: "en" }
  = render "layouts/head"
  %body
    = render "layouts/flash"
    %header
      Logo
    %main
      .alert.alert-info
        This is a layout stub for ordered service. It can be found in
        %code layouts/ordered.html.haml
      = yield
  = render "layouts/footer"


