%li.list-group-item{ id: clazz.type, "data-template": template, "data-action": "click->offer#selectParameterType",
                           "data-target": "offer.attributeType" }
  = I18n.t("parameters.#{clazz.type}.add")
  = image_tag("help-circle.svg", "data-toggle": "tooltip", title: tooltip_text)
