%li.dropdown-item{ role: "option",
  "data-autocomplete-value": "#{offer.service_id}",
  "data-autocomplete-type": "service",
  "data-autocomplete-anchor": "#{offer.id}" }
  %span= service_titles[offer.service_id]
  >
  = highlights[:offer_name].html_safe
