%p.list-header Services
- results.each do |elem, highlights|
  - if highlights[:title]
    = render "services/autocomplete/service_item", service: elem, highlights: highlights
%p.list-header Offers
- results.each do |elem, highlights|
  - if highlights[:name]
    = render "services/autocomplete/offer_item", offer: elem,
      highlights: highlights,
      service_titles: service_titles
